// filters
.transactions-filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 12px 0;


  &.padding-left {
    padding-left: 36px;
  }
  &.align-for-inputs {
    padding: 0 0 23px 29px;
    @media (max-width: 760px) {
      padding-left: 9px;
      padding-bottom: 10px;
    }
  }
  .top-bar {
    display: flex;
    flex-wrap: wrap;
    & > {
      margin-right: 15px;
    }
  }
  .btn {
    position: static;
    margin: 12px 12px 0 0;
    height: max-content;

    &.filter {
      height: 30px;
      min-width: 30px;
      color: #8AA5C7;
      font-size: 12px;
      min-height: auto;
      border-radius: 2px;
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(137,151,169,0.3);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.7;
      }
      i {
        font-size: 15px;
      }
      &.active {
        background-color: rgba(147,169,195,0.24);
        box-shadow: none;
      }
    }
  }
  .monitors-table {
    display: table;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #efefef;

    tr {
      td {
        padding: 5px;

        a {
          color: #00C8FF;
        }
      }
    }
  }
}
