// filters
.transactions-filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 12px 0;


  &.padding-left {
    padding-left: 36px;
  }
  &.align-for-inputs {
    padding: 0 0 23px 29px;
    @media (max-width: 760px) {
      padding-left: 9px;
      padding-bottom: 10px;
    }
  }
  .top-bar {
    & > {
      margin-right: 15px;
    }
  }
  .bottom-bar {

  }
  .btn {
    position: static;

    &.filter {
      height: 30px;
      min-width: 30px;
      color: #8AA5C7;
      font-size: 12px;
      min-height: auto;
      border-radius: 2px;
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(137,151,169,0.3);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.7;
      }
      i {
        font-size: 15px;
      }
      &.active {
        background-color: rgba(147,169,195,0.24);
        box-shadow: none;
      }
    }
  }
  @media(max-width: 768px) {
    padding: 0 25px !important;
  }
}

// info box
.info-box {
  border-radius: 3px;
  margin-bottom: 15px;

  &.mt {
    margin-top: 25px;
  }

  &.info {
    background: #666666;
    color: #fff;
  }

  &.danger {
    background-color: #e74c3c;
    color: #fff;
  }

  &.success {

  }

  &.warning {
    background: #f39c12;
    color: #fff;
  }

  &.no-padding-on-the-sides {
    padding-left: 0;
    padding-right: 0;
  }

  &.simple {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    color: #000;
  }

  padding: 18px 40px;
  color: #000;

  a {
    color: #00C8FF;
  }

  ul {
    li {
      padding: 0 0 0 15px;
      display: block;
      position: relative;
      color: #fff;
      line-height: 1.6;

      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        height: 6px;
        width: 6px;
        background: white;
        border-radius: 100%;
      }
    }
  }
}

