@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.eot');
	src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Roboto-Regular.woff2') format('woff2'),
	url('/fonts/Roboto-Regular.woff') format('woff'),
	url('/fonts/Roboto-Regular.ttf') format('truetype');
}

html, body {
  height: 100vh;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	list-style: none;
	//color: #101010;
	color: #3D5A7E;
}

html, body {
	background-color: #F5F7FC;
	word-break: break-word;
	font-family: "BBRollerMonoProST", sans-serif;
	font-weight: 400;
}

.p-xs-0 {
	@media (max-width: 576px) {
		padding: 0 !important;
	}
}

// These styles counted only for desctop version
#root {
	&.isDesctop {
		.form-group {
			transform: translateY(1px)
		}
		.input-icon {
			height: 33px;
			transform: translateY(2px);
		}
		.input-group-append {
			height: 32px;
			transform: translateY(2px);
		}
	}
}

//*:focus, *:active, *:hover {
//  box-shadow: none !important;
//  -webkit-box-shadow: none !important;
//}

::placeholder {
	color: #98B0CD !important;
	font-size: 14px;
	line-height: normal;
	font-family: "BBRollerMonoProST", sans-serif;
	opacity: 1;
	font-weight: 400;
}

:-ms-input-placeholder {
	color: #98B0CD !important;
}

.bg-gray {
	background: #F5F5F5;
}

.cursor-pointer {
	cursor: pointer;
}

.no-white-space {
	white-space: normal;
	overflow: visible;
	-o-text-overflow: unset;
	text-overflow: unset;
	word-wrap: break-word;
}

.show-media {
	@media(max-width: 768px) {
		display: inline;
	}
}

.transparent {
	background: transparent;

	& > * {
		background: transparent !important;
	}
}

.hide-desktop {
	@media(min-width: 768px) {
		display: none;
	}
}

.break-word {
	word-break: break-word;
}

::-ms-input-placeholder {
	color: #a6a6a6 !important;
}

.custom-hint {
	position: absolute;
	z-index: 10;
}

.word-brake-for-info {
	word-break: break-all;
	width: 100%;
	word-wrap: anywhere;
}

html {
	height: 100%;

	body {
		height: 100%;

		#root {
			height: 100%;
			overflow-y: auto;

			& > div {
				height: 100%;

				.site-content {
					//height: 100%;

					& > div {
						height: 100%;

						&.site-footer {
							height: auto;
						}

						.page-content {
							height: 100%;

							.page-body {
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

a {
	cursor: pointer;
	display: inline-block;
}

button {
	border: 0;
}

* {
	outline: none;
}

span {
	&.blue {
		color: #00C8FF;
	}
}

.position-md-absolute {
	@media(min-width: 1024px) {
		position: absolute !important;
	}
}

.position-sm-static {
	@media(max-width: 768px) {
		position: static !important;
	}
}

.flex {
	display: flex;
}

.position-relative {
	position: relative;
	z-index: 2;
	& + .info-box {
		margin-top: 30px;
	}
}

input[type="checkbox"] {
	height: 16px;
	width: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	border: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	border-radius: 3px;
	padding: 0 !important;
	position: relative;

	&.lighten {
		&:after {
			background-image: url(/assets/checked-lighten.svg);
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 1px;
		bottom: 1px;
		left: 1px;
		right: 1px;
		background-image: url(/assets/checked.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: none;
	}
	&:checked {
		&:after {
			display: block;
		}
	}
}

.form-check-input {
	cursor: pointer;
}

input[type="tel"],
input[type="number"] {
	position: relative;
}

input[type="radio"] {
	width: auto;
	display: inline-block !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	background: url(/assets/number-arrows.png) no-repeat center center;
	background-size: contain;
	width: 9px;
	margin-right: 6px;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.input-text-wrap {
	display: flex;
	flex: 1;
	position: relative;
}

.input-number-wrap {
	-webkit-appearance: none;
	background: url(../../../assets/number-arrows.png) no-repeat center center;
	background-size: contain;
	width: 9px;
	margin-right: 6px;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	display: flex;
	flex: 2;
	flex-direction: column;
}

.input-number-up {
	display: flex;
	flex: 1;
}

.input-number-down {
	display: flex;
	flex: 1;
}

.notification-message {
	.title {
		color: white;
	}
}

.word-brake {
	word-wrap: break-word;
	word-break: break-word;
	display: block;
	a, p {
		display: block;
	}
}

.loader-box {
	&.white {
		.ball-pulse {
			div {
				background-color: #fff;
			}
		}
	}
	.ball-pulse {
		div {
			background-color: #00C8FF;
		}
	}
}

textarea {
	border: 1px solid #E5E5E5;
	border-radius: 6px;
	resize: none;
	background-color: #F5F5F5;
	padding: 10px 20px;
	box-sizing: border-box;
	font-size: 13px;
}

input {
	padding: 10px 20px;
	font-size: 13px;

	&.not-active {
		pointer-events: none;
	}
}

input[type="file"] {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.input-file-area {
	width: calc(100% - 59px);
	border: 1px solid;
	border-radius: 0 5px 5px 0;
	border-color: #e5e5e5;
	border: 1px solid #E5E5E5;
	background-color: transparent;
	display: flex;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;

	.input-file-name {
		padding-left: 12px;
		margin: auto 0;
		font-size: 11px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: pre;
	}
}

.contacts-list {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	margin: 1px 15px 0 15px;
	z-index: 4;
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	display: none;

	&.active {
		opacity: 1;
		transform: none;
		visibility: visible;
		margin-top: -1px;
		display: block;
	}

	ul {
		background-color: #ffffff;
		box-shadow: 0 6px 10px 0 #e5e5e5;

		li {
			border-bottom: 1px solid #E5E5E5;
			&:hover {
				background-color: #F5F7FC;
			}

			&:last-child {
				border-bottom: 0;
			}
			a {
				padding: 10px 15px;
				display: block;
				width: 100%;
				color: #3D5A7E;
			}
		}
	}
}

[data-blue-link-text] {
	color: #2547F4;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #F5F7FC;
}

/* Handle */
::-webkit-scrollbar-thumb {
	transition: 0.3s;
	background: #2B36FF;
	border: 3px solid #F5F7FC;
	&:hover {
		border: none;
	}
}

[data-notification] {
	&:after {
		content: attr(data-notification);
		position: absolute;
		top: -10px;
		right: -10px;
		color: #333;
		font-weight: 700;
		font-size: 11px;
		height: 21px;
		width: 21px;
		line-height: 18px;
		text-align: center;
		background-color: #00C8FF;
		border-radius: 100%;
		border: 3px solid #333;
		font-family: "BBRollerMonoProST", sans-serif;
	}
	&.big-count {
		&:after {
			right: -20px;
			width: auto;
			padding: 0 2px;
			font-family: "BBRollerMonoProST", sans-serif;
		}
	}
}

.blue-text {
	color: #2547F4;
	font-weight: normal;
	font-size: 14px;
}

.no-image {
	height: 100px;
	width: 150px;
	border-radius: 3px;
	background-color: #E5E5E5;
	display: flex;

	i {
		margin: auto;
		font-size: 50px;
		color: #fff;
	}
}


.page-loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F5F5F5;
	z-index: 1000000;

	.connection {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		&.problem {
			.zmdi {
				font-size: 60px;
				color: #e74c3c;
				display: block;

			}
		}
	}
	.ball-scale-multiple {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(0, -50px);

		div {
			height: 80px;
			width: 80px;
			background: #00C8FF;
		}
	}
}

.chart-sprite {
	position: relative;

	&.position-1 {
		&:after {
			background-position: 0% 100%;
		}
	}

	&.position-2 {
		&:after {
			background-position: 33.33% 100%;
		}
	}

	&.position-3 {
		&:after {
			background-position: 66.66% 100%;
		}
	}

	&.position-4 {
		&:after {
			background-position: 100% 100%;
		}
	}

	&:after {
		background-image: url(/assets/chart.png);
		background-size: 400% 50%;
		background-repeat: no-repeat;
		content: '';
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}

.site-logo {
	height: 100px;
	display: flex;
	width: 235px;

	&:hover {
		img {
			opacity: 0.7;
		}
	}

	&.page-loader-image {
		mask-image: url("https://apollowallet.org/apollo-logo.svg");
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: 40px 40px;
		height: 40px;
		width: 40px;
	}
	img {
		transition: 0.2s;
		margin: auto;
		height: 32px;
		width: 32px;
	}
}

.token {
	color: white;
}

.white-space {
	white-space: pre;
}

.itatic {
	font-style: italic;
}

.no-brake-word {
	word-wrap: normal;
	word-break: normal;
}

div.info-box {
	word-wrap: break-word;
	word-break: break-word;
	padding: 15px 20px;
	border-radius: 3px;
	font-size: 11px;
	line-height: 13px;
	margin-bottom: 15px;
	width: 100%;
	height: fit-content;
	li {
		color: #ffffff;
		font-size: 11px;
		line-height: 13px;
		margin-bottom: 10px;
		padding: 0 0 0 30px;
		display: block;
		position: relative;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 0;
			height: 6px;
			width: 6px;
			background: white;
			border-radius: 100%;
		}

		&.check-icon:before {
			top: 3px;
			content: '';
			height: 10px;
			width: 13px;
			background: url(/assets/check-icon.png) center no-repeat;
			background-size: contain;
		}

		&.minus-icon:before {
			top: 6px;
			content: '';
			height: 3px;
			width: 13px;
			background: url(/assets/minus-icon.png) center no-repeat;
			background-size: contain;
		}

		&.danger-icon:before {
			top: 4px;
			content: '';
			height: 11px;
			width: 13px;
			background: url(/assets/danger-icon.png) center no-repeat;
			background-size: contain;
		}
	}
	&.light-info {
		background-color: #3d5a7e;
		box-shadow: 0 10px 20px 0 rgba(30, 30, 30, 0.1);
		padding: 15px;
		p {
			color: #ffffff;
			display: flex;
			align-items: center;
		}
		.icon {
			height: 20px;
			margin-right: 20px;
		}
	}
	&.dark-info {
		background-color: rgba(13, 15, 17, 0.45);
		box-shadow: 0 10px 20px 0 rgba(30, 30, 30, 0.1);
		padding: 15px;
		p {
			color: #ffffff;
			display: flex;
			align-items: center;
		}
		.icon {
			height: 20px;
			margin-right: 20px;
		}
	}
	&.attention-left {
		border-left: 4px solid #25F459;
		border-radius: 0;
		background-color: #f5f7fc;
		p {
			flex-direction: column;
			align-items: flex-start;
			span {
				color: rgba(0,189,32,0.92);
			}
		}
	}
	&.blue-info {
		background-color: #2547F4;
		color: #fff;
	}
	&.info {
		background: #98b0cd;
		color: #fff;
		a {
			color: #2B23FF;
		}
	}
	&.success {
		background: linear-gradient(179.43deg, #2AC940 0%, #31D947 100%);
		color: #fff;
	}
	&.danger {
		background-color: #ff3366;
		color: #fff;
	}
	&.warning {
		background: #f39c12;
		color: #fff;
	}
	&.simple {
		background: transparent;
		padding-left: 0;
		padding-right: 0;
		color: #8AA5C7;
	}
	&.no-padding-on-the-sides {
		padding-left: 0;
		padding-right: 0;
	}
	&.no-padding-top {
		padding-top: 0;
	}
	&.no-margin {
		margin: 0;
	}
	&.nowrap {
		word-break: unset;
	}
	&.mt {
		margin-top: 25px;
	}
	a {
		color: #2547F4;
	}
}

.no-margin {
	margin: 0 !important;
}

.phased-transaction {
	.phasing-box__phasing-description {
		min-width: 102px;
		background-color: #fff;
		box-sizing: border-box;
		color: #98B0CD;
		border: 1px solid #E6EAEE;
		box-shadow: 0 7px 15px 0 rgba(218,218,218,0.49);
		border-radius: 3px;
		font-size: 10px;
		text-align: center;
		padding: 12px 6px;
		animation: scale .3s;
		transform-origin: 75% 75%;
		margin-bottom: 15px;
		position: relative;

		&::after {
			content: '';
			height: 15px;
			width: 15px;
			border-bottom: 1px solid #E6EAEE;
			border-right: 1px solid #E6EAEE;
			transform: rotate(45deg);
			position: absolute;
			left: calc(50% - 4px);
			bottom: -8px;
			z-index: 2;
			background: #fff;
		}
	}
	.phasing-box__phasing-title {
		color: #3D5A7E;
		font-size: 12px;
		font-weight: 600;
		line-height: 14px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 4px;
	}
}

.no-padding {
	padding: 0 !important;
}

.overflow-hidden {
	overflow: hidden;
}

.pre {
	white-space: pre;
}

.block {
	display: block;
}

.offset-top {
	padding-top: 25px;
}

.offset-bottom {
	padding-bottom: 25px;
}

.display-block {
	display: block;
}

.display-flex {
	display: flex;
}

.info-table {
	display: table;
	max-width: 400px;

	&.dlock {
		.t-row {
			display: block;

			.t-cell {
				display: block;
			}
		}
	}
	.t-row {
		display: table-row;

		.t-cell {
			display: table-cell;
			padding-bottom: 15px;

			span {
				padding-right: 15px;
				font-size: 15px;
			}
		}
	}
}



.preview-image-container {
	padding: 5px;
	border-radius: 6px;
	border: 1px solid #E5E5E5;
	width: 150px;
}

.preview-image {
	padding: 0;
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

// components

.unset-text-overflow {
	text-overflow: unset;
	max-width: fit-content;
}

.btn-box {
	width: 100%;
	height: auto;
	padding: 12px;
	text-overflow: unset;
	&.pagination {
		position: relative;
		justify-content: space-between;
		display: flex;
		margin-top: 0;
		.btn {
			float: none;
			font-size: 10px;
			letter-spacing: -0.08px;
			line-height: 12px;
			min-width: 35px;
			min-height: auto;
			padding: 2px 4px;
			&.disabled {
				box-shadow: none;
			}
		}
		.pagination-nav {
			font-size: 12px;
			font-weight: normal;
			position: relative;
			top: auto;
			transform: none;
			left: auto;
			bottom: auto;
		}
	}
	&.form-footer {
		padding: 12px 0;
	}
	&.under-table {
		transform: translate(0, 0px);
		@media (max-width: 1024px) {
			transform: translate(0, -17px);
		}
	}
	&.align-right {
		text-align: right;
	}
	&.align-left {
		text-align: left;
	}
	&.inline {
		display: inline-block;
		position: static !important;
		height: auto;
		//margin-right: -15px;

		& > * {
			display: inline;
			margin-left: 15px;
			//margin-right: 15px;
			//@media (max-width:q 1100px) {
			//	margin-right: 30px;
			//}
		}
	}
	&.success {
		& > * {
			color: #2ecc71;
		}
	}
	&.danger {
		& > * {
			color: #e74c3c
		}
	}
	&.relative {
		position: relative;
		height: 38px;
	}
	&.padding-bottom {
		padding-bottom: 15px;
	}
	&.more-padding {
		margin-right: -15px;

		& > * {
			display: inline;
			margin-right: 15px;
		}
	}
	&.absolute {
		position: absolute;

		&.right-conner {
			bottom: 0;
			right: 0;
		}
		&.left-conner {
			bottom: 0;
			left: 0;
		}
		&.bottom {
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	&.align-buttons-inside {
		& > * {
			display: inline-block;
			position: relative;
			border-radius: 0;
		}
	}
	& > * {
		text-overflow: unset;
	}
	.btn {
		&.disabled {
			display: none;
		}
	}
}

// btn
.btn {
	border-radius: 2px;
	color: #8AA5C7;
	background-color: #FFF;
	text-align: center;
	font-size: 13px;
	font-family: "BBRollerMonoProST", sans-serif;
	font-weight: 500;
	letter-spacing: 0.46px;
	line-height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 80px;
	vertical-align: middle;

	&.under-table {
		transform: translate(0, 0px);
		@media (max-width: 1024px) {
			transform: translate(0, -17px);
		}
	}
	&.loading {
		pointer-events: none;
		position: relative;

		.button-loader {
			visibility: visible;
		}
		.button-text {
			visibility: hidden;
		}
	}
	&.oversized {
		margin: 5px 5px 5px 0;
	}
	&.lighten {
		background: #ecf0f1;
		color: #00C8FF;
	}
	&.success {
		background: #27ae60;
		color: #fff;
	}
	&.danger {
		background: #e74c3c;
		color: #fff;
	}
	.ball-pulse {
		transform: translateY(2px);
		text-align: center;

		div {
			display: inline-block;
			height: 7px;
			width: 7px;
		}
	}
	&, & > * {
		transition: all 0.3s ease-in-out;
	}
	&.underscore {
		&.general {
			.settings-bar {
				top: calc(100% + 45.6px) !important;
				@media (max-width: 1024px) {
					top: calc(100% + 49.6px) !important;
				}
				//@media (max-width: 760px) {
				//	top: 50px !important;
				//}
			}
			&:after {
				top: calc(100% + 43.5px);
				@media (max-width: 1024px) {
					top: calc(100% + 47px);
				}
			}
		}
		&.settings {
			.settings-bar {
				top: calc(100% + 40.6px) !important;
				@media (max-width: 760px) {
					position: fixed !important;
					background-color: #333333 !important;
					height: calc(100vh - 50px) !important;
					max-height: 100vh !important;
					width: 100% !important;
					top: 50px !important;
					left: 0 !important;
					right: 0 !important;
				}
			}
			&:after {
				top: calc(100% + 37px);
				@media (max-width: 760px) {
					display: none !important;
				}
			}
		}
		&.account {
			&:after {
				top: calc(100% + 23px);
				left: auto;
			}
		}
		&.active {
			&.account {
				&:after {
					width: 25px !important;
				}
			}
			&:after {
				width: 100%;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: calc(100% + 69px);
			z-index: 4;
			left: 0;
			width: 0%;
			right: 0px;
			height: 3px;
			background-color: #00C8FF;
			transition: all 0.3s ease-in-out;
			@media (max-width: 1024px) {
				top: calc(100% + 75px);
			}
		}
	}
	&.revert-content {
		.to-revert {
			transform: rotateX(-180deg);
		}
	}
	&.absolute {
		position: absolute;
	}
	&.icon-button {
		border: 1px solid #101010;
		padding: 3px 8px !important;

		i {
			padding-top: 1px;
			font-size: 20px;
			color: #000;

		}
	}
	&.with-out-border {
		border: 0 solid rgba(#fff, 0) !important
	}
	&.filters {
		border: 1px solid transparent;

		&.active {
			border: 1px solid #101010;
			@media (max-width: 760px) {
				border: 1px solid #fff;
				.zmdi {
					margin-top: -1px;
				}
			}
		}
	}
	&.filter {
		height: 30px;
		min-width: 30px;
		color: #8AA5C7;
		font-size: 12px;
		min-height: auto;
		border-radius: 2px;
		background-color: #FFF;
		box-shadow: 0 1px 4px 0 rgba(137,151,169,0.3);
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			opacity: 0.7;
		}
		i {
			font-size: 15px;
		}
		&.active {
			background-color: rgba(147,169,195,0.24);
			box-shadow: none;
		}
	}
	.no-border {
		border: 0;
	}
	&.transparent {
		background-color: rgba(255, 255, 255, 0) !important;
	}
	&.btn-xs {
		font-size: 10px;
		letter-spacing: -0.08px;
		line-height: normal;
		min-width: 35px;
		min-height: 20px;
		padding: 4px 6px;
		height: auto;
	}
	&.btn-sm {
		font-size: 11px;
		min-width: 40px;
		min-height: 29px;
	}
	&.btn-lg {
		width: 100%;
		padding: 15px;
		text-transform: uppercase;
		font-weight: 600;
		height: 45px;
		min-height: 45px;
	}
	&.btn-simple {
		color: #8AA5C7;
		padding-left: 0;
		background: transparent;
		min-height: auto;
	}
	&.btn-right {
		float: right;
		right: 12px;
		bottom: 12px;
	}
	&.btn-left {
		float: left;
		left: 12px;
		bottom: 12px;
	}
	&.static {
		position: static;
	}
	&.gray {
		background: #666666;
	}
	&.btn-secondary {
		display: flex;
		flex-direction: column;
		transition: background-color 0.3s;
		&.btn-green {
			box-shadow: none;
		}
	}
	&.primary {
		padding: 5px 7px;
		background: #666666;
		color: #fff;
		border-radius: 6px;
		font-size: 12px;
		min-height: 25px;
		//font-weight: 100;
		letter-spacing: -0.1px;
		margin-top: 15px;
		position: static;

		&.bigger {
			padding: 11px 10px 9px 10px;
		}
	}
	&.outline-primary {
		padding: 5px 7px;
		background: transparent;
		border: 1px solid #666666;
		color: #666666;
		border-radius: 6px;
		font-size: 12px;
		min-height: 25px;
		font-weight: 100;
		letter-spacing: -0.1px;
		margin-top: 15px;
		position: static;

		&.bigger {
			padding: 11px 10px 9px 10px;
		}
	}
	&.outline-transparent {
		padding: 5px 7px;
		background: transparent;
		border: 1px solid transparent;
		color: #666666;
		border-radius: 6px;
		font-size: 12px;
		min-height: 25px;
		font-weight: 100;
		letter-spacing: -0.1px;
		margin-top: 15px;
		position: static;

		&.bigger {
			padding: 11px 10px 9px 10px;
		}
	}
	&.btn-default {
		color: #8AA5C7;
		background-color: #ffffff;
		box-shadow: 0 1px 4px 0 rgba(137,151,169,0.3) !important;
		&:hover {
			background: #f5f7fc;
		}
	}
	&.btn-grey {
		color: #98B0CD;
		background-color: rgba(152,176,205,0.15);
		box-shadow: none;
		svg {
			fill: #98B0CD !important;
			g use {
				stroke: #98B0CD;
			}
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&.btn-green {
		color: #ffffff;
		background: linear-gradient(270deg, #2AC940 0%, #31D947 100%);
		box-shadow: 0 10px 20px 0 rgba(37,244,89,0.26);
		&:hover {
			opacity: 0.8;
		}
	}
	&.btn-danger {
		color: #ffffff;
		background: linear-gradient(270deg, #ef2e5c 0%, #F36 100%);
		box-shadow: 0 10px 20px 0 rgba(255, 51, 102, 0.26);
	}
	&.btn-primary {
		color: #ffffff;
		background: linear-gradient(79.43deg, #2B36FF 0%, #535BFF 100%);
	}
	&.btn-green-disabled {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}
	&.blue {
		background: #00C8FF;
		color: #fff;
	}
	&.blue-disabled {
		background: #00C8FF;
		color: #fff;
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}
	&.gray-lighten {
		background: #E5E5E5;
		color: black;
	}
	&.round {
		border-radius: 0;

		&.round-top-left {
			border-top-left-radius: 6px;
		}
		&.round-bottom-right {
			border-bottom-right-radius: 6px;
		}
		&.round-bottom-left {
			border-bottom-left-radius: 6px;
		}
		&.round-top-right {
			border-top-right-radius: 6px;
		}
	}
	&.block {
		display: block;
		width: 100%;
		text-align: center;
	}
	.arrow {
		transform: translateY(1px);
	}
	&.disabled {
		display: inline-block !important;
		pointer-events: none;
		opacity: 0.5
	}
	&.submit-button {
		min-width: 80px;

		& > * {
			transition: 0s;
		}
	}

	.button-loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		visibility: hidden;
	}
}


.flexible-grid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	& > * {
		margin-top:   10px;
		margin-right: 10px;
	}
}

.input-block {
	width: 300px;
}

.color-box {
	height: 20px;
	width: 20px;
	border-radius: 3px;
}

.page-body-item {
	display: inline-flex;
	flex-direction: column;
	padding: 0 7.5px;
	min-width: 25%;
	height: 100%;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	@media (max-width: 1230px) {
		min-width: 50%;
		height: auto;
	}
	@media (max-width: 760px) {
		min-width: 100%;
		padding: 0;
	}

	.card {
		//margin: 15px;
		transition: 0.2s;

		&.card-tall {
			min-height: 520px;

			@media (max-width: 760px) {
				min-height: 360px;
			}
		}
		//.card-title {
		//	pointer-events: none;
		//}
	}
	.arrow-block {
		display: none;
		position: absolute;
		right: 13px;
		top: 13px;
		width: 20px;
		cursor: pointer;
		height: 20px;
		transition: 0.2s;
		backface-visibility: hidden;
		@media (max-width: 760px) {
			display: block;
		}
		&:hover {
			opacity: 0.6;
		}
		.arrow {
			position: absolute;
			width: 45%;
			height: 45%;
			top: 50%;
			left: 50%;
			transition: 0.2s;
			border: 1px solid;

			margin-top: -3px;
			transform: translate(-50%, -50%) rotate(45deg);
			border-color: transparent #fff #fff transparent;
		}
	}
	.form-group-app {
		display: table;
	}
	.show-hide-content {
		@media (max-width: 760px) {
			min-height: 185px;
			padding: 26px 20px;
			.arrow {
				margin-top: 2px;
				transform: translate(-50%, -50%) rotate(45deg);
				border-color: #fff transparent transparent #fff;
			}
			.page-body-item-content {
				max-height: 1000px;
				opacity: 1;
			}
		}
	}
	.page-body-item-content {
		@media (max-width: 760px) {
			max-height: 0;
			opacity: 0;
			transition: 0.2s;
			overflow: hidden;
		}
	}
}

.loader-container {
	position: absolute;
	bottom: 5px;
	right: 4px;

	span {
		color: #bbb;
		display: inline-block;
		transform: translateY(2px);
		padding-right: 15px;
	}

	& > div {
		display: inline-block;

		& > {
			div {
				height: 6px;
				width: 6px;
				background-color: #0050FF;
			}
		}
	}
}

table {
	tr > td {
		max-width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 70px;
	}
	td, th {
		.btn {
			white-space: nowrap;
		}
	}
}

.assets-exchange, .exchange-booth, .followed-pools {
	.card {
		height: 390px;
		justify-content: flex-start;
		.wrap-info {
			max-height: 228px;
			overflow: auto;
			margin-bottom: 12px;
		}
		.card-body {
			form {
				height: 100%;
			}
			.form-group-app {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
			}
		}
	}
	.sticky-block {
		position: sticky;
		overflow-y: auto;
		height: calc(100vh - 135px);
		max-height: 100%;
		top: 85px;
		@media (max-width: 767px) {
			position: relative;
			height: 100%;
			max-height: 226px;
			display: flex;
			top: unset;
		}
	}

	.assets-exchange-not-selected {
		height: calc(100vh - 183px);
		min-height: fit-content !important;
		@media (max-width: 1000px) {
			height: calc(100vh - 130px);
		}
		@media (max-width: 767px) {
			height: calc(100vh - 165px);
		}
		@media (max-width: 425px) {
			height: calc(100vh - 165px);
		}
	}
}

.exchange-booth {
	.card {
		height: 100%;
		&.custom-height {
			height: 450px;
		}
		.wrap-info {
			max-height: 288px;
		}
	}
}

.transactions-title {
	.title {
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@media (max-width: 760px) {
			white-space: normal;
		}
	}
	.btn {
		@media(max-width: 760px) {
			display: none !important;
		}
	}
	.btn.icon-button {
		&.mobile-btn {
			display: none !important;
			@media (max-width: 760px) {
				display: inline-block !important;
			}
			&:after {
				display: none !important;
			}
		}
		&.active {
			@media (max-width: 760px) {
				border: 1px solid #000
				//	display: none !important;
			}
		}
		.settings-bar {
			@media (max-width: 760px) {
				transition: 0.2s;
				position: static;
				display: none !important;
			}
		}
		&.FORGING_BODY_MODAL {
			display: inline-block !important;
		}
		@media (max-width: 760px) {
			display: none !important;
		}
	}
	.mobile-form-group-app {
		display: none !important;
		position: static;
		max-height: 0;
		overflow: hidden;
		transition: 0.2s;
		opacity: 0;
		padding: 0 20px !important;
		margin-left: -15px !important;
		margin-right: -15px !important;
		width: auto !important;
		@media (max-width: 760px) {
			display: block !important;
		}
		.input-section {
			padding: 0;
			.zmdi {
				width: 15px;
			}
			a {
				display: block;
			}
		}
		&.show {
			margin-top: 15px;
			opacity: 1;
			max-height: 300px;
			padding: 20px 20px !important;
		}
	}

}

.exchange-booth {
	.form-group-app {
		display: table;
	}
}

.custom-checkbox {
	padding-left: 16px;
	&.single {
		display: flex;

		input[type="checkbox"] {
			margin: 0;

		}
		.form-check-label::before,
		.form-check-label::after {
			display: none;

		}
	}
	.custom-control-input {
		z-index: 1;
		position: absolute;
		margin-left: -15px;
		margin-top: -1px;
	}
	.custom-control-input:checked ~ .custom-control-label::after {
		background-image: url(/assets/checked.svg);
		background-repeat: no-repeat;
		background-size: 10px;
		left: -14px;
		top: 0;
		box-shadow: none;
	}
	.custom-control-input ~ .custom-control-label::before,
	.custom-control-input:checked ~ .custom-control-label::before {
		height: 16px;
		width: 16px;
		border: 1px solid #E5E5E5;
		background-color: transparent;
		border-radius: 3px;
		color: #000000;
		top: -1px;
		left: -15px;
		box-shadow: none;
		cursor: pointer;
	}

	label.custom-control-label {
		padding-left: 10px;
		color: #3D5A7E;
	}
}

.modal-send-apollo {
	.mobile-class {
		.col-md-9 {
			@media (max-width: 760px) {
				padding-left: 120px;
			}
		}

		.col-sm-9 {
			@media (max-width: 760px) {
				padding-left: 120px;
			}
		}
	}
}

.no-followed-polls {
	padding: 12px;
}

.margin-top-13 {
	margin-top: 13px !important;
}

.custom-range {
	border: none;
	padding: 10px 0;
}

.site-footer {
	padding: 35px;
	//margin-top: 15px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	color: #8AA5C7;

	@media(max-width: 767px) {
		text-align: center;
		padding: 12px;
	}
}

.overflow-menu {
	position: fixed;
	top: 0;
	left: 235px;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
	transition: all 0.3s ease-in-out;
	opacity: 1;
	visibility: visible;
	animation: pulse 0.3s 1;

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}

	@media (max-width: 1000px) {
		left: 80px;
	}
	@media (max-width: 760px) {
		left: 0;
		top: 42px;
	}
}

@keyframes pulse {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.full-info td {
	white-space: normal;
	word-wrap: break-word;
}

.top-blocks {
	margin-left: - 7.5px !important;
	margin-right: - 7.5px !important;
	width: auto !important;

	& > * {
		padding: 0 7.5px
	}
}

.form-control {
	min-height: 32px;
}

.height-auto {
	height: auto !important;
}

.marketplace-preview {
	margin-bottom: 30px;
}

.no-file-selected {
	color: #999999;
	font-size: 12px;
	line-height: 14px;
}

.mt-20 {
	margin-top: 20px;
}

.nowrap {
	white-space: unset;
}

.bold {
	font-weight: bold;
}

.table-item {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 14px;
	margin-bottom: 14px;
	&:last-of-type {
		border-bottom: 1px solid rgba(#fff, 0);
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.asset-btns-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 15px;
	.btn {
		margin-top: 10px;
		margin-right: 10px;
	}
}

.absolute {
	position: absolute;
}

.label {
	color: #98B0CD;
	font-size: 11px;
}

.ml-15 {
	margin-left: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

svg {
	margin: 0;
}

.pointer {
  cursor: pointer;
}

.bg-white {
	background-color: #ffffff;
}

.bg-none {
	background-color: none;
}
