@media (max-width: 1550px) {
  .page-header {
    left: 220px;
    right: 0;
    width: calc(100% - 220px);

    .user-search-box {
      justify-content: flex-end;

      .search-bar {
        //width: calc(100% - 7.5px);
        //margin: auto  ;

        .user-account-actions {
          .user-account-rs {
            display: none;
          }
        }
        .user-account-rs {
          display: none;
        }
        .user-account-actions {
          .user-account-action {
            .settings-bar {
              height: 300px;
              overflow-y: auto;
              width: 300px;
              display: block;
            }
          }
        }
      }
      //.user-box {
      //  width: auto;
      //  margin: 0;
      //
      //  .user-name {
      //    display: none;
      //  }
      //}
    }
  }
}
@media(max-width: 1000px) {
  .site-content {
    margin-left: 95px;

    .page-content {
      .page-header {
        left: 100px;
        right: 0;
        width: calc(100% - 100px);
      }
      .page-body {
        &:after {
          left: 100px;
        }
      }
    }
  }
  .menu-bar {
    min-width: 135px;

    &.collapsed {
      min-width: 260px;

      .menu-bar-container {
        box-shadow: 0 0 40px 11px rgba(0,0,0,0.6);

        .site-logo {
          width: 220px;
        }
        nav {
          width: 220px;
          background-color: #333333;
          min-height: calc(100vh - 100px);

          ul {
            li {
              .text{
                color: #777777;
                font-size: 14px;
                padding: 25px 40px 25px 75px;
                display: block;
                position: relative;
                i.right {
                  display: block;
                }
                &.active {
                  color: #fff;

                  .zmdi {
                    height: auto !important;

                    &.left {
                      color: #00C8FF;
                    }
                  }
                }

                .zmdi {
                  font-size: 26px;
                  position: absolute;
                  color: #777777;
                  top: 50%;
                  transform: translateY(-50%);
                  height: auto !important;

                  &.left {
                    left: 40px;
                  }
                  &.right {
                    right: 20px;
                    font-size: 18px;
                  }
                }
                &:hover {
                  color: #fff;
                }
              }
              .dropdown-menu {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: absolute;
                left: 100%;
                top: -13px;
                min-width: 220px;
                background-color: #333333;
                box-shadow: 0 0 40px 11px rgba(0,0,0,0.6);
                padding: 15px 0;

                ul {
                  li {
                    display: block;
                    margin: 0;
                    padding: 0;

                    &:last-child {
                      a {
                        margin: 0;
                      }
                    }
                    a {
                      padding: 20px 40px;

                      &.active {
                        color: white;
                        text-decoration: underline;
                        box-sizing: border-box;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        //.collapse-button {
        //  min-width: 220px;
        //
        //  &.active {
        //    color: #fff;
        //
        //    .zmdi {
        //      transform: rotate(180deg);
        //    }
        //  }
        //
        //  .zmdi {
        //    font-size: 26px;
        //    position: absolute;
        //    color: #777777;
        //    top: 70%;
        //    transform: translateY(-50%);
        //    height: auto !important;
        //
        //    &.left {
        //      left: 40px;
        //    }
        //    &.right {
        //      right: 20px;
        //      font-size: 18px;
        //    }
        //  }
        //  &:hover {.collapse-button
        //    color: #fff;
        //  }
        //}
      }
    }
    .menu-bar-container {
      .site-logo {
        width: 100px;
      }
      nav {
        width: 100px;

        ul {
          li {
            .text {
              padding-left: 55px;
              font-size: 0px;
              
              i.right {
                display: none;
              }
            }
            .dropdown-menu {
              a {
                font-size: 13px;
              }
            }
          }
        }
      }
      //.collapse-button {
      //  width: 100px;
      //  display: block;
      //}
    }
  }
}