$card-margin: 8px;
$img-ratio-xl: 564/1140;

.dashboard, .exchange {
	color: #3D5A7E;
	font-size: 11px;
	line-height: 16px;
	padding-bottom: 12px;

	.text-success, .success {
		color: #2AC940;
	}

	.text-danger, .danger {
		color: #F36;
	}

	.dashboard-col-1, .dashboard-col-2, .dashboard-col-3 {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.dashboard-col-2 {
		flex: 2;
	}

	.dashboard-col-3 {
	}

	.cards-wrap {
		display: flex;
		margin: -8px;
	}

	.card {
		height: auto;
		width: auto;
		margin: 8px;
		overflow: auto;

		&.card-h-195 {
			height: 195px;
		}

		&.card-h-255 {
			height: 255px;
		}

		&.card-light {
			.card-title {
				box-shadow: none;
				color: #2547F4;
				font-size: 14px;
				line-height: 17px;

				.sub-title {
					color: #98B0CD;
					font-size: 11px;
					line-height: 13px;
					text-align: right;
				}
			}
		}

		&.card-primary-items {
			box-shadow: none;
			background: transparent;

			.general-info-item {
				border-radius: 5px;
				color: #ffffff;
				border-width: 2px;
				padding: 12px 6px 12px 18px;
				align-items: flex-start;
				justify-content: space-between;
				font-size: 14px;
				line-height: 14px;
				font-weight: 300;
				background: #2B23FF url(/assets/card-message-bg.png) left -5px center no-repeat;
				background-size: 75%;

				&:nth-child(2) {
					background: #2B23FF url(/assets/card-shuffling-bg.png) right -5px center no-repeat;
					background-size: 75%;
				}

				&:nth-child(3) {
					background: #2B23FF url(/assets/card-alias-bg.png) left -5px center no-repeat;
					background-size: 75%;
				}

				&:nth-child(4) {
					background: #2B23FF url(/assets/card-storage-bg.png) right -5px center no-repeat;
					background-size: 75%;
				}

				.top-bar {
					font-size: 32px;
					font-weight: 600;
					letter-spacing: -0.49px;
					line-height: 38px;
				}
			}
		}

		&.card-primary {
			border-radius: 5px;
			box-shadow: 0 10px 20px 0 rgba(0, 10, 204, 0.25);
			background: #2B23FF url(/assets/card-primary-background.png) right -8px bottom -18px no-repeat;
			background-size: 190px;
			color: #ffffff;

			.card-title {
				background: transparent;
				box-shadow: none;
				color: #fff;
				font-size: 14px;
				line-height: 17px;
				font-weight: 400;
			}

			.card-body {
				justify-content: space-between;
				display: flex;
				flex-direction: column;
				color: #ffffff;
			}
		}

		&.card-success {
			border-radius: 5px;
			background: linear-gradient(270deg, #2AC940 0%, #31D947 100%);
			box-shadow: 0 10px 20px 0 rgba(37, 244, 89, 0.26);
			color: #ffffff;

			.card-title {
				background: transparent;
				box-shadow: none;
				color: #fff;
				font-size: 14px;
				line-height: 17px;
				font-weight: 400;
			}

			.card-body {
				justify-content: space-between;
				display: flex;
				flex-direction: column;
			}
		}

		&.card-square {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #000;
		}

		&.card-transactions {
			position: absolute;
			width: calc(100% - 16px);
			height: calc(100% - 227px);
			top: 211px;

			&.empty {
				@media (max-width: 767px) {
					height: 125px;
					min-height: 125px;
				}
			}

			@media (max-width: 767px) {
				position: relative;
				top: 0;
				max-height: 586px;
			}
		}

		&.triangle-bg {
			background: #fff url(/assets/triangle-icon.svg) center bottom -30px no-repeat;
			background-size: contain;
		}

		.card-body {
			color: #3D5A7E;
			font-size: 11px;
			display: flex;
			flex-direction: column;

			p {
				color: #3D5A7E;
				font-size: 11px;
			}

			.label {
				color: #ffffff;
				font-size: 11px;
				line-height: normal;
			}

			.label-icon-left {
				margin-left: -15px;

				svg {
					float: none;
					display: inline-block;
					margin: 0 4px 0 0;
				}
			}

			.balance-info {
				color: #fff;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				.balance {
					//font-size: 38px;
					font-size: 26px;
					font-weight: 700;
					letter-spacing: -1px;
					line-height: normal;
				}

				.currency {
					font-size: 18px;
					font-weight: 300;
					letter-spacing: -0.47px;
					line-height: normal;
					margin-left: 12px;
				}
			}

			.wallet-info {
				.wallet-id-wrap {
					border-radius: 3px;
					background-color: rgba(255, 255, 255, 0.15);
					font-size: 16px;
					letter-spacing: 0.4px;
					line-height: normal;
					padding: 6px;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.transaction-item {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background-color: #FFF;
				box-shadow: 0 1px 4px 0 rgba(137, 151, 169, 0.3);
				margin-bottom: 5px;
				padding: 12px 9px;

				&:last-of-type {
					margin-bottom: 0;
				}

				.transaction-type {
					color: #3D5A7E;
					font-size: 12px;
					font-weight: 600;
				}

				.transaction-date, .transaction-confirmation {
					color: #93A9C3;
					font-size: 9px;
					letter-spacing: -0.25px;

					&.fee {
						text-align: right;

						.price {
							&__lg {
								@media (max-width: 1360px) and (min-width: 760px) {
									display: none;
								}
							}
							&__md {
								text-transform: lowercase;
								@media (max-width: 1360px) {
									text-transform: capitalize;
								}
							}
						}
					}
				}

				.transaction-amount {
					font-size: 12px;
					letter-spacing: -0.04px;
					white-space: nowrap;

					&__right {
						text-align: right;
					}
				}

				.transaction-rs-wrap {
					white-space: nowrap;
				}

				.transaction-you {
					color: #3D5A7E;
					font-size: 11px;
					font-weight: 600;
					letter-spacing: 0.27px;
					line-height: 13px;
				}

				.transaction-rs {
					color: #3D5A7E;
					font-size: 11px;
					letter-spacing: 0.27px;
					text-transform: uppercase;

					.transaction-type {
						border: 1px solid #2B36FF;
						color: #2B36FF;
						font-size: 11px;
						padding: 2px 5px;
					}
				}

				.arrow {
					height: 8px;
					width: 10.69px;

					&.success {
						fill: #2AC940;
					}

					&.danger {
						fill: red;
					}

					svg {
						margin: 0;
						max-width: initial;
					}
				}
			}

			.social-wrap {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: space-evenly;

				.social-row {
					display: flex;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: space-around;
				}
			}

			.social-item {
				cursor: pointer;
				transition: 0.3s;

				svg {
					fill: rgb(137, 151, 169);
				}

				&:hover {
					svg {
						fill: #2547F4;
						filter: drop-shadow(0 6px 4px rgba(43, 54, 255, 0.23));
					}
				}
			}

			.poll-item {
				display: flex;
				color: #93A9C3;
				font-size: 12px;
				line-height: 14px;
				font-weight: 300;

				.poll-item-icon {
					height: 15px;
					width: 15px;
					border-radius: 2px;
					background-color: #93A9C3;
					margin-right: 15px;
					color: #fff;
					display: flex;
					flex-shrink: 0;
					align-items: center;
					justify-content: center;
					font-size: 12px;
					font-weight: 300;
					letter-spacing: 0.3px;
					line-height: 11px;
				}
			}

			.tabs-wrap {
				display: flex;

				&.tabs-primary {
					.tab-item.active {
						border-color: #2547F4;
						color: #2547F4;
					}
				}

				.tab-item {
					width: 100%;
					border-radius: 3px;
					border: 1.5px solid #98B0CD;
					color: #98B0CD;
					font-size: 12px;
					font-weight: 500;
					line-height: 14px;
					text-align: center;
					padding: 6px;
					margin-right: 12px;
					text-transform: uppercase;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: 0.3s;
					white-space: nowrap;

					&:hover {
						opacity: 0.8;
					}

					&.active {
						color: rgba(0, 189, 32, 0.92);
						border-color: #2AC940;
					}

					&:last-of-type {
						margin: 0;
					}
				}
			}

			.switch-wrap {
				display: flex;

				.switch-item {
					width: 100%;
					border-bottom: 1.5px solid #98B0CD;
					color: #98B0CD;
					font-size: 12px;
					font-weight: 500;
					line-height: 14px;
					padding: 6px 12px 6px 0;
					margin-right: 12px;
					text-transform: uppercase;
					cursor: pointer;
					display: flex;
					align-items: center;
					transition: 0.3s;

					&:hover {
						opacity: 0.8;
					}

					&:last-of-type {
						margin: 0;
					}

					&.active {
						color: rgba(0, 189, 32, 0.92);
						border-color: #2AC940;
					}

					.zmdi {
						font-size: 15px;
					}
				}
			}

			.transaction-table {
				min-height: auto;
				border-radius: 0;
				.transaction-table-body {
					border-radius: 0;
				}
			}
		}

		&.card-price {
			margin-left: 0;
			margin-right: 0;

			.card-body {
				color: #3D5A7E;
				font-size: 14px;
				line-height: 17px;

				.price-wrap {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				.price {
					font-size: 30px;
					font-weight: 500;
					letter-spacing: -1px;
					line-height: normal;
				}
			}
		}

		.loader-box {
			.ball-pulse {
				display: inline-block;

				> div {
					background-color: #2B36FF;
					width: 4px;
					height: 4px;
				}
			}
			&.white {
				.ball-pulse {
					> div {
						background-color: #ffffff;
					}
				}
			}
		}

		.connect-status {
			color: #ffffff;
			font-size: 11px;
			letter-spacing: 0.27px;
			line-height: 13px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.connect-icon {
				height: 10px;
				width: 10px;
				background-color: transparent;
				border: 1.5px solid #ffffff;
				border-radius: 50%;
				margin-right: 6px;
			}

			&.success {
				color: #ffffff;

				.connect-icon {
					background-color: #ffffff;
				}
			}
		}
	}

	.wrap-card-square-xl {
		position: relative;
		padding-top: calc(#{$card-margin} * 2 + #{$img-ratio-xl} * (100% - #{$card-margin} * 2));

		.card-square {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - #{$card-margin} * 2);
			height: calc(100% - #{$card-margin} * 2);
		}
	}

	.wrap-card-square {
		position: relative;
		padding-top: calc(#{$card-margin} * 2 + #{$img-ratio-xl} * (200% - #{$card-margin} * 2));

		@media (max-width: 767px) {
			padding-top: 300px;
		}

		.card-square {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - #{$card-margin} * 2);
			height: calc(100% - #{$card-margin} * 2);

			@media (max-width: 767px) {
				background-size: contain;
				background-color: #fff;
			}
		}
	}

	.btn {
		position: relative;

		&.btn-white {
			display: inline-block;
			vertical-align: middle;
			border-radius: 2px;
			background-color: #FFF;
			box-shadow: none;
			color: rgba(0, 189, 32, 0.92);
			font-size: 12px;
			font-weight: 500;
			line-height: 14px;
			text-align: center;
			text-transform: uppercase;
			padding: 6px 12px;
		}

		.btn-arrow {
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translate(0, -50%);
		}

		&.btn-icon {
			min-width: 10px;
			min-height: auto;
			i {
				color: #98B0CD;
				font-size: 13px;
				font-weight: bold;
			}
		}
	}

	.form-group-app {
		.iconned-input-field .input-group-text {
			color: #98B0CD;
		}
		.text-note {
			position: relative;
			color: #98B0CD;
			font-size: 10px;
			line-height: normal;
			top: auto;
			width: 100%;
		}
	}

	.qr-code-wrap {
		height: 100%;
		text-align: center;

		.qr-code {
			width: 100% !important;
			height: auto !important;
			max-width: 150px;
		}

		.wallet-id-wrap {
			border-radius: 3px;
			background-color: rgba(152, 176, 205, 0.15);
			font-size: 14px;
			letter-spacing: 0.4px;
			line-height: normal;
			padding: 6px;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.arrow {
		width: 8px;
		height: 12px;
		margin-right: 8px;
	}

	.table-sm {
		padding: 0;

		table {
			border-spacing: 0;

			thead tr td {
				color: #98B0CD;
				font-size: 11px;
				letter-spacing: -0.3px;
				line-height: 13px;
				padding: 6px;
				min-width: auto;

				&:first-of-type {
					padding-left: 0;
				}
				&:last-of-type {
					padding-right: 0;
				}
			}

			tbody tr {
				cursor: pointer;

				td {
					padding: 6px;
					color: #3D5A7E;
					border: 0;
					font-size: 12px;
					letter-spacing: -0.4px;
					line-height: 15px;
					transition: 0.3s;
					min-width: auto;

					&:first-of-type {
						color: #3D5A7E;
						letter-spacing: -0.04px;
						font-weight: 500;
						padding-left: 0;
					}

					&:last-of-type {
						padding-right: 0;
					}
				}
			}
		}



		&.orderbook {
			tbody tr {
				border: 5px solid transparent;

				td {
					line-height: 15px;
					padding: 1px 5px;
					border: 1px solid transparent;
					transition: 0.3s;

					&:not(:first-child):not(:last-child) {
						border-left: 0;
						border-right: 0;
					}

					&:first-of-type {
						border-right: 0;
						border-top-left-radius: 2px;
						border-bottom-left-radius: 2px;
						padding-left: 2px;
					}

					&:last-of-type {
						border-left: 0;
						border-top-right-radius: 2px;
						border-bottom-right-radius: 2px;
						padding-right: 2px;
					}
				}

				&:hover {
					td {
						border-color: #F4255D;
					}
				}

				&.success:hover {
					td {
						border-color: #2AC940;
					}
				}
			}
		}
	}

	.range-wrap {
		position: relative;

		.range-value {
			position: absolute;
			top: 1px;
			margin-left: 2px;
			-webkit-appearance: none;
			user-select: none;
			color: #ffffff;
			text-align: center;
			pointer-events: none;
			margin-top: -5px;
			height: 25px;
			width: 30px;
			border-radius: 4px;
			background-color: #2AC940;
			border: 2px solid #FFF;
			font-size: 10px;
			font-weight: 600;
			letter-spacing: -0.5px;
			z-index: 1;
			display: flex !important;
			align-items: center;
			justify-content: center;

			&.disabled {
				background-color: #E6EAEE;
			}
		}

		input[type=range].input-range {
			-webkit-appearance: none;
			background-color: transparent;
			border: none;
			padding: 0;
			height: auto !important;
			overflow: hidden;

			&::-webkit-slider-runnable-track {
				width: 100%;
				height: 15px;
				border-radius: 2px;
				background-color: #E6EAEE;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				margin-top: -5px;
				height: 25px;
				width: 30px;
				border-radius: 4px;
				background-color: #2AC940;
				border: 2px solid #FFF;
				z-index: 2;
				box-shadow: -750px 0 0 750px #2AC940;
				cursor: pointer;
			}

			&:focus {
				outline: none;
			}
		}
	}
}

.input-group {
  .input-group-append {
    margin: 0;
		margin-top: 20px;
    // align-items: flex-end;
    // margin-bottom: 1rem;
	}
}

.disabled-fee-wrap {
	display: flex;
	align-items: center;

	.input-group-append {
    margin: 0;
    align-items: flex-end;
    // margin-bottom: 1rem;
	}

	.disabled-fee-checkbox {
		margin: 0 0 0 12px !important;
		width: 100%;
	}

	.input-group-disabled {
		input:disabled, .input-group-text {
			background-color: rgba(152, 176, 205, 0.15);
			cursor: not-allowed;
		}
	}
}
