

// components

.btn {
  display: inline-block;
  padding: 5px 7px;
  cursor: pointer;
  user-select: none;
  min-height: 33px;
}

button {
  background-color: transparent;
}

input {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 10px 20px;
}

.site-content {
  position: relative;
  margin-left: 220px;
  @media (max-width: 768px) {
    margin-left: 100px;
    padding-top: 0;
  }
  @media (max-width: 767px) {
    margin-left: 0 !important;
    padding-top: 50px;
  }

  &.hide-page-body {
    .page-content {
      .page-body {
        &:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .page-content {
    @media (max-width: 768px) {
      overflow-x: hidden;
    }
    .page-body {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      min-height: 100vh;
      z-index: 0;
      @media(max-width: 760px) {
        padding-top: 0;
        min-height: auto;
      }

      &.full-screen-block {
        height: 100%;
        padding-bottom: 0;
      }
      &.no-padding-on-the-sides {
        padding-left: 0;
      }
      &.flexible-height {
        height: auto;
      }
      &.overflow-hidden {
        overflow: hidden;
      }
      &:after {
        content: '';
        position: fixed;
        top: 100px;
        bottom: 0;
        left: 220px;
        right: 0;
        z-index: 4;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        @media (max-width: 760px) {
          top: 0 !important;
          left: 0 !important;
        }
      }
      .row {
        width: 100%;
        margin: 0;
        flex-direction: row;

        //& > * {
        //  padding: 0 7.5px;
		//
        //}
        //margin-left: 0;

        //.col-md-3 {
        //  padding: 0 10px;
        //}
      }
      .card {
        &.transactions {
          justify-content: flex-start;
          .transactions-dashboard {
            .transaction-item {
              height: 33.33%;
              padding: 20px 0;
              display: flex;
              box-sizing: border-box;
              border-bottom: 1px solid #E5E5E5;
              position: relative;
              &:first-child {
                padding-top: 0;
              }
              @media (max-width: 760px) {
                height: auto;
                margin-top: 20px;
                //padding-bottom: 5px;
              }
              i {
                color: #00C8FF;
                font-size: 18px;
              }
              .transaction-box {
                margin: auto 0;
                width: 100%;

                .transaction-date {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: #BBBBBB;
                  font-size: 12px;
                  line-height: 14px;
                  font-weight: 400;
                }
                .transaction-rs {
                  color: #777777;
                  font-size: 12px;
                  line-height: 14px;
                  margin-top: 8px;
                  font-weight: 400;
                }
                .arrow {
                  position: relative;
                  display: block;
                  margin-top: 3px;
                  margin-bottom: -5px;

                  &.danger {
                    i {
                      color: #e74c3c !important;
                    }
                  }
                  &.success {
                    i {
                      color: #2ecc71 !important;
                    }
                  }

                  i {
                    //position: absolute;
                    //bottom: -50%;
                    //right: 20px;
                    transform: rotate(90deg);
                    color: #777777;
                    font-size: 20px;
                  }
                }
                .transaction-amount {
                  color: #3D5A7E;
                  font-family: "BBRollerMonoProST", sans-serif;
                  font-size: 13px;
                  line-height: 14px;
                  margin-left: 6px;
                }
              }
            }
          }
        }
        &.asset-portfolio {
          height: 315px;

          .full-box {
            .full-box-item {
              &.coin {
                padding-left: 45px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                .coin-data {
                  display: flex;
                  flex-wrap: wrap;
                  position: relative;

                  & > * {
                    margin: auto 0;
                  }
                  .figure {
                    height: 25px;
                    width:  25px;
                    position: absolute;
                    left: -45px;
                    top: 50%;
                    transform: translateY(-50%);

                    canvas {
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .amount {
                    color: #3D5A7E;
                    font-size: 17px;
                    margin-right: 15px;
                    min-width: 70px;
                    font-weight: 400;
                  }
                  .coin-name {
                    color: #777777;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 400;
                  }
                  .more {
                    height: 30px;
                    margin: auto 0 auto auto;

                    i {
                      color: #BBBBBB;
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }
        &.decentralized-marketplace {
          .full-box {
            .full-box-item {
              display: flex;
              flex-direction: row;
              margin: auto 0;

              & * > {
                margin: 0 auto;
              }
              .marketplace-box {
                width: 50%;
                flex: 1;

                .digit {
                  color: #3D5A7E;
                  font-weight: 400;
                  font-size: 36px;
                  line-height: normal;
                }
                .subtitle {
                  color: #98B0CD;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 14px;
                  width: 1px;
                  word-break: normal;
                }
              }
            }
          }
        }
        &.send-apollo {
          height: 315px;
        }
        &.active-polls {
          .full-box {
            p {
              color: #777777;
              font-weight: 400;
              font-size: 12px;
              line-height: 14px;
              margin-bottom: 30px;
            }
          }
        }
        &.apollo-news {
          padding-bottom: 45px !important;
          .card-news-content {
            color: #777777;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }

      // dashboard page
      & > div {
        min-height: 750px;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
          min-height: auto;
        }
      }

      // my transactions page
      .my-transactions {
        width: 100%;

        .transactions-filters {
          min-height: 120px;
          padding-left: 40px;

          .monitors-table {
            display: table;
            width: 100%;
            max-width: 300px;
            padding: 15px;
            background-color: #fff;
            border-radius: 6px;
            border: 1px solid #efefef;

            tr {
              td {
                padding: 5px;

                a {
                  color: #00C8FF;
                }
              }
            }
          }
          .top-bar {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .btn {
              margin-top: 10px;
              margin-right: 15px;
              height: max-content;

              &.active {
                border-color: #101010;                 
              }
            }
          }
        }
        .transaction-table {
          height: calc(100% - 120px);
          min-height: 560px;
          overflow: hidden;
          @media (max-width: 1024px) {
            height: auto;
            min-height: auto;
          }

          .transaction-table-body {
            overflow-x: auto;
            display: block;
            &.no-border-top {
              table {
                thead {
                  tr {
                    td {
                      border: 0;
                    }
                  }
                }
              }
            }
            table {
              tbody {
                tr {
                  td {

                    &.blue-link-text {
                      a {
                        color: #2547F4;
                        font-weight: 400;
                      }
                    }
                    &.date {

                    }
                    &.type {

                    }
                    &.amount {

                    }
                    &.fee {

                    }
                    &.account {

                    }
                    &.phasing {
                      .phasing-box {
                        padding: 7px;
                        border: 1px solid #00C8FF;
                        cursor: pointer;
                        border-radius: 6px;
                        display: inline;
                        position: relative;

                        &:hover {
                          .phasing-box__phasing-description {
                            visibility: visible;
                            opacity: 1;
                            transform: none;
                          }
                        }
                      }
                      .phasing-box__icon {
                        margin-right: 10px;
                      }
                      .phasing-box__result {
                        user-select: none;
                      }
                    }
                    &.height {

                    }
                    &.confirmations {

                    }
                  }
                }
              }
            }
          }
        }
      }
      .approval-request {
        padding: 35px;
        background-color: #fff;
        min-height: auto;
        overflow: auto;

        .alert {
          color: #3D5A7E;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }
      }
      .account-ledger {
        display: flex;
        flex-direction: column;
        padding: 0 7.5px;
        overflow: hidden;
      }
      .blocks {
        padding: 0 7.5px;

        .row {
          width: auto;
          margin-left: -7.5px;
          margin-right: -7.5px;

          .col-md-6 {
            padding-left: 7.5px;
            padding-right: 7.5px;
          }
        }
        .card {
          height: 100%;
        }
        //margin: 0 -7.5px;
      }
      .scheduled-transactions {
        display: flex;
        flex-direction: column;

        .approval-request {
          height: 100%;
        }
      }
      .peers {
        display: block;

        .row {
          padding-left: 7.5px;
          padding-right: 7.5px;
          width: auto;
          margin-left: -12.5px;
          margin-right: -12.5px;

          .col-md-6 {
            padding-left: 7.5px;
            padding-right: 7.5px;
          }
        }
        .transaction-table {
          td {
            .btn {
              margin: 0 0 0 15px;
            }
          }
        }
      }
      .open-orders {
        padding: 0;

        .approval-request {
        }
        .row {
          padding: 0;
          height: 100%;
        }
        .transaction-table{
          min-height: auto;
        }
      }
      .account-settings {
        .row {
          position: relative;
        }
      }
      .messenger {
        height: calc(100vh - 135px);
      }
      .marketplace {
        .row {
          & > * {
            //height: calc(50% - 19px);
          }
          &.fluid-row {
            & > * {
              height: auto !important;
            }
          }
        }
      }
    }
  }
}

.red-text {
  color: #F36;
}

.green-text {
  color: rgba(0, 189, 32, 0.92);
}

.bg-primary {
  background: linear-gradient(179.43deg, #2B23FF 0%, #2547F4 100%);
  box-shadow: none;
  color: #FFF;
}

.bg-green {
  background: linear-gradient(179.43deg, #2AC940 0%, #31D947 100%);
  box-shadow: none;
  color: #FFF;
}

