.transaction-table {
  height: 100%;
  width: 100%;
  min-height: 560px; }
  .transaction-table.no-min-height {
    min-height: auto;
    height: auto; }
  .transaction-table .transaction-table-body {
    padding: 40px 35px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative; }
    .transaction-table .transaction-table-body.offset-bottom {
      padding-bottom: 75px; }
    .transaction-table .transaction-table-body.padding-only-top {
      padding: 35px 0 0 0; }
    .transaction-table .transaction-table-body.transparent {
      background-color: transparent; }
    .transaction-table .transaction-table-body.padding-vertical-padding {
      padding: 40px 0; }
    .transaction-table .transaction-table-body table {
      width: 100%;
      border-collapse: collapse; }
      .transaction-table .transaction-table-body table thead {
        padding: 35px; }
        .transaction-table .transaction-table-body table thead tr td {
          color: #333333;
          font-family: "Roboto-Bold";
          font-size: 14px;
          line-height: 16px;
          padding: 0 0 20px 15px; }
          .transaction-table .transaction-table-body table thead tr td.align-right {
            text-align: right;
            padding: 0 15px 20px 0; }
          .transaction-table .transaction-table-body table thead tr td.align-right {
            text-align: right; }
          .transaction-table .transaction-table-body table thead tr td:first-child {
            padding: 0 15px 20px 0; }
          .transaction-table .transaction-table-body table thead tr td:last-child {
            padding-right: 0; }
      .transaction-table .transaction-table-body table tbody tr {
        height: 6.66%; }
        .transaction-table .transaction-table-body table tbody tr td {
          border-top: 1px solid #E5E5E5;
          padding: 0 0 0 15px;
          height: 50px; }
          .transaction-table .transaction-table-body table tbody tr td.blue-link-text a {
            color: #00C8FF;
            font-family: "Roboto-Regular";
            font-size: 14px;
            line-height: 16px; }
          .transaction-table .transaction-table-body table tbody tr td.word-brake {
            word-break: break-all;
            word-wrap: break-word; }
          .transaction-table .transaction-table-body table tbody tr td.align-right {
            text-align: right;
            padding: 0 15px 0 0; }
          .transaction-table .transaction-table-body table tbody tr td:first-child {
            padding-left: 0; }
          .transaction-table .transaction-table-body table tbody tr td:last-child {
            padding-right: 0; }
    .transaction-table .transaction-table-body .btn-box {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .transaction-table .transaction-table-body .btn-box .btn.disabled {
        display: none; }
    .transaction-table .transaction-table-body .pagination-nav {
      position: absolute;
      bottom: 13px;
      left: 50%;
      transform: translateX(-50%); }

.transactions-filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 0 28px 0; }
  .transactions-filters.padding-left {
    padding-left: 36px; }
  .transactions-filters.align-for-inputs {
    padding: 0px 0 23px 36px; }
  .transactions-filters .top-bar > {
    margin-right: 15px; }
  .transactions-filters .btn {
    position: static; }
    .transactions-filters .btn.filter {
      padding: 6px 8px;
      display: inline;
      border-radius: 3px;
      background-color: #F5F5F5;
      color: #333333;
      font-family: "Roboto-Bold";
      font-size: 12px;
      font-weight: bold;
      line-height: 14px; }
      .transactions-filters .btn.filter.active {
        border: 1px solid #333333; }

.info-box {
  border-radius: 3px;
  margin-bottom: 15px; }
  .info-box.mt {
    margin-top: 25px; }
  .info-box.info {
    background: #666666; }
  .info-box.danger {
    background-color: #e74c3c; }
    .info-box.danger p {
      color: #fff; }
  .info-box.simple {
    background: transparent; }
    .info-box.simple p {
      padding-left: 0;
      padding-right: 0; }
  .info-box p {
    padding: 18px 34px;
    color: #000; }

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  overflow: scroll;
  display: flex; }
  .modal-window::-webkit-scrollbar {
    width: 1px; }
  .modal-window.active {
    visibility: visible;
    opacity: 1; }
    .modal-window.active .modal-box {
      transform: translateY(0); }
  .modal-window .modal-box {
    transform: translateY(-50px);
    margin: auto;
    display: block;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    width: 100% !important;
    max-width: 500px; }
    .modal-window .modal-box.wide {
      max-width: 750px !important; }
    .modal-window .modal-box.x-wide {
      max-width: 1000px !important; }
    .modal-window .modal-box .modal-form {
      min-width: 500px; }
      .modal-window .modal-box .modal-form .form-group {
        padding-bottom: 69px; }
