
@import "~roboto-fontface/css/roboto/roboto-fontface.css";

html, body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  color: #101010;
  font-family: "Roboto-Regular";
}

html, body {
  background-color: #F5F5F5;
}

a {
  cursor: pointer;
  display: inline-block;
}

button {
  border: 0;
}

* {
  outline: none;
}

span {
  &.blue {
    color: #00C8FF;
  }
}

.form-group {
  display: table;
  padding: 35px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  height: calc(100% - 15px);

  &.offset {
    height: 100%;
    padding: 20px 0 0px;
  }
  &.compensate-margin {
    margin: 0 -7.5px;
    margin-bottom: 15px;

  }
  &.offset-bottom {
    padding-bottom: 75px;
  }
  .form-title {
    padding-bottom: 20px;

    p {
      color: #333333;
      font-family: "Roboto-Regular";
      font-size: 24px;
      line-height: 18px;
    }
    .form-sub-title {
      margin-top: 10px;
    }
  }
  .form-sub-title {
    color: #BBBBBB;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 19px;
    margin-top: -15px;
  }
  .input-group {
      display: block;
      padding-top: 25px;

      .form-sub-title {
        padding-left: 15px;
      }
      input {
        padding-left:  15px;
        padding-right: 15px;
      }
  }
  .form-exit {

  }
  .form-tabulator {

  }
  .btn-box {

  }
}

.input-group {
  display: table-row;

  &.lighten {
    input {
      background-color: #fff;
    }
  }
  &.middle {
    & > * {
      vertical-align: middle;
    }
  }
  label {
    display: table-cell;
    color: #777777;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    padding-right: 20px;
  }
  input {
    display: table-cell;
  }
}

// components

.btn-box {
  &.inline {
    display: inline-block;
    position: static !important;
    margin-right: -15px;

    & > * {
      display: inline;
      margin-right: 15px;
    }
  }
  &.more-padding {
    margin-right: -15px;

    & > * {
      display: inline;
      margin-right: 15px;
    }
  }
  &.absolute {
    position: absolute;

    &.right-conner {
      bottom: 0;
      right: 0;
    }
  }
  &.align-buttons-inside {
    & > * {
      display: inline-block;
      position: relative;
      border-radius: 0;
    }
  }
}

// btn
.btn {
  position: absolute;
  background-color: #666666;
  color: #fff;
  user-select: none;

  &.absolute {

  }
  &.btn-simple {
    color: #BBBBBB;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    bottom: 10px;
    padding: 0;
    background: transparent;
  }
  &.btn-right {
    right: 0;
    bottom: 0;
    padding: 11px 17px 11px 9px;
    border-top-left-radius:    3px;
    border-bottom-right-radius: 3px;
  }
  &.btn-left {
    left: 0;
    bottom: 0;
    padding: 11px 9px 11px 17px;
    border-top-right-radius:   3px;
    border-bottom-left-radius: 3px;
  }
  &.primary {
    padding: 6px;
    background: #666666;
    color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    position: static;

    &.bigger {
      padding: 11px 10px 9px 10px;
    }
  }
  &.blue {
    background: #00C8FF;
    color: #fff;
  }

  &.round-top-left {
    border-radius: 0;
    border-top-left-radius: 6px;
  }
  &.round-bottom-right {
    border-radius: 0;
    border-bottom-right-radius: 6px;
  }
}

// card
.card {
  height: calc(33.33% - 15px);
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 3;
  padding: 20px 30px;

  &.card-tall {
    height: calc(66.666% - 15px);
  }
  &.header {
    padding: 50px 30px;

    &.ballance {
      background: linear-gradient(315deg, #0019E1 0%, #0050FF 100%);
    }
    &.assets {
      background: linear-gradient(315deg, #008CDC 0%, #00C8FF 100%);
    }
    &.currencies {
      background: linear-gradient(315deg, #00788C 0%, #00A0B4 100%);
    }
    &.coins {
      background: linear-gradient(315deg, #008C46 0%, #00B45A 100%);
    }
    .card-title {
      font-family: "Roboto-Regular";
      font-size: 16px;
      line-height: 18px;
      color: #fff;
    }
    .amount {
      //margin-top: 20px;
      color: #FFFFFF;
      font-family: "Roboto-Regular";
      font-size: 36px;
      line-height: 60px;
    }
    .owned {

    }
    .rs {

    }
    .blocks {

    }
  }
  &.single {
    min-height: 217px;
    height: auto;
  }
  &.dashboard {
    .card-title {

    }
    .amount {

    }
    .owned {

    }
    .rs {

    }
    .blocks {

    }
  }

  //input , input[type="number"] {
  //  padding: 4px 20px;
  //}
  .card-title {
    color: #333333;
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 18px;
  }
  .card-title-date {
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    font-size: 24px;
    margin-top: 19px;
  }
  .amount {

  }
  .owned {

  }
  .rs {

  }
  .blocks {

  }
  .footer-link {

  }
  .full-box {
    position: absolute;
    top: 38px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;

    &.block {
      display: block;
    }
    &.offset {
      padding: 20px 0px 14px;
    }
  }
  .form-group {
    padding: 30px 0 25px;
  }
  .input-group {
    display: table-row;

    input, input[type="number"] {
      padding: 8px 20px;
    }
    &.lighten {
      input {
        background-color: #fff;
      }
    }
    label {
      display: table-cell;
      color: #777777;
      font-family: "Roboto-Regular";
      font-size: 12px;
      line-height: 14px;
      padding-right: 20px;
    }
    input {
      display: table-cell;
    }
  }
}

.page-body {

}