@import url(~roboto-fontface/css/roboto/roboto-fontface.css);
html, body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  color: #101010;
  font-family: "Roboto-Regular"; }

html, body {
  background-color: #F5F5F5; }

html {
  height: 100%; }
  html body {
    height: 100%; }
    html body #root {
      height: 100%; }
      html body #root > div {
        height: 100%; }
        html body #root > div .site-content {
          height: 100%; }
          html body #root > div .site-content > div {
            height: 100%; }
            html body #root > div .site-content > div .page-content {
              height: 100%; }
              html body #root > div .site-content > div .page-content .page-body {
                height: 100%; }

a {
  cursor: pointer;
  display: inline-block; }

button {
  border: 0; }

* {
  outline: none; }

span.blue {
  color: #00C8FF; }

.flex {
  display: flex; }

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 0 !important;
  position: relative; }
  input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-image: url(../../assets/checked.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none; }
  input[type="checkbox"]:checked:after {
    display: block; }

input[type="number"] {
  position: relative; }

input[type="radio"] {
  width: auto;
  display: inline-block !important; }

.notification-message .title {
  color: white; }

.word-brake {
  word-wrap: break-word;
  word-break: break-all; }

textarea {
  border: 1px solid #E5E5E5;
  border-radius: 6px;
  resize: none;
  background-color: #F5F5F5;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Roboto-Regular"; }

input {
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Roboto-Regular"; }

[data-blue-link-text] {
  color: #00C8FF;
  cursor: pointer; }

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

@keyframes notification-animation {
  0% { }
  10% { }
  100% { } }

[data-notification]:after {
  content: attr(data-notification);
  position: absolute;
  top: -10px;
  right: -10px;
  color: #333;
  font-family: 'Roboto-Bold';
  font-size: 11px;
  height: 21px;
  width: 21px;
  line-height: 18px;
  text-align: center;
  background-color: #00C8FF;
  border-radius: 100%;
  border: 3px solid #333; }

.no-image {
  height: 100px;
  width: 150px;
  border-radius: 6px;
  background-color: #E5E5E5;
  display: flex; }
  .no-image i {
    margin: auto;
    font-size: 50px;
    color: #fff; }

.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F5F5F5;
  z-index: 1000000; }
  .page-loader .ball-clip-rotate {
    transform: translate(10px, 10px); }
    .page-loader .ball-clip-rotate div {
      border-color: black;
      height: 100px !important;
      width: 100px !important; }
  .page-loader .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    margin: 0; }
    .page-loader .loader .ball-clip-rotate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 5px; }
      .page-loader .loader .ball-clip-rotate div {
        height: 80px;
        width: 80px;
        border-color: black;
        border-bottom-color: transparent; }

.chart-sprite {
  position: relative; }
  .chart-sprite.position-1:after {
    background-position: 0% 100%; }
  .chart-sprite.position-2:after {
    background-position: 33.33% 100%; }
  .chart-sprite.position-3:after {
    background-position: 66.66% 100%; }
  .chart-sprite.position-4:after {
    background-position: 100% 100%; }
  .chart-sprite:after {
    background-image: url(../../assets/chart.png);
    background-size: 400% 50%;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.site-logo {
  height: 100px;
  display: flex;
  width: 220px;
  background-color: #333333; }
  .site-logo.page-loader-image {
    mask-image: url("~/apollo-logo.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 40px 40px;
    height: 40px;
    width: 40px; }
  .site-logo img {
    margin: auto;
    height: 32px;
    width: 32px; }

.token {
  color: white; }

.info-box.blue-info {
  background-color: #00C8FF; }
  .info-box.blue-info p {
    color: #fff; }

.info-box.success {
  background-color: #2ecc71; }
  .info-box.success p {
    color: #fff; }

.info-box.simple {
  background: transparent; }
  .info-box.simple p {
    padding-left: 0;
    padding-right: 0; }

.info-box p {
  color: #000; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.pre {
  white-space: pre; }

.info-table {
  display: table;
  max-width: 400px; }
  .info-table.dlock .t-row {
    display: block; }
    .info-table.dlock .t-row .t-cell {
      display: block; }
  .info-table .t-row {
    display: table-row; }
    .info-table .t-row .t-cell {
      display: table-cell;
      padding-bottom: 15px; }
      .info-table .t-row .t-cell span {
        padding-right: 15px;
        font-size: 15px; }

.form-group {
  display: table;
  padding: 35px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  height: calc(100% - 15px); }
  .form-group.devided {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .form-group.devided .left-bar {
      width: 50%;
      margin: -35px 0 -70px -35px; }
      .form-group.devided .left-bar .top-bar .marketplace-image {
        margin: 0;
        height: 400px; }
      .form-group.devided .left-bar .bottom-bar .description {
        padding: 35px;
        line-height: 1.6; }
    .form-group.devided .right-bar {
      width: 50%; }
      .form-group.devided .right-bar .price {
        padding-top: 35px;
        padding-bottom: 30px;
        color: #333333;
        font-size: 36px;
        line-height: 18px; }
      .form-group.devided .right-bar .info-table {
        padding-bottom: 30px; }
  .form-group.about .left-bar {
    width: 200px;
    margin: 0; }
  .form-group.about .right-bar {
    width: calc(100% - 160px); }
    .form-group.about .right-bar .description {
      color: #333333;
      font-size: 14px;
      line-height: 1.6;
      padding-top: 48px; }
      .form-group.about .right-bar .description p {
        margin-top: 30px;
        font-size: 14px; }
        .form-group.about .right-bar .description p a {
          color: #00C8FF;
          font-weight: normal;
          font-size: 14px; }
  .form-group.transparent {
    background: transparent; }
  .form-group.offset {
    height: 100%;
    padding: 20px 0 0px; }
  .form-group.compensate-margin {
    margin: 0 -7.5px;
    margin-bottom: 15px; }
  .form-group.height-auto {
    height: auto; }
  .form-group.offset-bottom {
    padding-bottom: 75px; }
  .form-group.no-padding-bottom {
    padding-bottom: 0 !important; }
  .form-group .form-body .input-section {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #E6E6E6; }
    .form-group .form-body .input-section:last-child {
      padding-bottom: 0;
      border-bottom: 0; }
  .form-group .form-body .image-button {
    margin-bottom: 10px; }
    .form-group .form-body .image-button:last-child {
      margin-bottom: 0px; }
    .form-group .form-body .image-button.success > * {
      color: #2ecc71 !important; }
    .form-group .form-body .image-button.danger > * {
      color: #e74c3c !important; }
    .form-group .form-body .image-button .zmdi {
      font-size: 18px;
      color: #333333;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
      @media (max-width: 760px) {
        .form-group .form-body .image-button .zmdi {
          color: #ffffff; } }
    .form-group .form-body .image-button label {
      font-size: 13px;
      color: #333333;
      display: inline-block;
      vertical-align: middle; }
  .form-group .form-body .row {
    margin: 0 -5px; }
    .form-group .form-body .row > * {
      padding: 0 5px; }
  .form-group .exit {
    position: absolute;
    top: 35px;
    right: 35px; }
    .form-group .exit i {
      font-size: 20px; }
  .form-group .marketplace-image {
    margin: 0 -35px -70px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .form-group .marketplace-image.no-image {
      background-size: 30% !important;
      background-image: url(../../assets/no-photo.svg) !important;
      background-color: #eee !important; }
  .form-group .about-image {
    height: 155px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(../../assets/brand-logo.png) !important; }
  .form-group .form-title {
    padding-bottom: 20px; }
    .form-group .form-title.inline > * {
      vertical-align: middle;
      display: inline-block; }
    .form-group .form-title.padding-left p {
      padding-left: 35px; }
    .form-group .form-title.offset-bottom p {
      padding-bottom: 28px; }
    .form-group .form-title p {
      color: #333333;
      font-family: "Roboto-Regular";
      font-size: 24px;
      line-height: 18px; }
    .form-group .form-title .form-sub-title {
      margin-top: 10px; }
  .form-group .form-sub-title {
    color: #BBBBBB;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 19px;
    margin-top: -15px; }
    .form-group .form-sub-title.align-padding-bottom {
      padding-bottom: 15px; }
    .form-group .form-sub-title.align-margin-top {
      margin-top: 5px; }
    .form-group .form-sub-title.align-right {
      text-align: right; }
  .form-group .input-group:last-child:not(:first-child) {
    padding-bottom: 0 !important; }
  .form-group .input-group.block {
    display: block; }
  .form-group .input-group.offset-top {
    padding-top: 25px; }
  .form-group .input-group.offset-bottom {
    padding-bottom: 25px; }
  .form-group .input-group.display-block {
    display: block; }
  .form-group .input-group.tabled {
    display: table !important; }
  .form-group .input-group.align-middle > * {
    vertical-align: middle; }
  .form-group .input-group.align-middle label {
    padding-left: 20px; }
  .form-group .input-group .input-wrapper {
    width: 100%; }
  .form-group .input-group .form-sub-title {
    padding-left: 15px; }
  .form-group .input-group input {
    padding-left: 15px;
    padding-right: 15px; }
  .form-group .form-tabulator {
    position: relative;
    margin: 55px -35px -69px -35px;
    background-color: #F5F5F5;
    padding: 18px 35px 70px 35px;
    display: none;
    border-radius: 0 0 6px 6px; }
    .form-group .form-tabulator.white {
      background-color: white; }
      .form-group .form-tabulator.white .form-tab-nav-box .form-tab {
        background-color: #F5F5F5; }
        .form-group .form-tabulator.white .form-tab-nav-box .form-tab.active {
          background-color: #fff; }
    .form-group .form-tabulator.active {
      display: block; }
    .form-group .form-tabulator .form-tab-nav-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      bottom: 100%;
      right: 20px;
      left: 20px; }
      .form-group .form-tabulator .form-tab-nav-box.justify-left {
        justify-content: flex-start; }
        .form-group .form-tabulator .form-tab-nav-box.justify-left .form-tab {
          margin-right: 15px;
          width: auto;
          padding: 0 15px; }
      .form-group .form-tabulator .form-tab-nav-box .form-tab {
        display: flex;
        width: 54px;
        height: 32px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px; }
        .form-group .form-tabulator .form-tab-nav-box .form-tab.active {
          background-color: #F5F5F5; }
        .form-group .form-tabulator .form-tab-nav-box .form-tab p {
          font-size: 13px !important; }
        .form-group .form-tabulator .form-tab-nav-box .form-tab > * {
          margin: auto;
          font-size: 16px; }
    .form-group .form-tabulator .tab-body {
      display: none; }
      .form-group .form-tabulator .tab-body.active {
        display: block; }
    .form-group .form-tabulator .form-sub-actions {
      display: block; }
      .form-group .form-tabulator .form-sub-actions .form-group {
        background-color: transparent;
        padding: 0; }

.input-group {
  display: table-row; }
  .input-group.tabled {
    display: table !important; }
  .input-group.lighten input {
    background-color: #fff; }
  .input-group.middle > * {
    vertical-align: middle; }
  .input-group.inline label {
    display: inline-block; }
  .input-group .row > * {
    display: flex; }
    .input-group .row > * > * {
      padding-top: 10px; }
  .input-group textarea {
    width: 100%; }
  .input-group.search input, .input-group.user input {
    display: block; }
  .input-group.search .input-icon, .input-group.user .input-icon {
    border: 1px solid #E5E5E5;
    background: #E5E5E5;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    display: flex;
    border-radius: 3px; }
    .input-group.search .input-icon.text, .input-group.user .input-icon.text {
      width: auto; }
      .input-group.search .input-icon.text i, .input-group.user .input-icon.text i {
        font-style: normal;
        font-size: 11px;
        padding: 0 10px; }
  .input-group.search .iconned-input-field, .input-group.user .iconned-input-field {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around; }
    .input-group.search .iconned-input-field i, .input-group.user .iconned-input-field i {
      margin: auto;
      padding-bottom: 3px; }
    .input-group.search .iconned-input-field *:nth-child(2), .input-group.user .iconned-input-field *:nth-child(2) {
      border-left: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important; }
    .input-group.search .iconned-input-field *:nth-child(1), .input-group.user .iconned-input-field *:nth-child(1) {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important; }
  .input-group .preview-image {
    padding: 0;
    width: 150px;
    height: 100px;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .input-group .calculate-fee {
    display: inline-block;
    color: #00C8FF;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    padding-right: 20px;
    cursor: pointer; }
  .input-group .input-icon {
    width: 32px;
    display: table-cell; }
    .input-group .input-icon i {
      margin: auto; }
  .input-group .row {
    display: flex !important; }
  .input-group label {
    display: table-cell;
    color: #777777;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    padding-right: 20px; }
  .input-group input {
    display: table-cell; }

.btn-box {
  width: 100%; }
  .btn-box.align-right {
    text-align: right; }
  .btn-box.align-left {
    text-align: left; }
  .btn-box.inline {
    display: inline-block;
    position: static !important;
    margin-right: -15px; }
    .btn-box.inline > * {
      display: inline;
      margin-right: 15px; }
  .btn-box.success > * {
    color: #2ecc71; }
  .btn-box.danger > * {
    color: #e74c3c; }
  .btn-box.relative {
    position: relative;
    height: 38px; }
  .btn-box.padding-bottom {
    padding-bottom: 15px; }
  .btn-box.more-padding {
    margin-right: -15px; }
    .btn-box.more-padding > * {
      display: inline;
      margin-right: 15px; }
  .btn-box.absolute {
    position: absolute; }
    .btn-box.absolute.right-conner {
      bottom: 0;
      right: 0; }
    .btn-box.absolute.left-conner {
      bottom: 0;
      left: 0; }
    .btn-box.absolute.bottom {
      bottom: 0;
      right: 0;
      left: 0; }
  .btn-box.align-buttons-inside > * {
    display: inline-block;
    position: relative;
    border-radius: 0; }
  .btn-box .btn.disabled {
    display: none; }

.flexible-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .flexible-grid > * {
    margin-top: 15px;
    margin-right: 15px; }

.btn {
  position: absolute;
  background-color: #666666;
  color: #fff;
  user-select: none;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 1;
  padding: 11px 11px 11px 9px; }
  .btn, .btn > * {
    transition: all 0.3s ease-in-out; }
  .btn.underscore.general .settings-bar {
    top: calc(100% + 45.6px) !important; }
  .btn.underscore.general:after {
    top: calc(100% + 43.5px); }
  .btn.underscore.settings .settings-bar {
    top: calc(100% + 49.6px) !important; }
  .btn.underscore.settings:after {
    top: calc(100% + 47px); }
  .btn.underscore.account:after {
    top: calc(100% + 49px); }
  .btn.underscore.active.account:after {
    width: 25px !important; }
  .btn.underscore.active:after {
    width: 100%; }
  .btn.underscore:after {
    content: '';
    position: absolute;
    top: calc(100% + 47px);
    z-index: 4;
    left: 0;
    width: 0%;
    right: 0px;
    height: 3px;
    background-color: #00C8FF;
    transition: all 0.3s ease-in-out; }
  .btn.revert-content .to-revert {
    transform: rotateX(-180deg); }
  .btn.absolute {
    position: absolute; }
  .btn.icon-button {
    border: 1px solid #101010;
    padding: 3px 8px !important; }
    .btn.icon-button i {
      padding-top: 1px;
      font-size: 20px;
      color: #000; }
      @media (max-width: 760px) {
        .btn.icon-button i {
          color: #ffffff !important; } }
  .btn.filters {
    border: 1px solid transparent; }
    .btn.filters.active {
      border: 1px solid #101010; }
  .btn .no-border {
    border: 0; }
  .btn.transparent {
    background-color: transparent !important; }
  .btn.btn-simple {
    color: #BBBBBB;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    bottom: 10px;
    padding: 0;
    background: transparent;
    margin: 0 0 12px 30px; }
  .btn.btn-right {
    float: right;
    right: 0;
    bottom: 0; }
  .btn.btn-left {
    float: left;
    left: 0;
    bottom: 0; }
  .btn.static {
    position: static; }
  .btn.gray {
    background: #666666; }
  .btn.primary {
    padding: 6px;
    background: #666666;
    color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    position: static; }
    .btn.primary.bigger {
      padding: 11px 10px 9px 10px; }
  .btn.blue {
    background: #00C8FF;
    color: #fff; }
  .btn.gray-lighten {
    background: #E5E5E5;
    color: black; }
  .btn.round {
    border-radius: 0; }
    .btn.round.round-top-left {
      border-top-left-radius: 6px; }
    .btn.round.round-bottom-right {
      border-bottom-right-radius: 6px; }
    .btn.round.round-bottom-left {
      border-bottom-left-radius: 6px; }
    .btn.round.round-top-right {
      border-top-right-radius: 6px; }
  .btn.block {
    display: block;
    width: 100%;
    text-align: center; }
  .btn .arrow {
    transform: translateY(1px); }

.input-block {
  width: 300px; }

.color-box {
  height: 20px;
  width: 20px;
  border-radius: 3px; }

.card {
  height: calc(33.33% - 15px);
  min-height: 255px;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 3;
  padding: 20px 30px; }
  .card.scroll {
    overflow-y: scroll; }
  .card.transparent {
    background: transparent; }
  .card.card-flexible {
    min-height: auto;
    height: auto;
    max-height: 800px; }
  .card.full-height {
    height: 100%; }
  .card.card-full-screen {
    height: 100%;
    min-height: auto !important; }
  .card.fll-height {
    height: calc(100% - 15px); }
  .card.card-tall {
    height: calc(66.666% - 15px);
    min-height: 520px; }
  .card.card-tiny {
    height: calc(25% - 15px);
    min-height: 185px; }
  .card.card-medium {
    height: calc(50% - 15px);
    min-height: 385px; }
  .card.header {
    padding: 50px 30px; }
    .card.header.ballance {
      background: linear-gradient(315deg, #0019E1 0%, #0050FF 100%); }
    .card.header.assets {
      background: linear-gradient(315deg, #008CDC 0%, #00C8FF 100%); }
    .card.header.currencies {
      background: linear-gradient(315deg, #00788C 0%, #00A0B4 100%); }
    .card.header.coins {
      background: linear-gradient(315deg, #008C46 0%, #00B45A 100%); }
    .card.header.medium-padding {
      padding: 35px 22.5px; }
    .card.header .card-title {
      font-family: "Roboto-Regular";
      font-size: 16px;
      line-height: 18px;
      color: #fff; }
      .card.header .card-title.big {
        font-size: 42px;
        line-height: 42px; }
      .card.header .card-title.align-middle {
        margin: auto 0; }
      .card.header .card-title.bold {
        font-weight: bold; }
    .card.header .asset-account-description {
      width: 100%; }
    .card.header .amount {
      color: #FFFFFF;
      font-family: "Roboto-Regular";
      font-size: 36px;
      line-height: 60px;
      padding-right: 50px;
      position: relative; }
      .card.header .amount .owned {
        position: absolute;
        top: 0;
        right: 0;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 1.6; }
        .card.header .amount .owned:after {
          content: 'Owned';
          position: absolute;
          bottom: -10px;
          right: 0;
          opacity: 0.7;
          color: #FFFFFF;
          font-size: 12px;
          line-height: 14px; }
    .card.header .account-sub-titles {
      margin-bottom: 15px;
      color: #fff; }
  .card.single {
    min-height: 217px;
    height: auto; }
  .card .general-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%; }
  .card .general-info-item {
    width: 50%;
    color: #FFFFFF;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 8px 8px 8px 0; }
    .card .general-info-item:nth-of-type(1), .card .general-info-item:nth-of-type(2) {
      border-top: none; }
    .card .general-info-item:nth-of-type(2n) {
      border-right: none;
      padding-left: 15px; }
    .card .general-info-item .top-bar {
      color: #FFFFFF;
      font-size: 24px;
      padding-bottom: 7px; }
    .card .general-info-item .bottom-bar {
      width: 60px;
      color: #FFFFFF;
      font-size: 12px; }
  .card .card-title {
    color: #333333;
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 18px; }
  .card .card-title-date {
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    font-size: 24px;
    margin-top: 19px; }
  .card .full-box {
    position: absolute;
    top: 38px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between; }
    .card .full-box.full {
      top: 35px !important;
      right: 35px !important;
      bottom: 35px !important;
      left: 35px !important; }
    .card .full-box.block {
      display: block; }
    .card .full-box.offset {
      padding: 20px 0px 14px; }
    .card .full-box .full-box-item {
      flex-wrap: wrap;
      flex-direction: column; }
      .card .full-box .full-box-item.direction-row {
        flex-direction: row; }
      .card .full-box .full-box-item .box {
        display: flex;
        justify-content: space-around; }
      .card .full-box .full-box-item .card-title {
        width: 200px; }
      .card .full-box .full-box-item .description {
        width: 100%; }
  .card .form-group {
    padding: 30px 0 25px; }
  .card .input-group {
    display: table-row; }
    .card .input-group input, .card .input-group input[type="number"] {
      padding: 8px 20px; }
    .card .input-group.lighten input {
      background-color: #fff; }
    .card .input-group label {
      display: table-cell;
      color: #777777;
      font-family: "Roboto-Regular";
      font-size: 12px;
      line-height: 14px;
      padding-right: 20px; }
    .card .input-group input {
      display: table-cell; }

.page-body.white-space {
  background-color: #fff;
  border-radius: 3px; }

.page-body-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 33.33%;
  min-height: 270px;
  padding: 0 7.5px; }
  @media (max-width: 1230px) {
    .page-body-top {
      height: auto;
      min-height: 213px; } }

.page-body-top-bottom-container {
  display: block !important; }

.page-body-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 66.66%;
  min-height: 270px;
  padding: 0 7.5px; }
  @media (max-width: 1230px) {
    .page-body-bottom {
      height: auto;
      min-height: 213px; } }

.page-body-item {
  display: inline-flex;
  flex-direction: column;
  padding: 0 7.5px;
  min-width: 25%;
  height: 100%;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }
  @media (max-width: 1230px) {
    .page-body-item {
      min-width: 50%;
      height: auto; } }
  @media (max-width: 768px) {
    .page-body-item {
      min-width: 100%; } }
  .page-body-item .card {
    min-height: 253px;
    height: calc(100% - 15px); }
    .page-body-item .card.card-tall {
      min-height: 520px; }
