

// components

.btn {
  display: inline-block;
  padding: 10px 11px;
  cursor: pointer;
  user-select: none;
}

button {
  background-color: transparent;
}

input {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 10px 20px;
}

input[type="number"] {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 12px 20px;
}

.site-content {
  position: relative;
  margin-left: 220px;

  &.hide-page-body {
    .page-content {
      .page-body {
        &:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .page-content {
    .page-body {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 120px 7.5px 15px;
      z-index: 0;

      &.full-screen-block {
        height: 100%;
        padding-bottom: 0;
      }
      &.no-padding-on-the-sides {
        padding-left: 0;
        padding-right: 0;
      }
      &.flexible-height {
        height: auto;
      }
      &.overflow-hidden {
        overflow: hidden;
      }
      &:after {
        content: '';
        position: fixed;
        top: 120px;
        bottom: 0;
        left: 220px;
        right: 0;
        z-index: 4;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
      .row {
        width: 100%;
        margin: 0;
        flex-direction: row;

        & > * {
          padding: 0 7.5px;

        }
        //margin-left: 0;

        //.col-md-3 {
        //  padding: 0 10px;
        //}
      }
      .card {
        &.transactions {
          .transactions-dashboard {
            position: absolute;
            top: 38px;
            left: 30px;
            right: 30px;
            bottom: 20px;

            &.scroll {
              overflow-y: scroll;
              margin-right: -30px;
              padding-right: 20px;
            }
            .transaction-item {
              height: 25%;
              display: flex;
              box-sizing: border-box;
              border-bottom: 1px solid #E5E5E5;

              .transaction-box {
                margin: auto 0;
                position: relative;
                width: 100%;

                .transaction-date {
                  color: #BBBBBB;
                  font-family: "Roboto-Regular";
                  font-size: 12px;
                  line-height: 14px;
                }
                .transaction-rs {
                  color: #777777;
                  font-family: "Roboto-Regular";
                  font-size: 12px;
                  line-height: 14px;
                  margin-top: 8px;
                }
                .transaction-amount {
                  color: #333333;
                  font-family: "Roboto-Regular";
                  font-size: 16px;
                  line-height: 14px;
                  position: absolute;
                  top: 0;
                  right: 0;
                }
              }
            }
          }
        }
        &.asset-portfolio {
          .card-title {
            margin-bottom: 30px;
          }
          .full-box {
            position: absolute;
            top: 58px;
            left: 30px;
            right: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            bottom: 40px;

            .full-box-item {

              &.coin {
                padding-left: 55px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                .coin-data {
                  display: flex;
                  position: relative;

                  & > * {
                    margin: auto 0;
                  }
                  .figure {
                    height: 40px;
                    width:  40px;
                    position: absolute;
                    left: -55px;
                    top: 50%;
                    transform: translateY(-50%);

                    canvas {
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .amount {
                    color: #333333;
                    font-family: "Roboto-Regular";
                    font-size: 24px;
                  }
                  .coin-name {
                    color: #777777;
                    font-family: "Roboto-Regular";
                    font-size: 12px;
                    line-height: 14px;
                    margin: auto auto auto 30px;
                  }
                  .more {
                    height: 30px;

                    i {
                      color: #BBBBBB;
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }
        &.decentralized-marketplace {
          .full-box {
            position: absolute;
            top: 58px;
            left: 30px;
            right: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            bottom: 20px;
            padding-bottom: 50px;

            .full-box-item {
              display: flex;
              margin: auto 0;

              & * > {
                margin: 0 auto;
              }
              .marketplace-box {
                width: 50%;

                .digit {
                  color: #333333;
                  font-family: "Roboto-Regular";
                  font-size: 36px;
                  line-height: 60px;
                }
                .subtitle {
                  color: #777777;
                  font-family: "Roboto-Regular";
                  font-size: 12px;
                  line-height: 14px;
                  width: 1px;
                }
              }
            }
          }
        }
        &.send-apollo {

        }
        &.active-polls {
          .full-box {
            margin-top: 30px;

            p {
              color: #777777;
              font-family: "Roboto-Regular";
              font-size: 12px;
              line-height: 14px;
              margin-bottom: 30px;
            }
          }
        }
        &.apollo-news {
          .card-news-content {
            margin-top: 30px;
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 18px;
          }
        }
        .full-box {
          position: absolute;
          top: 38px;
          left: 30px;
          right: 30px;
          bottom: 20px;
        }
      }

      // dashboard page
      //& > div {
      //  min-height: 800px;
      //  width: 100%;
      //  padding: 0 7.5px;
      //  display: flex;
      //  flex-direction: column;
      //}

      // my transactions page
      .my-transactions {
        width: 100%;

        .transactions-filters {
          height: 120px;
          padding-left: 40px;

          .top-bar {
            display: flex;

            .btn {
              margin-right: 15px;
            }
          }
        }
        .transaction-table {
          height: calc(100% - 120px);
          min-height: 560px;

          .transaction-table-body {
            table {
              tbody {
                tr {
                  td {

                    &.blue-link-text {
                      a {
                        color: #00C8FF;
                        font-family: "Roboto-Regular";
                        font-size: 14px;
                        line-height: 16px;
                      }
                    }
                    &.date {

                    }
                    &.type {

                    }
                    &.amount {

                    }
                    &.fee {

                    }
                    &.account {

                    }
                    &.phasing {

                    }
                    &.height {

                    }
                    &.confirmations {

                    }
                  }
                }
              }
            }
          }
        }
      }
      .approval-request {
        padding: 35px;
        background-color: #fff;
        min-height: auto;
        overflow: auto;

        .alert {
          color: #333333;
          font-family: "Roboto-Regular";
          font-size: 14px;
          line-height: 16px;
        }
      }
      .account-ledger {
        display: flex;
        flex-direction: column;
        padding: 0 7.5px;
      }
      .blocks {
        padding: 0 7.5px;

        .row {
          width: auto;
          margin-left: -7.5px;
          margin-right: -7.5px;
        }
        .transaction-table-body {
          //
        }
        //margin: 0 -7.5px;
      }
      .scheduled-transactions {
        display: flex;
        flex-direction: column;

        .approval-request {
          height: 100%;
        }
      }
      .peers {
        .transaction-table {
          td {
            .btn {
              margin: 0 0 0 15px;
            }
          }
        }
      }
      .open-orders {
        padding: 0;

        .approval-request {
          height: 100%;
        }
        .row {
          padding: 0;
          height: 100%;
        }
      }
      .account-settings {
        .row {
          position: relative;
        }
      }
      .messenger {
        height: calc(100vh - 135px);
      }
      .marketplace {
        .row {
          & > * {
            height: calc(50% - 19px);
          }
          &.fluid-row {
            & > * {
              height: auto !important;
            }
          }
        }
      }
    }
  }
}