.btn {
  display: inline-block;
  padding: 10px 11px;
  cursor: pointer;
  user-select: none; }

button {
  background-color: transparent; }

input {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 10px 20px; }

input[type="number"] {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 12px 20px; }

.site-content {
  position: relative;
  margin-left: 220px; }
  .site-content.hide-page-body .page-content .page-body:after {
    visibility: visible;
    opacity: 1; }
  .site-content .page-content .page-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 120px 7.5px 15px;
    z-index: 0; }
    .site-content .page-content .page-body.full-screen-block {
      height: 100%;
      padding-bottom: 0; }
    .site-content .page-content .page-body.no-padding-on-the-sides {
      padding-left: 0;
      padding-right: 0; }
    .site-content .page-content .page-body.flexible-height {
      height: auto; }
    .site-content .page-content .page-body.overflow-hidden {
      overflow: hidden; }
    .site-content .page-content .page-body:after {
      content: '';
      position: fixed;
      top: 120px;
      bottom: 0;
      left: 220px;
      right: 0;
      z-index: 4;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out; }
    .site-content .page-content .page-body .row {
      width: 100%;
      margin: 0;
      flex-direction: row; }
      .site-content .page-content .page-body .row > * {
        padding: 0 7.5px; }
    .site-content .page-content .page-body .card.transactions .transactions-dashboard {
      position: absolute;
      top: 38px;
      left: 30px;
      right: 30px;
      bottom: 20px; }
      .site-content .page-content .page-body .card.transactions .transactions-dashboard.scroll {
        overflow-y: scroll;
        margin-right: -30px;
        padding-right: 20px; }
      .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item {
        height: 25%;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid #E5E5E5; }
        .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box {
          margin: auto 0;
          position: relative;
          width: 100%; }
          .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box .transaction-date {
            color: #BBBBBB;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px; }
          .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box .transaction-rs {
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px;
            margin-top: 8px; }
          .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box .transaction-amount {
            color: #333333;
            font-family: "Roboto-Regular";
            font-size: 16px;
            line-height: 14px;
            position: absolute;
            top: 0;
            right: 0; }
    .site-content .page-content .page-body .card.asset-portfolio .card-title {
      margin-bottom: 30px; }
    .site-content .page-content .page-body .card.asset-portfolio .full-box {
      position: absolute;
      top: 58px;
      left: 30px;
      right: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      bottom: 20px; }
      .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin {
        padding-left: 55px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; }
        .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data {
          display: flex;
          position: relative; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data > * {
            margin: auto 0; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .figure {
            height: 40px;
            width: 40px;
            position: absolute;
            left: -55px;
            top: 50%;
            transform: translateY(-50%); }
            .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .figure canvas {
              height: 100%;
              width: 100%; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .amount {
            color: #333333;
            font-family: "Roboto-Regular";
            font-size: 24px; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .coin-name {
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px;
            margin: auto auto auto 30px; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .more {
            height: 30px; }
            .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .more i {
              color: #BBBBBB;
              font-size: 30px; }
    .site-content .page-content .page-body .card.decentralized-marketplace .full-box {
      position: absolute;
      top: 58px;
      left: 30px;
      right: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      bottom: 20px;
      padding-bottom: 50px; }
      .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item {
        display: flex;
        margin: auto 0; }
        .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item * > {
          margin: 0 auto; }
        .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item .marketplace-box {
          width: 50%; }
          .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item .marketplace-box .digit {
            color: #333333;
            font-family: "Roboto-Regular";
            font-size: 36px;
            line-height: 60px; }
          .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item .marketplace-box .subtitle {
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px;
            width: 1px; }
    .site-content .page-content .page-body .card.active-polls .full-box {
      margin-top: 30px; }
      .site-content .page-content .page-body .card.active-polls .full-box p {
        color: #777777;
        font-family: "Roboto-Regular";
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 30px; }
    .site-content .page-content .page-body .card.apollo-news .card-news-content {
      margin-top: 30px;
      color: #777777;
      font-family: "Roboto-Regular";
      font-size: 12px;
      line-height: 18px; }
    .site-content .page-content .page-body .card .full-box {
      position: absolute;
      top: 38px;
      left: 30px;
      right: 30px;
      bottom: 20px; }
    .site-content .page-content .page-body .my-transactions {
      width: 100%; }
      .site-content .page-content .page-body .my-transactions .transactions-filters {
        height: 120px;
        padding-left: 40px; }
        .site-content .page-content .page-body .my-transactions .transactions-filters .top-bar {
          display: flex; }
          .site-content .page-content .page-body .my-transactions .transactions-filters .top-bar .btn {
            margin-right: 15px; }
      .site-content .page-content .page-body .my-transactions .transaction-table {
        height: calc(100% - 120px);
        min-height: 560px; }
        .site-content .page-content .page-body .my-transactions .transaction-table .transaction-table-body table tbody tr td.blue-link-text a {
          color: #00C8FF;
          font-family: "Roboto-Regular";
          font-size: 14px;
          line-height: 16px; }
    .site-content .page-content .page-body .approval-request {
      padding: 35px;
      background-color: #fff;
      min-height: auto;
      overflow: auto; }
      .site-content .page-content .page-body .approval-request .alert {
        color: #333333;
        font-family: "Roboto-Regular";
        font-size: 14px;
        line-height: 16px; }
    .site-content .page-content .page-body .account-ledger {
      display: flex;
      flex-direction: column;
      padding: 0 7.5px; }
    .site-content .page-content .page-body .blocks {
      padding: 0 7.5px; }
      .site-content .page-content .page-body .blocks .row {
        width: auto;
        margin-left: -7.5px;
        margin-right: -7.5px; }
    .site-content .page-content .page-body .scheduled-transactions {
      display: flex;
      flex-direction: column; }
      .site-content .page-content .page-body .scheduled-transactions .approval-request {
        height: 100%; }
    .site-content .page-content .page-body .peers .transaction-table td .btn {
      margin: 0 0 0 15px; }
    .site-content .page-content .page-body .open-orders {
      padding: 0; }
      .site-content .page-content .page-body .open-orders .approval-request {
        height: 100%; }
      .site-content .page-content .page-body .open-orders .row {
        padding: 0;
        height: 100%; }
    .site-content .page-content .page-body .account-settings .row {
      position: relative; }
    .site-content .page-content .page-body .messenger {
      height: calc(100vh - 135px); }
    .site-content .page-content .page-body .marketplace .row > * {
      height: calc(50% - 19px); }
    .site-content .page-content .page-body .marketplace .row.fluid-row > * {
      height: auto !important; }
