

// components

.btn {
  display: inline-block;
  padding: 9px 11px;
  cursor: pointer;
  user-select: none;
	min-height: 33px;
}

button {
  background-color: transparent;
}

input {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 10px 20px;
}

input[type="number"] {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
}

.site-content {
  position: relative;
  margin-left: 220px;
  @media (max-width: 760px) {
    margin-left: 0 !important;
    padding-top: 50px;
  }

  &.hide-page-body {
    .page-content {
      .page-body {
        &:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .page-content {
    @media (max-width: 768px) {
      overflow-x: hidden;
    }
    .page-body {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 135px 7.5px 15px;
      min-height: 100%;
      z-index: 0;
      @media(max-width: 760px) {
        padding-top: 0;
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      &.full-screen-block {
        height: 100%;
        padding-bottom: 0;
      }
      &.no-padding-on-the-sides {
        padding-left: 0;
      }
      &.flexible-height {
        height: auto;
      }
      &.overflow-hidden {
        overflow: hidden;
      }
      &:after {
        content: '';
        position: fixed;
        top: 100px;
        bottom: 0;
        left: 220px;
        right: 0;
        z-index: 4;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        @media (max-width: 760px) {
          top: 0 !important;
          left: 0 !important;
        }
      }
      .row {
        width: 100%;
        margin: 0;
        flex-direction: row;

        //& > * {
        //  padding: 0 7.5px;
		//
        //}
        //margin-left: 0;

        //.col-md-3 {
        //  padding: 0 10px;
        //}
      }
      .card {
        &.transactions {
          .transactions-dashboard {
            position: absolute;
            top: 38px;
            left: 30px;
            right: 30px;
            bottom: 20px;
            @media (max-width: 760px) {
              position: static;
            }

            &.scroll {
              overflow-y: auto;
              margin-right: -30px;
              padding-right: 20px;
              @media (max-width: 760px) {
                max-height: 300px;
              }
            }
            .transaction-item {
              height: 33.33%;
              padding: 20px 0;
              display: flex;
              box-sizing: border-box;
              border-bottom: 1px solid #E5E5E5;
              position: relative;

              @media (max-width: 760px) {
                height: auto;
                margin-top: 20px;
                //padding-bottom: 5px;
              }
              i {
                color: #00C8FF;
                font-size: 18px;
              }
              .transaction-box {
                margin: auto 0;
                width: 100%;

                .transaction-date {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: #BBBBBB;
                  font-family: "Roboto-Regular";
                  font-size: 12px;
                  line-height: 14px;
                }
                .transaction-rs {
                  color: #777777;
                  font-family: "Roboto-Regular";
                  font-size: 12px;
                  line-height: 14px;
                  margin-top: 8px;
                }
                .arrow {
                  position: relative;
                  display: block;
                  margin-top: 3px;
                  margin-bottom: -5px;

                  &.danger {
                    i {
                      color: #e74c3c !important;
                    }
                  }
                  &.success {
                    i {
                      color: #2ecc71 !important;
                    }
                  }

                  i {
                    //position: absolute;
                    //bottom: -50%;
                    //right: 20px;
                    transform: rotate(90deg);
                    color: #777777;
                    font-size: 20px;
                  }
                }
                .transaction-amount {
                  color: #333333;
                  font-family: "Roboto-Regular";
                  font-size: 13px;
                  line-height: 14px;
                  margin-left: 6px;
                }
              }
            }
          }
        }
        &.asset-portfolio {
          .card-title {
            margin-bottom: 30px;
          }
          .full-box {
            position: absolute;
            top: 65px;
            left: 30px;
            right: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            bottom: 40px;

            .full-box-item {

              &.coin {
                padding-left: 45px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-bottom: -15px;

                .coin-data {
                  display: flex;
                  flex-wrap: wrap;
                  position: relative;

                  & > * {
                    margin: auto 0;
                  }
                  .figure {
                    height: 25px;
                    width:  25px;
                    position: absolute;
                    left: -45px;
                    top: 50%;
                    transform: translateY(-50%);

                    canvas {
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .amount {
                    color: #333333;
                    font-family: "Roboto-Regular";
                    font-size: 17px;
                    margin-right: 15px;
                    min-width: 70px;
                  }
                  .coin-name {
                    color: #777777;
                    font-family: "Roboto-Regular";
                    font-size: 12px;
                    line-height: 14px;
                  }
                  .more {
                    height: 30px;
                    margin: auto 0 auto auto;

                    i {
                      color: #BBBBBB;
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }
        &.decentralized-marketplace {
          .full-box {
            position: absolute;
            top: 58px;
            left: 30px;
            right: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            bottom: 20px;
            padding-bottom: 50px;

            .full-box-item {
              display: flex;
              margin: auto 0;

              & * > {
                margin: 0 auto;
              }
              .marketplace-box {
                width: 50%;

                .digit {
                  color: #333333;
                  font-family: "Roboto-Regular";
                  font-size: 36px;
                  line-height: 60px;
                }
                .subtitle {
                  color: #777777;
                  font-family: "Roboto-Regular";
                  font-size: 12px;
                  line-height: 14px;
                  width: 1px;
                  word-break: normal;
                }
              }
            }
          }
        }
        &.send-apollo {

        }
        &.active-polls {
          .full-box {
            margin-top: 30px;

            p {
              color: #777777;
              font-family: "Roboto-Regular";
              font-size: 12px;
              line-height: 14px;
              margin-bottom: 30px;
            }
          }
        }
        &.apollo-news {
          padding-bottom: 45px !important;
          .card-news-content {
            margin-top: 30px;
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 18px;
          }
        }
        .full-box {
          position: absolute;
          top: 38px;
          left: 30px;
          right: 30px;
          bottom: 20px;
        }
      }

      // dashboard page
      & > div {
        min-height: 750px;
        width: 100%;
        padding: 0 7.5px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
          min-height: auto;
        }
      }

      // my transactions page
      .my-transactions {
        width: 100%;

        .transactions-filters {
          min-height: 120px;
          padding-left: 40px;

          .top-bar {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .btn {
              margin-top: 10px;
              margin-right: 15px;
              height: max-content;
            }
          }
        }
        .transaction-table {
          height: calc(100% - 120px);
          min-height: 560px;
          @media (max-width: 1024px) {
            height: auto;
            min-height: auto;
          }

          .transaction-table-body {
            table {
              tbody {
                tr {
                  td {

                    &.blue-link-text {
                      a {
                        color: #00C8FF;
                        font-family: "Roboto-Regular";
                        font-size: 14px;
                        line-height: 16px;
                      }
                    }
                    &.date {

                    }
                    &.type {

                    }
                    &.amount {

                    }
                    &.fee {

                    }
                    &.account {

                    }
                    &.phasing {

                    }
                    &.height {

                    }
                    &.confirmations {

                    }
                  }
                }
              }
            }
          }
        }
      }
      .approval-request {
        padding: 35px;
        background-color: #fff;
        min-height: auto;
        overflow: auto;

        .alert {
          color: #333333;
          font-family: "Roboto-Regular";
          font-size: 14px;
          line-height: 16px;
        }
      }
      .account-ledger {
        display: flex;
        flex-direction: column;
        padding: 0 7.5px;
      }
      .blocks {
        padding: 0 7.5px;

        .row {
          width: auto;
          margin-left: -7.5px;
          margin-right: -7.5px;
        }
        .card {
          height: 100%;
        }
        //margin: 0 -7.5px;
      }
      .scheduled-transactions {
        display: flex;
        flex-direction: column;

        .approval-request {
          height: 100%;
        }
      }
      .peers {
        .transaction-table {
          td {
            .btn {
              margin: 0 0 0 15px;
            }
          }
        }
      }
      .open-orders {
        padding: 0;

        .approval-request {
        }
        .row {
          padding: 0;
          height: 100%;
        }
        .transaction-table{
          min-height: auto;
        }
      }
      .account-settings {
        .row {
          position: relative;
        }
      }
      .messenger {
        height: calc(100vh - 135px);
      }
      .marketplace {
        .row {
          & > * {
            //height: calc(50% - 19px);
          }
          &.fluid-row {
            & > * {
              height: auto !important;
            }
          }
        }
      }
    }
  }
}


