.wrap-block-downloader {
  position: fixed;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto !important;
  z-index: 5;

  .block-downloader {
    height: 70px !important;
    width: 200px;
    background-color: #fff;
    border: 1px solid #E6EAEE;
    border-radius: 3px;
    display: flex;
    margin-bottom: 5px;
    &:last-of-type {
      margin-bottom: 0;
    }
    svg {
      margin: 10px;
      width: 48px;
      height: 48px;
    }
  }

  .block-downloader_text {
    display: block;
    padding: 10px 10px 10px 0;
    align-self: center;
    color: #3D5A7E;
    font-size: 12px;
  }
}