.accordion {
  position: relative;
  padding: 16px;
  margin-bottom: 16px;
  background: rgba(#252A31, 0.8);
  border-radius: 6px;
}

.accordionActive {
  border: 0.5px solid #25F459;
}

.accordionHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordionInfo {
  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  font-size: 24px;
  color: #FFFFFF;
}

.accordionIcon {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 9px;
    height: 9px;
    transform: translateY(-50%) rotate(-45deg);
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
  }
}

.accordionIconOpen {
  &::after {
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

.accordionContent {
  height: 0;
  overflow: hidden;
}

.accordionContentOpen {
  height: auto;
  margin-top: 18px;
}