.tooltipWrapper {
  
}

.tooltipWrapperItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tooltipWrapperIcon {
  display: block;
  width: 13px;
  height: 8px;
  margin-right: 14px;
}

.tooltipWrapperIconMinus {
  height: 1px;
}

.tooltipWrapperText {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 1.3;
  text-transform: none;
}