.dashboard {
	color: #3D5A7E;
	font-size: 11px;
	line-height: 16px;

	::placeholder {
		opacity: 1;
		color: #93A9C3 !important;
		font-size: 12px;
		letter-spacing: 0.3px;
		line-height: 14px;
	}

	:-ms-input-placeholder {
		color: #93A9C3 !important;
	}

	.btn.btn-xs {
		padding: 2px 6px;
		min-height: 17px;
		font-size: 11px;
		letter-spacing: 0.27px;
	}

	.text-success {
		color: #2AC940 !important;
	}

	.text-danger {
		color: #F36 !important;
	}

	.cards-wrap {
		display: flex;
	}

	.btn-corner-primary {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #2B23FF;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.46px;
		line-height: 16px;
		text-align: right;
		transition: 0.3s;
		cursor: pointer;
		padding: 0;
		border-radius: 0;

		&:hover {
			background: #e5efff;
		}

		span {
			padding: 0 15px;
		}

		.btn-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 45px;
			width: 45px;
			background-color: #2B36FF;
			box-shadow: 0 6px 4px 0 rgba(43, 54, 255, 0.23);
			color: #ffffff;

			svg {
				margin: 0;
			}
		}
	}

	.card {
		width: 278px;
		height: 428px;
		margin: 18px;
		overflow: auto;

		&.card-primary-action {
			overflow: initial;
			.card-body {
				padding-bottom: 57px;
			}
		}

		&.card-square {
			height: 278px;
			background-size: cover;
			background-position: center;
		}

		&.card-xl {
			width: 568px;
		}

		&.card-double {
			.card-body {
				box-shadow: 0 0 10px 0 #E6EAEE, 0 10px 20px 0 rgba(30, 30, 30, 0.05);
				height: auto;
				overflow: unset;
				padding-bottom: 12px;
			}

			.card-sub-body {
				height: 100%;
				display: flex;
				flex-direction: column;
				box-shadow: none;

				.exchange-chart-wrap {
					height: 100%;
				}

				.exchange-info {
					display: flex;
					justify-content: space-between;

					.exchange-info-price {
						color: #3D5A7E;
						font-size: 20px;
						font-weight: 500;
						line-height: normal;
					}

					.exchange-info-currency {
						color: #3D5A7E;
						font-size: 11px;
						font-weight: 500;
						letter-spacing: 0.27px;
						line-height: 13px;
						padding-top: 4px;
						padding-left: 5px;
					}
				}
			}
		}

		.card-title {
			flex-direction: column;
			align-items: flex-start;

			&.bg-primary {
				color: #FFF;
				background: linear-gradient(79.43deg, #2B36FF 0%, #535BFF 100%);
			}

			&.bg-light-primary {
				color: #2B36FF;

				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					background: linear-gradient(79.43deg, #2B36FF 0%, #535BFF 100%);
					top: 0;
					left: 0;
				}
			}

			&.card-title-tabs {
				padding-bottom: 0;
			}

			.title {
				font-size: 14px;
				line-height: 17px;
			}

			.balance-info {
				display: flex;

				.balance {
					font-size: 38px;
					font-weight: 700;
					letter-spacing: -1px;
					line-height: 46px;
				}

				.currency {
					font-size: 11px;
					font-weight: 500;
					letter-spacing: 0.27px;
					line-height: 13px;
					text-align: center;
					padding-top: 9px;
					padding-left: 5px;
				}
			}

			.title-tabs-section {
				display: flex;

				.tab {
					border-radius: 3px 3px 0 0;
					border: 1px solid #FFF;
					border-bottom: none;
					padding: 7px 7px 15px 7px;
					min-width: 90px;
					font-size: 11px;
					line-height: 13px;
					text-align: center;
					color: #FFF;
					margin-right: 15px;
					text-transform: uppercase;
					transition: 0.3s;
					cursor: pointer;

					&:hover {
						background: rgba(255, 255, 255, 0.1);
					}

					&.active {
						color: #2B36FF;
						background-color: #FFF;
					}

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}

		.card-body {
			.connect-status-wrap {
				display: flex;
			}

			.connect-status {
				color: #8997A9;
				font-size: 11px;
				letter-spacing: 0.27px;
				line-height: 13px;
				display: flex;
				align-items: center;
				margin-right: 15px;

				.connect-icon {
					height: 10px;
					width: 10px;
					background-color: #8997A9;
					margin-right: 6px;
					border-radius: 50%;
				}

				&.success {
					color: #3D5A7E;

					.connect-icon {
						background-color: #2AC940;
					}
				}
			}

			.transaction-item {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background-color: #FFF;
				box-shadow: 0 1px 4px 0 rgba(137, 151, 169, 0.3);
				margin-bottom: 5px;
				padding: 12px 9px;

				&:last-of-type {
					margin-bottom: 0;
				}

				.transaction-type {
					color: #3D5A7E;
					font-size: 12px;
					font-weight: 600;
				}

				.transaction-date, .transaction-confirmation {
					color: #93A9C3;
					font-size: 9px;
					letter-spacing: -0.25px;
				}

				.transaction-amount {
					font-size: 12px;
					letter-spacing: -0.04px;
					white-space: nowrap;
				}

				.transaction-rs-wrap {
					white-space: nowrap;
				}

				.transaction-you {
					color: #3D5A7E;
					font-size: 11px;
					font-weight: 600;
					letter-spacing: 0.27px;
					line-height: 13px;
				}

				.transaction-rs {
					color: #3D5A7E;
					font-size: 11px;
					letter-spacing: 0.27px;
					text-transform: uppercase;

					.transaction-type {
						border: 1px solid #2B36FF;
						color: #2B36FF;
						font-size: 11px;
						padding: 2px 5px;
					}
				}

				.arrow {
					height: 8px;
					width: 10.69px;

					&.success {
						fill: #2AC940;
					}

					&.danger {
						fill: red;
					}

					svg {
						margin: 0;
						max-width: initial;
					}
				}
			}

			.social-wrap {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: space-between;
				padding: 0 25px;

				.social-row {
					display: flex;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: space-between;
				}
			}

			a {
				cursor: pointer;
				transition: 0.3s;

				svg {
					fill: rgb(137, 151, 169);
				}

				&:hover {
					svg {
						fill: #2547F4;
						filter: drop-shadow(0 6px 4px rgba(43, 54, 255, 0.23));
					}
				}
			}
		}


		.ball-pulse {
			display: inline-block;

			> div {
				background-color: #2B36FF;
				width: 4px;
				height: 4px;
			}
		}
	}

	.form-group-app {
		label {
			color: #93A9C3;
			margin: 0;
		}

		.label-icon-left {
			margin-left: -15px;

			.zmdi {
				font-size: 12px;
			}
		}

		input {
			height: 30px !important;
			color: #3D5A7E;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0.3px;
			line-height: 14px;
			border-color: rgba(147, 169, 195, 0.2);
			box-shadow: 0 1px 4px 0 #E6EAEE;
		}

		.input-number-wrap {
			background-size: 7px;
			border: 1px solid #E1E5EA;
			border-radius: 0 2px 2px 0;
			margin: 0;
			width: 30px;
		}

		.input-group {
			box-shadow: 0 1px 4px 0 #E6EAEE;
			height: 32px;

			&.input-group-disabled {
				input, .input-group-text {
					background-color: #F5F7FC !important;
				}
			}

			input {
				box-shadow: none;
				border-radius: 2px 0 0 2px;
			}

			.input-group-append {
				margin: 0;
			}

			.input-group-text {
				background-color: transparent !important;
				padding: 0 !important;
				width: 30px;
				height: 100%;
				justify-content: center;
				border: 1px solid #E6EAEE;
				border-left: none;
				color: #93A9C3;
				font-size: 12px;
				line-height: 14px;
			}

			.input-number-wrap {
				border-radius: 0;
			}

			&.iconned-input-field {
				.input-group-text {
					background-color: #D3D8DF !important;
					border: 1px solid #D3D8DF;
					border-radius: 0 2px 2px 0;
					color: #fff;
					font-size: 20px;
				}
			}
		}

		.disabled-fee-wrap {
			display: flex;
			align-items: center;

			.disabled-fee-checkbox {
				margin: 0 0 0 12px !important;
				width: 100%;
			}
		}
	}

	.success {
		color: #2AC940;
	}

	.danger {
		color: #F36;
	}
}