.custom-select {
  width: 100%;
  height: 37px;
  box-sizing: content-box;
  padding-top: 0 !important;
  background-color: #F5F5F5;

  & > div {
    background-color: #F5F5F5 !important;
    border: 1px solid #E5E5E5 !important;
    box-shadow: none !important;
  }
}