.privateTransactionConfirmWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.2);
}

.privateTransactionConfirmInfoBox {
  position: relative;
  width: 90% !important;
}

.privateTransactionConfirmButtonWrapper {
  display: flex;
  justify-content: flex-end;
}