.scannerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55;
  display: none;
}

.scannerCamera {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
}

.actionButtons {
  position: absolute;
  top: 70%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  font-size: 50px;
}

.scannerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: grey;
}

.scannerClose {
  color: #FFF;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  width: 60px;
  height: 60px;
}

.actionButtons div {
  margin-right: 10px;
}