include includes/mixins

doctype html
html(lang="en")
	+head('APL')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		+menuBar()
		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										h1.title Blocks
										a.btn.primary Show private transactions
										.breadcrumbs
											a Apollo Wallet /
											strong: a Blocks
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/man.svg)")
				.page-body.container-fluid
					.blocks
						.row
							.col-md-3
								.card.header.ballance.single
									.card-title Available Balance
									.amount 37,000,000
							.col-md-3
								.card.header.assets.single
									.card-title Available Balance
									.amount 37,000,000
							.col-md-3
								.card.header.currencies.single
									.card-title Available Balance
									.amount 37,000,000
							.col-md-3
								.card.header.coins.single
									.card-title Available Balance
									.amount 37,000,000

						.transaction-table
							.transaction-table-body
								table
									thead
										tr
											td Height
											td.align-right Date
											td.align-right Amount
											td.align-right Fee
											td.align-right # TX
											td Generator
											td.align-right Payload
											td.align-right Base Target
									tbody
										for i in [1,2,3,4,5,6,7,8,9,10, 11, 12,13, 14, 15]
											tr
												td.blue-link-text: a 145 804
												td.align-right: a 6/13/2018 11:34:03
												td.align-right 0
												td.align-right 0
												td.align-right: a 1
												td.blue-link-text: a APL-N6J9-T9AA-RKEB-G9NDM
												td.align-right: a 216 B
												td.align-right: a 4281 %

								.btn-box
									a.btn.btn-left  Previous
									a.btn.btn-right Next