include includes/mixins

doctype html
html(lang="en")
	+head('APL')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		+menuBar()
		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										h1.title Account ledger
										a.btn.primary Show private transactions
										.breadcrumbs
											a Apollo Wallet /
											strong: a Account ledger
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/man.svg)")
				.page-body.container-fluid
					.account-ledger
						.info-box.info
							p Only ledger entries created during the last 30000 blocks are displayed.

						.transaction-table
							.transaction-table-body
								table
									thead
										tr
											td Entry
											td Type
											td.align-right Change
											td Balance
											td Holding
											td.align-right Change
											td.align-right Balance
									tbody
										for i in [1,2,3,4,5,6,7,8,9,10, 11, 12,13, 14, 15]
											tr
												td.blue-link-text: a 6/13/2018 11:34:03
												td
													| Transaction Fee
													a(): span(class="info")
												td.align-right -1.0
												td 7,460.0
												td: a
												td.align-right: a
												td.align-right: a

								.btn-box
									a.btn.btn-left  Previous
									a.btn.btn-right Next