include includes/mixins

doctype html
html(lang="en")
	+head('APL')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		+menuBar()
		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										h1.title Funding monitors
										a.btn.primary Start monitor
										.breadcrumbs
											a Apollo Wallet /
											strong: a Funding monitors
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/man.svg)")
				.page-body.container-fluid
					.funding-monitors

						.info-box.info
							p Information in this table is delayed by up to 30 seconds, use the desktop wallet for more up to date information.

						.transaction-table
							.transaction-table-body
								table
									thead
										tr
											td Account
											td Property
											td.align-right Amount
											td Threshold
											td Interval
											td Action
									tbody
										for i in [1,2,3]
											tr
												td.blue-link-text: a APL-8MVA-XCVR-3JC9-2C7C3
												td ?
												td.align-right 150,193,581
												td ?
												td ?
												td ?

								.btn-box
									a.btn.btn-left  Previous
									a.btn.btn-right Next