include includes/mixins

doctype html
html(lang="en")
	+head('APL')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		+menuBar()
		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										h1.title Generators
										.breadcrumbs
											a Apollo Wallet /
											strong: a Generators
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/man.svg)")
				.page-body.container-fluid
					.blocks
						.row
							.col-md-3
								.card.header.ballance.single
									.card-title Last block time
									.card-title-date 6/14/2018
									.amount 10:29:09

							.col-md-3
								.card.header.assets.single
									.card-title Height
									.amount 147 360
							.col-md-3
								.card.header.currencies.single
									.card-title Available Balance
									.amount 266
						.info-box.info
							p Information in this table is delayed by up to 30 seconds, use the desktop wallet for more up to date information.

						.transaction-table
							.transaction-table-body
								table
									thead
										tr
											td Account
											td.align-right Effective Balance
											td.align-right Hit time
											td.align-right Deadline
											td.align-right Remaining
									tbody
										for i in [1,2,3,4,5,6,7,8,9,10, 11, 12,13, 14, 15]
											tr
												td.blue-link-text: a APL-8MVA-XCVR-3JC9-2C7C3
												td.align-right 150,193,581
												td.align-right 6/12/2018 10:48:41
												td.align-right 26
												td.align-right -90

								.btn-box
									a.btn.btn-left  Previous
									a.btn.btn-right Next