include includes/mixins

doctype html
html(lang="en")
	+head('Sponge')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		.menu-bar
			.site-logo
				img
			nav
				ul
					li
						a Dashboard
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests
					li
						a Asset system
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Currency system
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests
					li
						a Voting system
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests
					li
						a Data storage
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Marketplace
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Coin shuffling
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
									li: a Approval requests

					li
						a Messages
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Aliases
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Plugins
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										p.title Dashboard
										.breadcrumbs
											a Apollo Wallet /
											strong: a Dashboard
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/)")
				.page-body.container-fluid
					.row
						.col-md-3
							.card.header.ballance
								.card-title Available Balance
								.amount 37,000,000
							.card.card-tall.transactions
								.card-title Transactions
								.transactions-dashboard
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000

						.col-md-3
							.card.header.assets
								.card-title Assets Value
								.amount 37,000,000

							.card.asset-portfolio
								.card-title Asset Portfolio
								.full-box
									.full-box-item.coin
										.coin-data
											.figure
											.amount 81%
											.coin-name Bitcoin
										.more
									.full-box-item.coin
										.coin-data
											.figure
											.amount 81%
											.coin-name Bitcoin
										.more
									.full-box-item.coin
										.coin-data
											.figure
											.amount 81%
											.coin-name Bitcoin
										.more

							.card.decentralized-marketplace
								.card-title Decentralized Marketplace
								.full-box
									.full-box-item
										.marketplace-box
											.digit 5
											.subtitle Purchased products
										.marketplace-box
											.digit 1/2
											.subtitle Sales
								a.btn.btn-left.btn-simple Marketplace



						.col-md-3
							.card.header.currencies
								.card-title Currencies Value

							.card.send-apollo
								.card-title Send Apollo
								.full-box
									.form-group.offset
										.input-group.lighten
											label Wallet
											input(type="number")
										.input-group.lighten
											label Amount
											input
										.input-group.lighten
											label Send to
											input
								a.btn.btn-left.btn-simple Private APL
								.btn.btn-right Send

							.card.active-polls
								.card-title Active Polls
								.full-box.block
									p Search for Zerp on the Asset Exchange section.
									p What features should be implemented in apollo platform?
									p Apollo to have future USD/Fiat Pairs on Exchange?

						.col-md-3
							.card.header.coins


							.card.card-tall.apollo-news
								.card-title Apollo News
								.card-news-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


