include includes/mixins

doctype html
html(lang="en")
	+head('Sponge')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		.menu-bar
			.site-logo
				img
			nav
				ul
					li
						a Dashboard
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests
					li
						a Asset system
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Currency system
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests
					li
						a Voting system
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests
					li
						a Data storage
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Marketplace
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Coin shuffling
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
									li: a Approval requests

					li
						a Messages
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Aliases
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

					li
						a Plugins
						.dropdown-menu
							ul
								li: a Dashboard
								li: a Account ledger
								li: a Account properties
								li: a My transactions
								li: a Approval requests

		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										p.title Dashboard
										.breadcrumbs
											a Apollo Wallet /
											strong: a Dashboard
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/)")
				.page-body.container-fluid
					.row
						.col-md-3
							.card.header.ballance
								.card-title Available Balance
								.amount 37,000,000
							.card.card-tall.transactions
								.card-title Transactions
								.transactions-dashboard
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000
									.transaction-item
										.transaction-box
											.transaction-date 15:00, 12 dec 2018
											.transaction-rs APL-NZKH-MZRE-2CTT-98NPW
											.transaction-amount 75,000

						.col-md-3
							.card.header.assets
								.card-title Assets Value
								.amount 37,000,000

							.card
								.card-title Asset Portfolio
							.card
								.card-title Decentralized Marketplace
						.col-md-3
							.card.header.currencies
								.card-title Currencies Value
							.card
								.card-title Send Apollo
							.card
								.card-title Active Polls
						.col-md-3
							.card.header.coins
							.card.card-tall
								.card-title Apollo News

