include includes/mixins

doctype html
html(lang="en")
	+head('APL')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		+menuBar()
		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										p.title My assets
										.breadcrumbs
											a Apollo Wallet /
											strong: a My assets
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/man.svg)")
				.page-body.container-fluid
					.open-orders
						.row
							.col-md-6
								.approval-request.white-space
									.alert No assets.
							.col-md-6
								.approval-request.white-space
									.alert No assets.

