include includes/mixins

doctype html
html(lang="en")
	+head('APL')
	body(data-content-area="1400px")
		//+modalWindow('sendMoney')
		//+modalWindow('sendMoneyPrivate')
		+menuBar()
		.site-content
			.page-content
				.page-header
					.container-fluid
						.row
							.col-md-6
								.page-title-box
									.page-title-box
										p.title Account settings
										.breadcrumbs
											a Apollo Wallet /
											strong: a Account settings
							.col-md-6
								.user-search-box
									.search-bar
										input(type="text")
									.user-box
										.user-name
											a Viktoria Apollo
										.user-avatar(style="background-image: url(../img/man.svg)")
				.page-body.container-fluid
					.account-settings
						.row
							.col-md-6
								.form-group.compensate-margin
									.form-title
										p General
									.input-group
										.row
											.col-md-6
												label Language
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Regional format
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Use 24 hour format
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Maximum decimal positions
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Enable plugins
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label
											.col-md-6
												.form-sub-title Need restart of client.
									.input-group
										.row
											.col-md-6
												label Show console log button
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Administrator password
											.col-md-6
												input(type="select")


							.col-md-6
								.form-group.compensate-margin
									.form-title
										p User interface behaviour
									.input-group
										.row
											.col-md-6
												label Submit forms on enter
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label
											.col-md-6
												.form-sub-title Be careful when choosing to submit forms via the enter key, submitting can't be undone.


									.input-group
										.row
											.col-md-6
												label Enable marketplace section
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Enable exchange section
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Animate forging indicator
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Items to show per page
											.col-md-6
												input(type="select")

							.col-md-6
								.form-group.compensate-margin
									.form-title
										p Form warnings
										.form-sub-title Show a warning when an amount / fee entered is higher than specified below.
									.input-group
										.row
											.col-md-6
												label Max amount warning
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Max fee warning
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Max asset transfer warning
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Maximum decimal positions
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Max currency transfer warning
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Show fake warnings
											.col-md-6
												input(type="select")

							.col-md-6
								.form-group.compensate-margin
									.form-title
										p Theme settings
									.input-group
										.row
											.col-md-6
												label Header
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Sidebar
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Boxes
											.col-md-6
												input(type="select")

							.col-md-6
								.form-group.compensate-margin
									.form-title
										p Exchange settings
									.input-group
										.row
											.col-md-6
												label ShapeShift URL
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label ShapeShift API Key
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Changelly URL
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Changelly URL
											.col-md-6
												input(type="select")
									.input-group
										.row
											.col-md-6
												label Changelly API Secret
											.col-md-6
												input(type="select")
							.col-md-6
								.btn-box.absolute.right-conner.more-padding
									.btn.primary Cancel
									.btn.primary.blue Save settings
