.checkbox-group {
  display: flex;
  align-items: center;

  .checkbox-label {
    text-transform: uppercase;
    color: #25F459;
    font-size: 11px;
    line-height: 13px;
    padding: 0px !important;
    cursor: pointer;
  }

  .checkbox {
    height: 15px;
    width: 15px;
    min-width: 15px;
    border-radius: 3px;
    background-color: #FCFCFD;
    border: 1px solid #25F459;
    padding: 2px !important;
    margin: 0 7px 0 0 !important;
    cursor: pointer;
    &:after {
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      border-radius: 1px;
      background-color: #25F459;
      background-image: none;
    }
  }
}

.checkbox-group--top {
  margin-top: 15px;
}
