.forging-body-modal-window {
    min-width: 200px;

    @media(min-width: 768px) {
        left: 50px;
    }
}

.account-body-modal-window {
    min-width: 300px;

    @media(min-width: 768px) {
        right: 30px;
    }
}

.settings-body-modal-window {
    min-width: 550px;

    @media (max-width: 767px) {

        a {
            color: white !important;
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        min-width: 300px;
    }
    

    @media(min-width: 768px) {
        right: 217px;
    }
    @media(min-width: 1024px) {
        right: 377px;
    }   
}