.forging-body-modal-window {
    min-width: 200px;

    @media(min-width: 768px) {
        left: 50px;
    }
}

.account-body-modal-window {
    min-width: 300px;
    @media(min-width: 768px) {
        right: 30px;
    }

    .form-group-app {
        .form-title {
            padding: 0;
            p {
                color: #3D5A7E;
                font-size: 28px;
                font-weight: 300;
                line-height: 34px;
                letter-spacing: -0.93px;
            }
        }
        .form-sub-title {
            margin: 0;
            color: #3D5A7E;
            font-size: 13px;
            font-weight: normal;
        }
        .form-body {
            .input-section {
                padding: 12px 0;
            }
        }
    }
}

.settings-body-modal-window {
    min-width: 550px;

    @media (max-width: 767px) {

        a {
            color: white !important;
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        min-width: 300px;
    }
    

    @media(min-width: 768px) {
        right: 217px;
    }
    @media(min-width: 1024px) {
        right: 377px;
    }   
}