.media-site-header-buttons {
	display: none;
	
	@media(max-width: 1024px) {
		display: block;
	}
}

.page-header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: #F5F7FC;
	padding: 20px 50px 20px 26px;
	width: calc(100% - 235px);
	top: 0;
	right: 0;
	z-index: 2;
	@media (max-width: 1000px) {
		padding: 12px 12px 18px 12px;
		width: calc(100% - 100px);
	}
	@media (max-width: 760px) {
		position: relative;
		width: 100% !important;
		padding: 12px;
		flex-direction: column;
		align-items: flex-start;
		z-index: 1;
	}
	.page-title-box {
		.page-title-box {
			position: relative;
			
			.open-settings {
				display: inline-block;
				position: relative;
			}
			& > * {
				vertical-align: middle;
			}
			.btn.primary {
				//margin: 7px 0 !important;
				//@media (max-width: 760px) {
				//	display: none !important;
				//}
			}
			.title {
				color: #3D5A7E;
				font-size: 28px;
				font-weight: 300;
				line-height: 34px;
				letter-spacing: -0.93px;
				display: inline-block;
				margin-right: 15px;
				small {
					font-size: 20px;
				}
				@media (max-width: 1024px) {
					font-size: 30px;
				}
				@media (max-width: 760px) {
					font-size: 26px;
					small {
						font-size: 18px;
					}
				}
			}
			.btn.icon-button i {
				color: #3D5A7E;
			}
			.user-box-icon {
				margin-left: 10px;
			}
		}
		.btn {
			margin-top: 0;
			position: relative;
			
			.settings-bar {
				position: absolute;
				left: 0;
				top: calc(100% - 40px);
			}
		}
		
	}
	.logo {
		display: none;
		align-items: center;
		justify-content: center;
		z-index: 3;
		position: absolute;
		left: 12px;
		@media (max-width: 760px) {
			display: inline-flex;
		}
		img {
			height: 30px;
			width: auto;
		}
	}
	.user-search-box {
		display: flex;
		justify-content: flex-end;
		z-index: 2;
		@media (max-width: 760px) {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background-color: #f5f7fc;
			z-index: 5;
			padding: 6px 12px;
			align-items: center;
		}

		.user-box {
			display: flex;
			align-items: center;
			.user-box-info {
				margin-left: 18px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				color: #3D5A7E;
				font-size: 12px;
				line-height: normal;
				@media (max-width: 760px) {
					display: none;
				}
				.user-name {
					max-width: 200px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					color: #3D5A7E;
					font-size: 12px;
					line-height: 14px;
				}
				.user-status {
					color: #F36;
					font-size: 10px;
					text-transform: uppercase;
					&.verified {
						color: rgba(0,189,32,0.92);
					}
				}
			}

			.user-avatar {
				height: 30px;
				width: 30px;
				border-radius: 100%;
				//border: 1px solid #E6EAEE;
				background-color: #FFF;
				color: #8AA5C7;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 15px;
			}
		}
		.search-bar {
			position: relative;
			display: flex;
			align-items: center;
			margin-right: 45px;
			@media (max-width: 760px) {
				margin-right: 0;
			}

			.searching-window-wrap {
				position: relative;
				margin-right: 15px;
				@media (max-width: 760px) {
					margin-right: 10px;
				}

				.searching-window {
					width: 30px;
					box-sizing: border-box;
					height: 30px;
					border-radius: 3px;
					border: 1px solid transparent;
					line-height: normal;
					padding: 0;
					font-family: "BBRollerMonoProST", sans-serif;
					font-size: 11px;
					color: #3D5A7E;
					background-color: #ffffff;

					&::placeholder {
						color: #fff !important;
					}

					&:-ms-input-placeholder {
						color: #fff !important;
					}
				}

				.searching-window-icon {
					position: absolute;
					left: 0;
					top: 0;
					display: flex;
					align-items: center;
					color: #8AA5C7;
					font-size: 15px;
					z-index: 1;
				}
			}

			.user-account-actions {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.user-account-rs {
					color: #2B23FF;
					font-size: 12px;
					text-align: center;
					margin-right: 15px;
					display: none;
					@media (min-width: 1200px) {
						display: flex;
					}
				}

				.header-action {
					color: #8AA5C7;
					font-size: 15px;
					margin-right: 15px;
					height: 30px;
					width: 30px;
					border-radius: 3px;
					background-color: #FFF;
					border: 1px solid transparent;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					transition: 0.3s;

					&:hover {
						border-color: #E6EAEE;
					}

					.zmdi {
						height: 15px;
						width: 15px;
					}

					@media (max-width: 760px) {
						margin-right: 10px;
					}
				}
			}
		}

		&.searching {
			.search-bar {
				.searching-window {
					width: 100%;
				}
				.searching-window-icon {
					position: absolute;

					.header-action {
						margin: 0;
						background-color: transparent;

						&:hover {
							border-color: transparent;
						}
					}
				}

				.searching-window-wrap {
					position: initial;
					.searching-window {
						width: 100%;
						border: 1px solid #E6EAEE;
						padding: 6px 6px 6px 30px;
						position: absolute;
						right: 0;
						top: 0;

						&::placeholder {
							color: #8AA5C7 !important;
							font-size: 11px;
							line-height: normal;
						}

						&:-ms-input-placeholder {
							color: #8AA5C7 !important;
						}
					}
				}
			}
		}
	}
	.network-overview {
		font-size: 10px;
		cursor: pointer;
		color: #2B23FF;
		text-align: right;
		position: absolute;
		bottom: 6px;
		right: 50px;
		@media (max-width: 1000px) {
			right: 12px;
		}
		@media (max-width: 760px) {
			right: auto;
			bottom: auto;
			position: relative;
		}
	}

	.user-box-icon {
		color: #8AA5C7;
		font-size: 24px;
		margin-left: 10px;
		@media (min-width: 1200px) {
			margin-left: 35px;
		}
	}
}

.settings-bar {
	position: absolute;
	display: flex;
	justify-content: space-around;
	background: #F5F7FC;
	box-sizing: border-box;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.3s ease-in-out;
	z-index: 4;
	overflow: auto;
	max-height: calc(100vh - 86px);
	top: 0;

	&.active {
		opacity: 1;
		transform: none;
		visibility: visible;
	}
	.options-col {
		width: 100%;
		border-right: 1px solid #E6EAEE;

		&:last-child {
			border: 0;
			@media (max-width: 1024px) {
				padding-bottom: 6px;
			}
		}

		li {
			padding: 6px 12px;
			color: #3D5A7E;
			a {
				font-size: 12px;
				line-height: 14px;
			}

			&:first-of-type {
				padding-top: 12px;
			}

			&:last-of-type {
				padding-bottom: 12px;
			}

			@media (max-width: 1024px) {
				&:first-of-type {
					padding-top: 6px;
				}

				&:last-of-type {
					padding-bottom: 6px;
				}
			}
		}
	}
}

.zmdi-balance-wallet {
	.page-title-box {
		.page-title-box {
			position: relative;
			
			.open-settings {
				.settings-bar {
					position: absolute;
					top: calc(100% + 45px);
					right: 0;
					display: flex;
					justify-content: space-around;
					background: #fff;
					padding: 35px 0;
					box-sizing: border-box;
					border-bottom-right-radius: 6px;
					border-bottom-left-radius: 6px;
					width: 170px;
					visibility: hidden;
					opacity: 0;
					transform: translateY(50px);
					transition: all 0.3s ease-in-out;
					z-index: 4;
					cursor: auto;
					
					&.active {
						opacity: 1;
						transform: none;
						visibility: visible;
					}
					.form-group-app {
						padding: 35px 25px;
					}
					.input-section {
						padding: 0;
						
						i {
							width: 20px;
							
						}
					}
					.options-col {
						width: 100%;
						border-right: 1px solid #E6E6E6;
						
						&:last-child {
							border: 0;
						}
					}
				}
			}
			& > * {
				vertical-align: middle;
			}
			.title {
				color: #3D5A7E;
				font-size: 36px;
				font-weight: 300;
				line-height: 60px;
				display: inline-block;
				margin-right: 15px;
			}
			.breadcrumbs {
				position: absolute;
				top: calc(100% + -2px);
				left: 3px;
				
				a {
					color: #BBBBBB;
					cursor: pointer;
				}
				strong a {
					font-weight: 700;
				}
			}
		}
		.btn {
			margin-top: 0;
			position: relative;
			
			.settings-bar {
				position: absolute;
				left: 0;
				top: calc(100% - 40px);
			}
		}
		.media-site-header-buttons {
			display: none;
			
			@media(min-width: 1024px) {
				display: block;
			}
		}
	}
	.user-search-box {
		display: flex;
		margin: 0 -15px;
		height: 51px;
		//overflow: hidden;
		@media (max-width: 767px) {
			display: none;
		}
		& > * {
			margin: auto;
		}
		
		&.searching {
			.search-bar {
				.user-account-actions {
					.user-account-action {
						z-index: -1;
					}
				}
				.searching-window {
					visibility: visible;
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
		.search-bar {
			width: calc(100% - 230px);
			transition: all 0.2s ease-in-out;
			position: relative;
			
			.searching-window {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.5);
				visibility: hidden;
				opacity: 0;
				transition: all 0.3s ease-in-out;
				padding-right: 35px;
				box-sizing: border-box;
				height: 30px;
				border-radius: 3px;
				background-color: #FCFCFD;
				border: 1px solid #E6EAEE;
			}
			&.searching {
				
				input {
					height: 41px;
				}
			}
			.user-account-actions {
				height: 41px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				
				& > * {
					margin: auto 0;
				}
				.user-account-rs {
					color: #BBBBBB;
					font-size: 12px;
					line-height: 14px;
					margin-right: 20px;
					cursor: auto;
				}
				.user-account-action {
					position: relative;
					color: #3D5A7E;
					font-size: 18px;
					line-height: 30px;
					margin-right: 40px;
					
					&:last-child {
						margin-right: 15px;
					}
					&.search-button {
						z-index: 5 !important;
					}
					.settings-bar {
						position: absolute;
						top: calc(100% + 48px);
						right: 0;
						display: flex;
						justify-content: space-around;
						background: #fff;
						padding: 35px 0;
						box-sizing: border-box;
						border-bottom-right-radius: 6px;
						border-bottom-left-radius: 6px;
						width: 760px;
						visibility: hidden;
						opacity: 0;
						transform: translateY(50px);
						transition: all 0.3s ease-in-out;
						z-index: 4;
						cursor: auto;
						
						&.active {
							opacity: 1;
							transform: none;
							visibility: visible;
						}
						.options-col {
							width: 100%;
							border-right: 1px solid #E6E6E6;
							
							&:last-child {
								border: 0;
							}
							ul {
								li {
									&:last-child {
										a {
											margin-bottom: 0;
										}
									}
									.option {
										color: #3D5A7E;
										font-size: 12px;
										line-height: 14px;
										padding: 0 35px;
										margin-bottom: 20px;
										
									}
								}
							}
						}
					}
				}
			}
		}
		.user-box {
			width: 230px;
			display: flex;
			justify-content: flex-end;
			cursor: pointer;
			
			& > * {
				margin: auto 0;
				display: flex;
			}
			.user-name {
				position: relative;
				& > * {
					display: inline-block;
					vertical-align: bottom;
					margin: auto 0;
				}
				i {
					font-size: 16px;
					margin-right: 15px;
				}
			}
			.user-avatar {
				height: 50px;
				width: 50px;
				border-radius: 100%;
				margin-left: 30px;
				border: 1px solid #eee;
				background-color: #eeeeee;

				.zmdi {
					font-size: 12px;
				}
			}
			.settings-bar {
				position: absolute;
				top: calc(100% + 30px);
				right: 0;
				display: flex;
				justify-content: space-around;
				background: #fff;
				padding: 35px 0;
				box-sizing: border-box;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				width: 320px;
				visibility: hidden;
				opacity: 0;
				transform: translateY(50px);
				transition: all 0.3s ease-in-out;
				z-index: 4;
				cursor: auto;
				
				&.active {
					opacity: 1;
					transform: none;
					visibility: visible;
				}
				.options-col {
					width: 100%;
					border-right: 1px solid #E6E6E6;
					
					&:last-child {
						border: 0;
					}
				}
			}
		}
	}
}

.close-menu-btn {
	background-color: #666666;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;
	padding: 5px 7px;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	transition: 0.2s;
	&:hover {
		background-color: #4d4d4d;
		
	}
}

.mobile-nav {
	display: none;
	
	position: fixed;
	left: auto;
	top: 0;
	bottom: 0;
	background-color: #F5F7FC;
	width: 100%;
	padding: 54px 12px 12px;
	overflow: auto;
	max-height: 100%;
	right: -100%;
	z-index: 5;
	opacity: 0;
	transition: 0.2s;
	@media (max-width: 760px) {
		display: block;
	}
	&:after {
		content: '';
		background-color: #F5F7FC;
		position: fixed;
		z-index: 2;
		top: 0;
		height: 50px;
		width: 100%;
		right: -100%;
		transition: 0.2s;
	}
	&.show {
		right: 0;
		opacity: 1;
		&:after {
			right: 0;
		}
	}
	
	.btn-block {
		text-align: center;
	}
}

.mobile-nav-item {
	position: relative;
	display: block;
	margin-bottom: 25px;
	cursor: pointer;
	&.active {
		.text {
			color: #ffffff;
		}
		.zmdi {
			color: #00c8ff;
		}
	}
	.zmdi {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
		width: 20px;
		height: auto;
		text-align: center;
		color: #8AA5C7;
		&:before {
			font-size: 27px;
		}
		&.zmdi-view-dashboard {
			margin-top: -1.5px;
		}
	}
	.text {
		position: relative;
		display: flex;
		font-size: 14px;
		color: #3D5A7E;
		padding: 0 40px;
		&[aria-selected="true"] {
			.arrow {
				border-color: #8AA5C7 transparent transparent #8AA5C7;
			}
		}
		&.active {
			color: #2547F4;
			font-weight: 500;
			.zmdi {
				color: #2547F4;
			}
		}
		
	}
	.arrow {
		position: absolute;
		right: 1px;
		top: 50%;
		margin-top: -1px;
		transform: translate(0, -50%) rotate(45deg);
		width: 8px;
		height: 8px;
		border: 1px solid;
		border-color: transparent #8AA5C7 #8AA5C7 transparent;
		border-radius: 2px;
		transition: 0.2s;
	}
	.item-dropdown {
		display: block;
		
		a {
			display: block;
			padding: 0 40px;
			color: #8AA5C7;
			margin-top: 12px;
			&.active {
				color: #2547F4;
			}
		}
	}
}

.burger-mobile {
	display: none;
	align-items: center;
	justify-content: center;
	height: 15px;
	width: 20px;
	z-index: 6;
	cursor: pointer;
	margin-left: 15px;
	position: relative;
	@media (max-width: 760px) {
		display: flex;
		flex-direction: column;
	}
	&.menu-open {
		.line {
			opacity: 0;
		}
		&:before {
			top: 6px;
			transform: rotate(45deg);
		}
		&:after {
			bottom: 6px;
			transform: rotate(-45deg);
		}
	}
	&:before,
	&:after {
		content: '';
		width: 100%;
		height: 3px;
		left: 0;
		right: 0;
		background-color: #8AA5C7;
		transition: 0.25s;
		position: absolute;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	.line {
		width: 100%;
		height: 3px;
		transition: 0.2s;
		background-color: #8AA5C7;
		position: absolute;
	}
}

.accordion__item,
.accordion {
	border: none !important
}

.accordion__body {
	padding: 0 !important;
	display: block !important;
	max-height: 900px;
	overflow: hidden;
	transition: 0.2s;
	&--hidden {
		max-height: 0;
	}
}


.account-body-modal {
	position: absolute;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 74px;
	transition: all 0.3s ease-in-out; 

	.form-group-app {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: #F5F7FC;
		padding: 12px !important;
		p:last-of-type {
			label {
				margin-bottom: 0;
			}
		}
	}

	@media (max-width: 760px) {
		margin-top: 42px;
		left: 0;
		background-color: #F5F7FC !important;
		height: calc(100vh - 42px);
		max-height: 100vh !important;
		width: 100% !important;
		border-radius: 0;
	}
	.input-section .row .col-md-6 {
		@media (max-width: 760px) {
			max-width: 50%;
		}
	}
	&.active {

	}
	.image-button {
		margin-bottom: 6px;
		position: relative;
		transition: 0.2s;
		display: flex;
		align-items: center;
		&:last-child {
			margin-bottom: 0;
		}
		&.success {
			& > * {
				color: rgba(0,189,32,0.92) !important;
			}
		}
		&.danger {
			& > * {
				color: #F36 !important;
			}
		}
		&.active {
			label, i {
				color: #2547f4;
			}
		}
		.zmdi {
			font-size: 18px;
			color: #8AA5C7;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
		label {
			font-size: 13px;
			color: #3D5A7E;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			cursor: inherit;
		}
	}
}