.page-header {
  padding: 30px 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .page-header .page-title-box .page-title-box {
    position: relative; }
    .page-header .page-title-box .page-title-box > * {
      vertical-align: middle; }
    .page-header .page-title-box .page-title-box .title {
      color: #333333;
      font-family: "Roboto-Light";
      font-size: 36px;
      font-weight: 300;
      line-height: 60px;
      display: inline-block;
      margin-right: 15px; }
    .page-header .page-title-box .page-title-box .breadcrumbs {
      position: absolute;
      top: calc(100% + -2px);
      left: 3px; }
      .page-header .page-title-box .page-title-box .breadcrumbs a {
        color: #BBBBBB; }
      .page-header .page-title-box .page-title-box .breadcrumbs strong a {
        font-family: "Roboto-Bold"; }
  .page-header .user-search-box {
    display: flex;
    margin: 0 -15px;
    height: 51px; }
    .page-header .user-search-box > * {
      margin: auto; }
    .page-header .user-search-box .search-bar {
      width: calc(100% - 230px);
      transition: all 0.2s ease-in-out;
      transform: translateY(-54px); }
      .page-header .user-search-box .search-bar.searching {
        transform: translateY(5px); }
        .page-header .user-search-box .search-bar.searching input {
          height: 41px; }
      .page-header .user-search-box .search-bar .user-account-actions {
        margin-top: 20px;
        height: 41px;
        display: flex;
        justify-content: flex-end; }
        .page-header .user-search-box .search-bar .user-account-actions > * {
          margin: auto 0; }
        .page-header .user-search-box .search-bar .user-account-actions .user-account-rs {
          color: #BBBBBB;
          font-family: "Roboto-Regular";
          font-size: 12px;
          line-height: 14px; }
        .page-header .user-search-box .search-bar .user-account-actions .user-account-action {
          position: relative;
          color: #333333;
          font-size: 18px;
          line-height: 30px;
          margin-left: 40px; }
          .page-header .user-search-box .search-bar .user-account-actions .user-account-action .settings-bar {
            position: absolute;
            z-index: 5;
            top: calc(100% + 47px);
            right: 0;
            display: flex;
            justify-content: space-around;
            background: #fff;
            padding: 35px 0;
            box-sizing: border-box;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            width: 760px;
            visibility: hidden;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.3s ease-in-out; }
            .page-header .user-search-box .search-bar .user-account-actions .user-account-action .settings-bar .options-col {
              width: 100%;
              border-right: 1px solid #E6E6E6; }
              .page-header .user-search-box .search-bar .user-account-actions .user-account-action .settings-bar .options-col:last-child {
                border: 0; }
              .page-header .user-search-box .search-bar .user-account-actions .user-account-action .settings-bar .options-col ul li:last-child a {
                margin-bottom: 0; }
              .page-header .user-search-box .search-bar .user-account-actions .user-account-action .settings-bar .options-col ul li .option {
                color: #333333;
                font-family: "Roboto-Regular";
                font-size: 12px;
                line-height: 14px;
                padding: 0 35px;
                margin-bottom: 20px; }
    .page-header .user-search-box .user-box {
      width: 230px;
      display: flex;
      justify-content: flex-end; }
      .page-header .user-search-box .user-box > * {
        margin: auto 0;
        display: flex; }
      .page-header .user-search-box .user-box .user-name > * {
        display: inline-block;
        vertical-align: bottom; }
      .page-header .user-search-box .user-box .user-name i {
        font-size: 16px;
        margin-right: 15px; }
      .page-header .user-search-box .user-box .user-avatar {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-left: 30px;
        border: 1px solid #eee; }
