.page-settings-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  //height: 50%;
  min-height: 270px;
  //margin-bottom: 15px;
  //padding: 0 7.5px;
  @media (max-width: 1230px) {
    height: auto;
    min-height: 213px;
  }
}
.page-body-row {

}

.page-settings-item {
  display: inline-flex;
  flex-direction: column;
  min-width: 50%;
  flex-basis: 0;
  padding: 0 7.5px 0px;
  position: relative;
  max-width: 100%;

  @media (max-width: 1230px) {
    min-width: 50%;
    height: auto;
  }
  @media (max-width: 768px) {
    min-width: 100%;
    padding: 0;
  }
  .btn-box {
    right: 7.5px !important;
    bottom: 15px !important;
    text-align: right;
  }
  .card {
    //margin: 15px;
    min-height: 253px;
    height: calc(100% - 15px);
    &.card-tall {
      min-height: 520px;
    }
  }
  .form-group-app {
    //display: table;
    padding-bottom: 55px;

    label {
      padding: 0;
      color: #333333;
    }

    .input-group-app {
      display: block;
      padding-top: 18px;

      .form-sub-title {
        padding-left: 0;
      }
    }

    .form-title {
      padding-bottom: 15px;
    }

  }
}
