.chat-item {
  background: #fff;
  padding: 0 35px; }
  .chat-item.active {
    background-color: #666666; }
    .chat-item.active .chat-box-item {
      border-bottom: 1px solid #666; }
      .chat-item.active .chat-box-item .chat-box-rs {
        color: #fff; }
      .chat-item.active .chat-box-item .chat-date {
        color: #fff; }
  .chat-item .chat-box-item {
    padding: 20px 0;
    border-bottom: 1px solid #E5E5E5; }
    .chat-item .chat-box-item .chat-box-rs {
      color: #333333;
      font-size: 14px; }
    .chat-item .chat-box-item .chat-date {
      color: #BBBBBB;
      font-size: 12px; }

.messages {
  height: 100vh; }
  .messages .col-md-3,
  .messages .col-md-9 {
    max-height: 100%; }

.messenger, .messenger a {
  min-height: auto !important;
  margin-bottom: 15px; }
  .messenger > *, .messenger a > * {
    height: 100%; }
  .messenger .left-bar, .messenger .right-bar, .messenger a .left-bar, .messenger a .right-bar {
    height: 100%; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card .chatting-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
    padding: 20px 30px; }
    .card .chatting-box .message-box {
      display: block;
      width: 100%; }
      .card .chatting-box .message-box.incoming {
        text-align: left; }
        .card .chatting-box .message-box.incoming .message {
          background: #E5E5E5; }
          .card .chatting-box .message-box.incoming .message:after {
            display: none !important; }
          .card .chatting-box .message-box.incoming .message p:before {
            background: #E5E5E5; }
      .card .chatting-box .message-box.outgoing {
        text-align: right; }
        .card .chatting-box .message-box.outgoing .message {
          background: #00C8FF; }
          .card .chatting-box .message-box.outgoing .message:after {
            background: #00C8FF; }
          .card .chatting-box .message-box.outgoing .message:before {
            display: none !important; }
          .card .chatting-box .message-box.outgoing .message:after {
            background: #00C8FF; }
          .card .chatting-box .message-box.outgoing .message p {
            color: #fff; }
      .card .chatting-box .message-box.encrypted.incoming .message *, .card .chatting-box .message-box.encrypted.outgoing .message * {
        color: black !important; }
      .card .chatting-box .message-box.encrypted .message {
        background: #E5E5E5; }
        .card .chatting-box .message-box.encrypted .message:before {
          background: #E5E5E5 !important; }
        .card .chatting-box .message-box.encrypted .message:after {
          background: #E5E5E5 !important; }
        .card .chatting-box .message-box.encrypted .message p:before {
          background: #666666 !important; }
        .card .chatting-box .message-box.encrypted .message p:after {
          background: #666666 !important; }
      .card .chatting-box .message-box .message {
        display: inline-block;
        padding: 10px;
        max-width: 480px;
        color: #333333;
        line-height: 1.6;
        font-size: 14px;
        position: relative;
        border-radius: 6px;
        margin-bottom: 15px;
        float: none !important; }
        .card .chatting-box .message-box .message p {
          word-break: break-word;
          word-wrap: break-word;
          display: block; }
          .card .chatting-box .message-box .message p > * {
            vertical-align: middle; }
          .card .chatting-box .message-box .message p a.action {
            margin: 0; }
            .card .chatting-box .message-box .message p a.action i {
              font-size: 18px; }
        .card .chatting-box .message-box .message:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 100%;
          background-color: #666666;
          height: 20px;
          width: 20px;
          transform: rotateZ(0deg) translate(-12px, 5px) rotateY(40deg) rotateX(59deg); }
        .card .chatting-box .message-box .message:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          right: 100%;
          background-color: #E5E5E5;
          height: 20px;
          width: 20px;
          transform: rotateZ(-45deg) translate(5px, 12px) rotateY(40deg) rotateX(59deg); }
  .card .compose-message-box {
    height: auto;
    padding: 0 15px 15px 15px; }
    .card .compose-message-box .top-bar {
      width: 100%;
      position: relative; }
      .card .compose-message-box .top-bar textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .card .compose-message-box .bottom-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-top: 15px; }
      .card .compose-message-box .bottom-bar .input-group-app {
        margin: auto;
        height: 100%; }
        .card .compose-message-box .bottom-bar .input-group-app > * {
          display: table-cell;
          vertical-align: middle; }
        .card .compose-message-box .bottom-bar .input-group-app input {
          height: 15px !important;
          width: 15px !important;
          left: -15px; }
        .card .compose-message-box .bottom-bar .input-group-app label {
          white-space: pre;
          padding-right: 0; }
      .card .compose-message-box .bottom-bar input {
        width: calc(100% - 260px);
        margin-left: 15px;
        padding: 6px 20px; }
      .card .compose-message-box .bottom-bar .btn {
        position: relative;
        margin-left: 15px;
        white-space: pre; }
      @media (max-width: 768px) {
        .card .compose-message-box .bottom-bar {
          flex-direction: column; }
          .card .compose-message-box .bottom-bar .input-group-app {
            padding-bottom: 15px;
            width: 100%; }
          .card .compose-message-box .bottom-bar .encrypt-message-box {
            width: 100%; }
          .card .compose-message-box .bottom-bar input {
            margin: 0 0 15px 0;
            width: 100%; }
          .card .compose-message-box .bottom-bar .btn {
            width: 100%;
            margin: 0; } }

.followed-polls-container {
  min-height: 100%; }

.followed-polls {
  margin-bottom: 0 !important;
  min-height: calc(100vh - 135px) !important;
  height: auto; }

.followed-polls-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-height: 100%; }
  @media (max-width: 1023px) {
    .followed-polls-item {
      min-height: 0; } }
  @media (max-width: 1023px) {
    .followed-polls-item .col-md-7, .followed-polls-item .col-md-5 {
      flex: 100%;
      max-width: 100%; } }
  @media (max-width: 1023px) {
    .followed-polls-item .col-md-5 {
      padding-left: 120px;
      margin-top: -50px; } }
  @media (max-width: 760px) {
    .followed-polls-item .col-md-5 {
      padding-left: 0px;
      margin-top: 10px; } }
  .followed-polls-item .card .form-group-app {
    padding-bottom: 0;
    padding-top: 0; }
  .followed-polls-item .left {
    width: calc(33.33% - 15px);
    margin-right: 15px; }
    @media (max-width: 760px) {
      .followed-polls-item .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px; } }
  .followed-polls-item .right {
    width: 66.66%;
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 760px) {
      .followed-polls-item .right {
        width: 100%; } }
    .followed-polls-item .right .card {
      width: 100%;
      position: relative; }
      @media (max-width: 1023px) {
        .followed-polls-item .right .card {
          margin-bottom: 0 !important; } }
      @media (max-width: 760px) {
        .followed-polls-item .right .card {
          margin-bottom: 15px !important; } }
      .followed-polls-item .right .card:last-of-type {
        margin-bottom: 0 !important; }
        @media (max-width: 1023px) {
          .followed-polls-item .right .card:last-of-type {
            height: auto;
            position: absolute;
            top: calc(100% + 15px);
            left: 0;
            right: 0;
            margin-bottom: 15px !important; } }
        @media (max-width: 760px) {
          .followed-polls-item .right .card:last-of-type {
            position: relative;
            top: 0; } }
      .followed-polls-item .right .card .form-group-app {
        margin-bottom: 15px; }
  .followed-polls-item svg {
    width: 100%;
    max-width: 290px;
    max-height: 290px;
    height: auto; }
    @media (max-width: 760px) {
      .followed-polls-item svg {
        float: none; } }
  @media (max-width: 760px) {
    .followed-polls-item .description-bar {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (max-width: 760px) {
    .followed-polls-item .chat-item, .followed-polls-item .card {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px; } }
  .followed-polls-item .transaction-table-body {
    padding: 0 !important; }

.message-table td {
  position: relative; }

.message-table .zmdi {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%); }

.page {
  min-height: 100vh;
  padding-top: 120px; }

.textareaCount {
  position: absolute;
  right: 14px;
  top: 4px;
  font-size: 11px;
  color: #a0a0a0;
  z-index: 2;
  pointer-events: none; }

.textareaCount-message {
  color: #780000; }

.textareaCount-text {
  display: inline;
  color: #780000; }
