.form-tab-nav-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  .form-tab {
    border-radius: 3px;
    border: 1.5px solid #7E8691;
    padding: 6px 6px 7px;
    flex: 1;
    p {
      font-family: "BBRollerMonoProST", sans-serif;
      text-transform: uppercase;
      color: #7E8691;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
    }
    &:first-of-type {
      margin-right: 8px;
    }
    &:last-of-type {
      margin-left: 8px;
    }
    &.active {
      border: 1.5px solid #25F459;
      p {
        color: #25F459;
      }
    }
  }
}
