.menu-bar {
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  z-index: 3;
  position: fixed !important;
  width: auto !important;
  transition: 0s !important;
  min-width: 260px !important; }
  @media (max-width: 1000px) {
    .menu-bar {
      min-width: 130px !important; } }
  .menu-bar.collapsed {
    min-width: 260px !important; }
  @media (max-width: 760px) {
    .menu-bar {
      display: none !important; } }
  .menu-bar .track-content-view {
    margin-bottom: -20px !important; }
  .menu-bar .track-horizontal,
  .menu-bar .track-vertical {
    display: none !important; }
  .menu-bar.hover {
    right: 0;
    max-width: 490px; }
    @media (max-width: 1000px) {
      .menu-bar.hover {
        max-width: 370px; }
        .menu-bar.hover.collapsed {
          max-width: 490px; } }
  @media (max-width: 760px) {
    .menu-bar .header-nav {
      width: 100% !important;
      height: 100%;
      min-height: auto !important; } }
  .menu-bar .menu-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: visible;
    z-index: 2;
    max-width: 235px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
    background-color: #333333; }
    @media (max-width: 760px) {
      .menu-bar .menu-bar-container {
        width: 100%;
        position: static;
        box-shadow: none;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap; } }
    .menu-bar .menu-bar-container .site-logo {
      height: 100px;
      display: flex;
      width: 220px;
      background-color: #333;
      position: relative;
      z-index: 4; }
      @media (max-width: 760px) {
        .menu-bar .menu-bar-container .site-logo {
          display: none !important; } }
      .menu-bar .menu-bar-container .site-logo img {
        margin: auto;
        height: 32px;
        width: 32px; }
    .menu-bar .menu-bar-container nav {
      min-height: calc(100% - 160px);
      position: relative;
      z-index: 3; }
      .menu-bar .menu-bar-container nav a {
        text-decoration: none !important; }
      .menu-bar .menu-bar-container nav ul li {
        position: relative; }
        .menu-bar .menu-bar-container nav ul li:hover .zmdi {
          color: #fff; }
        .menu-bar .menu-bar-container nav ul li:hover a {
          color: #777; }
        .menu-bar .menu-bar-container nav ul li:hover .dropdown-menu {
          display: block; }
        .menu-bar .menu-bar-container nav ul li .text {
          color: #777777;
          padding: 25px 40px 25px 75px;
          display: block;
          position: relative;
          z-index: 2;
          background-color: #333333; }
          @media (max-width: 760px) {
            .menu-bar .menu-bar-container nav ul li .text {
              font-size: 14px !important; } }
          .menu-bar .menu-bar-container nav ul li .text.active {
            color: #fff; }
            .menu-bar .menu-bar-container nav ul li .text.active .zmdi.left {
              color: #00C8FF; }
          .menu-bar .menu-bar-container nav ul li .text .zmdi {
            font-size: 26px;
            position: absolute;
            color: #777777;
            top: 50%;
            transform: translateY(-50%);
            height: auto !important; }
            .menu-bar .menu-bar-container nav ul li .text .zmdi.left {
              left: 40px; }
            .menu-bar .menu-bar-container nav ul li .text .zmdi.right {
              right: 20px;
              font-size: 18px; }
          .menu-bar .menu-bar-container nav ul li .text:hover {
            color: #fff; }
        .menu-bar .menu-bar-container nav ul li .dropdown-menu {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          left: 100%;
          top: -10px;
          min-width: 220px;
          background-color: #333333;
          box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.6);
          display: none;
          padding: 15px 0;
          z-index: 1; }
          .menu-bar .menu-bar-container nav ul li .dropdown-menu li {
            display: block;
            margin: 0;
            padding: 0; }
            .menu-bar .menu-bar-container nav ul li .dropdown-menu li:last-child a {
              margin: 0; }
            .menu-bar .menu-bar-container nav ul li .dropdown-menu li a {
              text-decoration: none;
              padding: 20px 40px; }
              .menu-bar .menu-bar-container nav ul li .dropdown-menu li a:hover {
                color: #ffffff; }
              .menu-bar .menu-bar-container nav ul li .dropdown-menu li a.active {
                color: white;
                text-decoration: underline;
                box-sizing: border-box; }
    .menu-bar .menu-bar-container .collapse-button {
      color: #777777;
      width: 100%;
      text-align: center;
      background-color: #333333;
      min-height: 30px;
      display: none;
      padding: 30px 0 30px;
      justify-content: center;
      align-items: center;
      z-index: 6;
      position: absolute;
      bottom: 10px; }
      @media (max-width: 1000px) {
        .menu-bar .menu-bar-container .collapse-button {
          display: flex; } }
      .menu-bar .menu-bar-container .collapse-button.active {
        color: #fff; }
        .menu-bar .menu-bar-container .collapse-button.active .zmdi {
          transform: rotate(180deg); }
          .menu-bar .menu-bar-container .collapse-button.active .zmdi.left {
            color: #00C8FF; }
      .menu-bar .menu-bar-container .collapse-button .zmdi {
        font-size: 26px;
        color: #777777;
        position: absolute;
        transition: 0.2s; }
      .menu-bar .menu-bar-container .collapse-button:hover {
        color: #fff; }
