.menu-bar {
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
	z-index: 3;
	position: fixed !important;
	width: auto !important;
	//overflow: visible !important;
	transition: 0s !important;
	//overflow-y: auto;
	min-width: 260px !important;
	@media (max-width: 1000px) {
		min-width: 130px !important;
	}
	&.collapsed {
		min-width: 260px !important;
		
	}
	@media (max-width: 760px) {
		display: none !important;
	}
	
	.track-content-view {
		margin-bottom: -20px !important;
	}
	.track-horizontal,
	.track-vertical {
		display: none !important;
	}
	
	&.hover {
		right: 0;
		max-width: 490px;
		@media (max-width: 1000px) {
			max-width: 370px;
			&.collapsed {
				max-width: 490px;
			}
		}
	}
	//&::-webkit-scrollbar {
	//	width: 0 !important;
	//	background-color: transparent !important;
	//}
	//&::-webkit-scrollbar-thumb {
	//	width: 0 !important;
	//	background-color: transparent !important;
	//}
	
	.header-nav {
		@media (max-width: 760px) {
			width: 100% !important;
			height: 100%;
			min-height: auto !important;
			//position: fixed;
			//left: 0;
			//top: 100px;
			//left: -100%;
			//opacity: 0;
			//h100%
		}
	}
	
	.menu-bar-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		overflow: visible;
		z-index: 2;
		max-width: 235px;
		box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
		background-color: #333333;

		@media (max-width: 760px) {
			width: 100%;
			position: static;
			box-shadow: none;
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		
		.site-logo {
			height: 100px;
			display: flex;
			width: 220px;
			background-color: #333;
			position: relative;
			z-index: 4;
			@media (max-width: 760px) {
				display: none !important;
			}
			
			img {
				margin: auto;
				height: 32px;
				width: 32px;
			}
		}
		nav {
			min-height: calc(100% - 160px);
			position: relative;
			z-index: 3;
			a {
				text-decoration: none !important;
			}
			ul {
				li {
					position: relative;
					
					&.active {
					
					}
					&:hover {
						.zmdi {
							color: #fff;
						}
						a {
							color: #777;
						}
						.dropdown-menu {
							display: block;
							
						}
					}
					.text {
						color: #777777;
						padding: 25px 40px 25px 75px;
						display: block;
						position: relative;
						z-index: 2;
						background-color: #333333;
						@media (max-width: 760px) {
							font-size: 14px !important;
						}
						
						&.active {
							color: #fff;
							
							.zmdi {
								&.left {
									color: #00C8FF;
								}
							}
						}
						
						.zmdi {
							font-size: 26px;
							position: absolute;
							color: #777777;
							top: 50%;
							transform: translateY(-50%);
							height: auto !important;
							
							&.left {
								left: 40px;
							}
							&.right {
								right: 20px;
								font-size: 18px;
							}
						}
						&:hover {
							color: #fff;
						}
					}
					.dropdown-menu {
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						position: absolute;
						left: 100%;
						top: -10px;
						min-width: 220px;
						background-color: #333333;
						box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.6);
						display: none;
						padding: 15px 0;
						z-index: 1;
						//@media (max-width: 760px) {
						//	left: auto;
						//	right: 100%;
						//}
						
						li {
							display: block;
							margin: 0;
							padding: 0;
							
							&:last-child {
								a {
									margin: 0;
								}
							}
							a {
								text-decoration: none;
								padding: 20px 40px;
								&:hover {
									color: #ffffff;
								}
								&.active {
									color: white;
									text-decoration: underline;
									box-sizing: border-box;
								}
							}
						}
					}
				}
			}
		}
		.collapse-button {
			color: #777777;
			width: 100%;
			text-align: center;
			background-color: #333333;
			min-height: 30px;
			display: none;
			padding: 30px 0 30px;
			justify-content: center;
			align-items: center;
			z-index: 6;
			position: absolute;
			bottom: 10px;
			@media (max-width: 1000px) {
				display: flex;
			}
			
			&.active {
				color: #fff;
				.zmdi {
					transform: rotate(180deg);
					&.left {
						color: #00C8FF;
					}
				}
			}
			
			.zmdi {
				font-size: 26px;
				color: #777777;
				position: absolute;
				transition: 0.2s;
				//top: 70%;
				//position: absolute;
				//transform: translateY(-50%);
				
				//&.left {
				//	left: 40px;
				//}
				//&.right {
				//	right: 20px;
				//	font-size: 18px;
				//}
			}
			&:hover {
				color: #fff;
			}
		}
	}
}