.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  z-index: 2;
  min-width: 260px;
  overflow-y: scroll; }
  .menu-bar.hover {
    right: 0; }
  .menu-bar::-webkit-scrollbar {
    width: 0; }
  .menu-bar .menu-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: visible;
    z-index: 2;
    max-width: 235px;
    box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.6); }
    .menu-bar .menu-bar-container .site-logo {
      height: 100px;
      display: flex;
      width: 220px;
      background-color: #333333; }
      .menu-bar .menu-bar-container .site-logo img {
        margin: auto;
        height: 32px;
        width: 32px; }
    .menu-bar .menu-bar-container nav {
      width: 220px;
      background-color: #333333;
      min-height: calc(100vh - 100px); }
      .menu-bar .menu-bar-container nav ul li {
        position: relative; }
        .menu-bar .menu-bar-container nav ul li:hover .zmdi {
          color: #fff; }
        .menu-bar .menu-bar-container nav ul li:hover a {
          color: #777; }
        .menu-bar .menu-bar-container nav ul li:hover .dropdown-menu {
          display: block; }
        .menu-bar .menu-bar-container nav ul li a {
          color: #777777;
          padding: 25px 40px 25px 75px;
          display: block;
          position: relative; }
          .menu-bar .menu-bar-container nav ul li a.active {
            color: #fff; }
            .menu-bar .menu-bar-container nav ul li a.active .zmdi.left {
              color: #00C8FF; }
          .menu-bar .menu-bar-container nav ul li a .zmdi {
            font-size: 26px;
            position: absolute;
            color: #777777;
            top: 50%;
            transform: translateY(-50%); }
            .menu-bar .menu-bar-container nav ul li a .zmdi.left {
              left: 40px; }
            .menu-bar .menu-bar-container nav ul li a .zmdi.right {
              right: 20px;
              font-size: 18px; }
          .menu-bar .menu-bar-container nav ul li a:hover {
            color: #fff; }
        .menu-bar .menu-bar-container nav ul li .dropdown-menu {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          left: 100%;
          top: -13px;
          min-width: 220px;
          background-color: #333333;
          box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.6);
          display: none;
          padding: 15px 0; }
          .menu-bar .menu-bar-container nav ul li .dropdown-menu ul li {
            display: block;
            margin: 0;
            padding: 0; }
            .menu-bar .menu-bar-container nav ul li .dropdown-menu ul li:last-child a {
              margin: 0; }
            .menu-bar .menu-bar-container nav ul li .dropdown-menu ul li a {
              padding: 20px 40px; }
              .menu-bar .menu-bar-container nav ul li .dropdown-menu ul li a.active {
                color: white;
                text-decoration: underline;
                box-sizing: border-box; }
