.menu-bar {
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
	z-index: 3;
	position: fixed !important;
	width: auto !important;
	transition: 0s !important;
	min-width: 260px !important;
	.track-horizontal,
	.track-vertical {
		display: none !important;
	}
	
	&.hover {
		right: 0;
		max-width: 490px;
		@media (max-width: 1000px) {
			max-width: 370px;
			&.collapsed {
				max-width: 490px;
			}
		}
	}
	//&::-webkit-scrollbar {
	//	width: 0 !important;
	//	background-color: transparent !important;
	//}
	//&::-webkit-scrollbar-thumb {
	//	width: 0 !important;
	//	background-color: transparent !important;
	//}
	
	.header-nav {
		@media (max-width: 760px) {
			width: 100% !important;
			height: 100%;
			min-height: auto !important;
		}
	}
	
	.menu-bar-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		overflow: visible;
		z-index: 2;
		max-width: 235px;
		background-color: #FFF;
		box-shadow: 5px 0 6px 0 rgba(117,120,138,0.1);

		& > div {
			position: relative;
		}
		@media (max-width: 760px) {
			width: 100%;
			position: static;
			box-shadow: none;
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		.site-logo {
			height: 74px;
			display: flex;
			width: 235px;
			position: relative;
			z-index: 4;
			@media(max-width: 1000px) {
				width: 80px;
			}
			@media (max-width: 760px) {
				display: none !important;
			}
			
			img {
				margin: auto;
				height: 49px;
				width: auto;
			}
		}
		nav {
			min-height: calc(100% - 160px);
			position: relative;
			z-index: 3;
			@media(max-width: 1000px) {
				width: 80px;
			}
			.active-menu {
				margin: 0 auto;
				width: 85%;
				overflow: hidden;
				height: 46px;
				border-radius: 3px;
				&.active, &.open {
					height: auto;
					box-shadow: inset 0 1px 3px 0 rgba(152,176,205,0.64);
					padding: 7px 0;
					max-height: 100%;
					margin-bottom: 23px;
				}
			}
			a {
				text-decoration: none !important;
				@media(max-width: 1000px) {
					font-size: 0;
				}
			}
			ul {
				background-color: #fff;
				padding: 15px 0 60px 0;
				li {
					position: relative;

					&:hover {
						.dropdown-menu {
							display: block;
						}
					}
					.text {
						color: #98B0CD;
						padding: 15px 30px 15px 45px;
						display: block;
						position: relative;
						z-index: 2;
						cursor: pointer;
						font-size: 13px;
						line-height: normal;
						transition: 0.2s;
						height: 46px;
						&.active {
							color: #2547F4;
							font-weight: 500;
							.zmdi.left {
								background: linear-gradient(179.43deg, #2B23FF 0%, #2547F4 100%);
								color: #ffffff;
							}
						}
						.zmdi {
							font-size: 15px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							background: transparent;
							width: 32px;
							height: 32px;
							border-radius: 2px;
							display: flex;
							justify-content: center;
							align-items: center;
							
							&.left {
								left: 8px;
							}
							&.right {
								right: 0;
								font-size: 18px;
								@media(max-width: 1000px) {
									display: none;
								}
							}
						}
						&:hover {
							color: #3D5A7E;
						}

						@media(max-width: 1000px) {
							font-size: 0;
						}
					}
					.dropdown-menu {
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						left: 100%;
						top: 0;
						margin: 15px;
						min-width: 80%;
						background-color: #FFF;
						display: none;
						padding: 6px 0;
						z-index: 1;
						//@media (max-width: 760px) {
						//	left: auto;
						//	right: 100%;
						//}

						ul {
							padding: 0;

							li {
								display: block;
								margin: 0;
								padding: 0;

								&:last-child {
									a {
										margin: 0;
									}
								}

								a {
									text-decoration: none;
									padding: 6px 12px;
									color: #98B0CD;

									&:hover {
										color: #3D5A7E;
									}

									&.active {
										color: #2547F4;
										text-decoration: underline;
										box-sizing: border-box;
									}
								}
							}
						}
					}
				}
			}
		}
		.collapse-button {
			color: #98B0CD;
			width: 80px;
			text-align: center;
			background-color: #ffffff;
			min-height: 30px;
			display: none;
			padding: 30px 0 30px;
			justify-content: center;
			align-items: center;
			z-index: 6;
			position: absolute;
			bottom: 10px;
			@media (max-width: 1000px) {
				display: flex;
			}
			
			&.active {
				color: #2547F4;
				width: 100%;
				.zmdi {
					transform: rotate(180deg);
					&.left {
						color: #2547F4;
					}
				}
			}
			
			.zmdi {
				font-size: 26px;
				position: absolute;
				transition: 0.2s;
			}
			&:hover {
				color: #3D5A7E;
			}
		}
	}
	@media (max-width: 1000px) {
		min-width: 80px !important;
	}
	@media (max-width: 760px) {
		display: none !important;
	}
	&.collapsed {
		min-width: 260px !important;
		.menu-bar-container {
			.site-logo {
				width: auto;
			}

			@media(max-width: 1000px) {
				a {
					font-size: 14px
				}
			}

			nav {
				width: auto;

				ul li {
					.text {
						.zmdi.right {
							display: flex;
						}

						@media(max-width: 1000px) {
							font-size: 14px !important;
						}
					}
				}
			}
		}
	}
}