@import url(~bootstrap/dist/css/bootstrap-grid.min.css);
@import url(~material-design-iconic-font/dist/css/material-design-iconic-font.min.css);
@import url(~roboto-fontface/css/roboto/roboto-fontface.css);
html, body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  color: #101010;
  font-family: "Roboto-Regular"; }

html, body {
  background-color: #F5F5F5; }

html {
  height: 100%; }
  html body {
    height: 100%; }
    html body #root {
      height: 100%; }
      html body #root > div {
        height: 100%; }
        html body #root > div .site-content {
          height: 100%; }
          html body #root > div .site-content > div {
            height: 100%; }
            html body #root > div .site-content > div .page-content {
              height: 100%; }
              html body #root > div .site-content > div .page-content .page-body {
                height: 100%; }

a {
  cursor: pointer;
  display: inline-block; }

button {
  border: 0; }

* {
  outline: none; }

span.blue {
  color: #00C8FF; }

.flex {
  display: flex; }

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 0 !important;
  position: relative; }
  input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-image: url(../../assets/checked.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none; }
  input[type="checkbox"]:checked:after {
    display: block; }

textarea {
  border: 1px solid #E5E5E5;
  background: #fff;
  border-radius: 6px;
  resize: none; }

.info-box.success {
  background-color: #2ecc71; }
  .info-box.success p {
    color: #fff; }

.info-box.simple {
  background: transparent; }
  .info-box.simple p {
    padding-left: 0;
    padding-right: 0; }

.info-box p {
  color: #000; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0 !important; }

.pre {
  white-space: pre; }

.form-group {
  display: table;
  padding: 35px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  height: calc(100% - 15px); }
  .form-group.transparent {
    background: transparent; }
  .form-group.offset {
    height: 100%;
    padding: 20px 0 0px; }
  .form-group.compensate-margin {
    margin: 0 -7.5px;
    margin-bottom: 15px; }
  .form-group.height-auto {
    height: auto; }
  .form-group.offset-bottom {
    padding-bottom: 75px; }
  .form-group.no-padding-bottom {
    padding-bottom: 0 !important; }
  .form-group .form-title {
    padding-bottom: 20px; }
    .form-group .form-title.padding-left p {
      padding-left: 35px; }
    .form-group .form-title.offset-bottom p {
      padding-bottom: 28px; }
    .form-group .form-title p {
      color: #333333;
      font-family: "Roboto-Regular";
      font-size: 24px;
      line-height: 18px; }
    .form-group .form-title .form-sub-title {
      margin-top: 10px; }
  .form-group .form-sub-title {
    color: #BBBBBB;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 19px;
    margin-top: -15px; }
  .form-group .input-group.offset-top {
    padding-top: 25px; }
  .form-group .input-group.offset-bottom {
    padding-bottom: 25px; }
  .form-group .input-group.display-block {
    display: block; }
  .form-group .input-group.tabled {
    display: table !important; }
  .form-group .input-group.align-middle > * {
    vertical-align: middle; }
  .form-group .input-group.align-middle label {
    padding-left: 20px; }
  .form-group .input-group .form-sub-title {
    padding-left: 15px; }
  .form-group .input-group input {
    padding-left: 15px;
    padding-right: 15px; }
  .form-group .form-tabulator {
    position: relative;
    margin: 55px -35px -69px -35px;
    background-color: #F5F5F5;
    padding: 18px 35px 70px 35px;
    display: none; }
    .form-group .form-tabulator.active {
      display: block; }
    .form-group .form-tabulator .form-tab-nav-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      bottom: 100%;
      right: 20px;
      left: 20px; }
      .form-group .form-tabulator .form-tab-nav-box.justify-left {
        justify-content: flex-start; }
        .form-group .form-tabulator .form-tab-nav-box.justify-left .form-tab {
          margin-right: 15px;
          width: auto;
          padding: 0 15px; }
      .form-group .form-tabulator .form-tab-nav-box .form-tab {
        display: flex;
        width: 54px;
        height: 32px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px; }
        .form-group .form-tabulator .form-tab-nav-box .form-tab.active {
          background-color: #F5F5F5; }
        .form-group .form-tabulator .form-tab-nav-box .form-tab > * {
          margin: auto; }
    .form-group .form-tabulator .tab-body {
      display: none; }
      .form-group .form-tabulator .tab-body.active {
        display: block; }
    .form-group .form-tabulator .form-sub-actions {
      display: block; }
      .form-group .form-tabulator .form-sub-actions .form-group {
        background-color: transparent;
        padding: 0; }

.input-group {
  display: table-row; }
  .input-group.tabled {
    display: table !important; }
  .input-group.lighten input {
    background-color: #fff; }
  .input-group.middle > * {
    vertical-align: middle; }
  .input-group.search i {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .input-group.search input {
    border-right: 0; }
  .input-group.search .input-icon {
    border: 1px solid #E5E5E5;
    background: #E5E5E5;
    font-size: 18px;
    vertical-align: middle;
    text-align: center; }
  .input-group .input-icon {
    width: 32px;
    display: table-cell; }
    .input-group .input-icon i {
      margin: auto; }
  .input-group .row {
    display: flex !important; }
  .input-group label {
    display: table-cell;
    color: #777777;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    padding-right: 20px; }
  .input-group input {
    display: table-cell; }

.btn-box.inline {
  display: inline-block;
  position: static !important;
  margin-right: -15px; }
  .btn-box.inline > * {
    display: inline;
    margin-right: 15px; }

.btn-box.more-padding {
  margin-right: -15px; }
  .btn-box.more-padding > * {
    display: inline;
    margin-right: 15px; }

.btn-box.absolute {
  position: absolute; }
  .btn-box.absolute.right-conner {
    bottom: 0;
    right: 0; }
  .btn-box.absolute.left-conner {
    bottom: 0;
    left: 0; }
  .btn-box.absolute.bottom {
    bottom: 0;
    right: 0;
    left: 0; }

.btn-box.align-buttons-inside > * {
  display: inline-block;
  position: relative;
  border-radius: 0; }

.flexible-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .flexible-grid > * {
    margin-top: 15px;
    margin-right: 15px; }

.btn {
  position: absolute;
  background-color: #666666;
  color: #fff;
  user-select: none;
  border-radius: 3px; }
  .btn.btn-simple {
    color: #BBBBBB;
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 14px;
    bottom: 10px;
    padding: 0;
    background: transparent; }
  .btn.btn-right {
    right: 0;
    bottom: 0;
    padding: 11px 17px 11px 9px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .btn.btn-left {
    left: 0;
    bottom: 0;
    padding: 11px 9px 11px 17px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px; }
  .btn.static {
    position: static; }
  .btn.primary {
    padding: 6px;
    background: #666666;
    color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    position: static; }
    .btn.primary.bigger {
      padding: 11px 10px 9px 10px; }
  .btn.blue {
    background: #00C8FF;
    color: #fff; }
  .btn.gray-lighten {
    background: #E5E5E5;
    color: black; }
  .btn.round {
    border-radius: 0; }
    .btn.round.round-top-left {
      border-top-left-radius: 6px; }
    .btn.round.round-bottom-right {
      border-bottom-right-radius: 6px; }
    .btn.round.round-bottom-left {
      border-bottom-left-radius: 6px; }
    .btn.round.round-top-right {
      border-top-right-radius: 6px; }

.input-block {
  width: 300px; }

.color-box {
  height: 20px;
  width: 20px;
  border-radius: 3px; }

.card {
  height: calc(33.33% - 15px);
  min-height: 255px;
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 3;
  padding: 20px 30px; }
  .card.scroll {
    overflow-y: scroll; }
  .card.transparent {
    background: transparent; }
  .card.card-flexible {
    min-height: auto;
    height: auto;
    max-height: 800px; }
  .card.full-height {
    height: 100%; }
  .card.card-full-screen {
    height: 100%;
    min-height: auto !important; }
  .card.fll-height {
    height: calc(100% - 15px); }
  .card.card-tall {
    height: calc(66.666% - 15px);
    min-height: 520px; }
  .card.card-tiny {
    height: calc(25% - 15px);
    min-height: 185px; }
  .card.card-medium {
    height: calc(50% - 15px);
    min-height: 385px; }
  .card.header {
    padding: 50px 30px; }
    .card.header.ballance {
      background: linear-gradient(315deg, #0019E1 0%, #0050FF 100%); }
    .card.header.assets {
      background: linear-gradient(315deg, #008CDC 0%, #00C8FF 100%); }
    .card.header.currencies {
      background: linear-gradient(315deg, #00788C 0%, #00A0B4 100%); }
    .card.header.coins {
      background: linear-gradient(315deg, #008C46 0%, #00B45A 100%); }
    .card.header.medium-padding {
      padding: 35px 22.5px; }
    .card.header .card-title {
      font-family: "Roboto-Regular";
      font-size: 16px;
      line-height: 18px;
      color: #fff; }
      .card.header .card-title.big {
        font-size: 42px;
        line-height: 42px; }
      .card.header .card-title.align-middle {
        margin: auto 0; }
      .card.header .card-title.bold {
        font-weight: bold; }
    .card.header .asset-account-description {
      width: 100%; }
    .card.header .amount {
      color: #FFFFFF;
      font-family: "Roboto-Regular";
      font-size: 36px;
      line-height: 60px; }
  .card.single {
    min-height: 217px;
    height: auto; }
  .card .card-title {
    color: #333333;
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 18px; }
  .card .card-title-date {
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    font-size: 24px;
    margin-top: 19px; }
  .card .full-box {
    position: absolute;
    top: 38px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between; }
    .card .full-box.full {
      top: 35px !important;
      right: 35px !important;
      bottom: 35px !important;
      left: 35px !important; }
    .card .full-box.block {
      display: block; }
    .card .full-box.offset {
      padding: 20px 0px 14px; }
    .card .full-box .full-box-item {
      flex-wrap: wrap;
      flex-direction: column; }
      .card .full-box .full-box-item.direction-row {
        flex-direction: row; }
      .card .full-box .full-box-item .box {
        display: flex;
        justify-content: space-around; }
      .card .full-box .full-box-item .card-title {
        width: 200px; }
      .card .full-box .full-box-item .description {
        width: 100%; }
  .card .form-group {
    padding: 30px 0 25px; }
  .card .input-group {
    display: table-row; }
    .card .input-group input, .card .input-group input[type="number"] {
      padding: 8px 20px; }
    .card .input-group.lighten input {
      background-color: #fff; }
    .card .input-group label {
      display: table-cell;
      color: #777777;
      font-family: "Roboto-Regular";
      font-size: 12px;
      line-height: 14px;
      padding-right: 20px; }
    .card .input-group input {
      display: table-cell; }

.page-body.white-space {
  background-color: #fff;
  border-radius: 3px; }

.transaction-table {
  height: 100%;
  width: 100%;
  min-height: 560px; }
  .transaction-table.no-min-height {
    min-height: auto;
    height: auto; }
  .transaction-table .transaction-table-body {
    padding: 40px 35px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative; }
    .transaction-table .transaction-table-body.offset-bottom {
      padding-bottom: 75px; }
    .transaction-table .transaction-table-body.padding-only-top {
      padding: 35px 0 0 0; }
    .transaction-table .transaction-table-body.transparent {
      background-color: transparent; }
    .transaction-table .transaction-table-body.padding-vertical-padding {
      padding: 40px 0; }
    .transaction-table .transaction-table-body table {
      width: 100%;
      border-collapse: collapse; }
      .transaction-table .transaction-table-body table thead {
        padding: 35px; }
        .transaction-table .transaction-table-body table thead tr td {
          color: #333333;
          font-family: "Roboto-Bold";
          font-size: 14px;
          line-height: 16px;
          padding: 0 0 20px 15px; }
          .transaction-table .transaction-table-body table thead tr td.align-right {
            text-align: right;
            padding: 0 15px 20px 0; }
          .transaction-table .transaction-table-body table thead tr td.align-right {
            text-align: right; }
          .transaction-table .transaction-table-body table thead tr td:first-child {
            padding: 0 15px 20px 0; }
          .transaction-table .transaction-table-body table thead tr td:last-child {
            padding-right: 0; }
      .transaction-table .transaction-table-body table tbody tr {
        height: 6.66%; }
        .transaction-table .transaction-table-body table tbody tr td {
          border-top: 1px solid #E5E5E5;
          padding: 0 0 0 15px;
          height: 50px; }
          .transaction-table .transaction-table-body table tbody tr td.blue-link-text a {
            color: #00C8FF;
            font-family: "Roboto-Regular";
            font-size: 14px;
            line-height: 16px; }
          .transaction-table .transaction-table-body table tbody tr td.word-brake {
            word-break: break-all;
            word-wrap: break-word; }
          .transaction-table .transaction-table-body table tbody tr td.align-right {
            text-align: right;
            padding: 0 15px 0 0; }
          .transaction-table .transaction-table-body table tbody tr td:first-child {
            padding-left: 0; }
          .transaction-table .transaction-table-body table tbody tr td:last-child {
            padding-right: 0; }
    .transaction-table .transaction-table-body .btn-box {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .transaction-table .transaction-table-body .btn-box .btn.disabled {
        display: none; }
    .transaction-table .transaction-table-body .pagination-nav {
      position: absolute;
      bottom: 13px;
      left: 50%;
      transform: translateX(-50%); }

.transactions-filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 0 28px 0; }
  .transactions-filters.padding-left {
    padding-left: 36px; }
  .transactions-filters.align-for-inputs {
    padding: 0px 0 23px 36px; }
  .transactions-filters .btn {
    position: static; }
    .transactions-filters .btn.filter {
      padding: 6px 8px;
      display: inline;
      border-radius: 3px;
      border: 1px solid #333333;
      background-color: #F5F5F5;
      color: #333333;
      font-family: "Roboto-Bold";
      font-size: 12px;
      font-weight: bold;
      line-height: 14px; }

.info-box {
  border-radius: 3px;
  margin-bottom: 15px; }
  .info-box.mt {
    margin-top: 25px; }
  .info-box.info {
    background: #666666; }
  .info-box.danger {
    background-color: #e74c3c; }
    .info-box.danger p {
      color: #fff; }
  .info-box.simple {
    background: transparent; }
    .info-box.simple p {
      padding-left: 0;
      padding-right: 0; }
  .info-box p {
    padding: 18px 34px;
    color: #000; }

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  overflow: scroll;
  display: flex; }
  .modal-window::-webkit-scrollbar {
    width: 1px; }
  .modal-window.active {
    visibility: visible;
    opacity: 1; }
    .modal-window.active .modal-box {
      transform: translateY(0); }
  .modal-window .modal-box {
    transform: translateY(-50px);
    margin: auto;
    display: block;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    width: 100% !important;
    max-width: 500px; }
    .modal-window .modal-box.wide {
      max-width: 750px !important; }
    .modal-window .modal-box.x-wide {
      max-width: 1000px !important; }
    .modal-window .modal-box .modal-form {
      min-width: 500px; }
      .modal-window .modal-box .modal-form .form-group {
        padding-bottom: 69px; }

.btn {
  display: inline-block;
  padding: 10px 11px;
  cursor: pointer;
  user-select: none; }

button {
  background-color: transparent; }

input {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 12px 20px; }

input[type="number"] {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 12px 20px; }

.site-content {
  position: relative;
  margin-left: 220px; }
  .site-content.hide-page-body .page-content .page-body:after {
    visibility: visible;
    opacity: 1; }
  .site-content .page-content .page-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 120px 7.5px 15px;
    z-index: 0; }
    .site-content .page-content .page-body.flexible-height {
      height: auto; }
    .site-content .page-content .page-body.overflow-hidden {
      overflow: hidden; }
    .site-content .page-content .page-body:after {
      content: '';
      position: fixed;
      top: 120px;
      bottom: 0;
      left: 220px;
      right: 0;
      z-index: 4;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out; }
    .site-content .page-content .page-body .row {
      width: 100%;
      margin: 0;
      flex-direction: row; }
      .site-content .page-content .page-body .row > * {
        padding: 0 7.5px; }
    .site-content .page-content .page-body .card.transactions .transactions-dashboard {
      position: absolute;
      top: 38px;
      left: 30px;
      right: 30px;
      bottom: 20px; }
      .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item {
        height: 25%;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid #E5E5E5; }
        .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box {
          margin: auto 0;
          position: relative;
          width: 100%; }
          .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box .transaction-date {
            color: #BBBBBB;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px; }
          .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box .transaction-rs {
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px;
            margin-top: 8px; }
          .site-content .page-content .page-body .card.transactions .transactions-dashboard .transaction-item .transaction-box .transaction-amount {
            color: #333333;
            font-family: "Roboto-Regular";
            font-size: 16px;
            line-height: 14px;
            position: absolute;
            top: 0;
            right: 0; }
    .site-content .page-content .page-body .card.asset-portfolio .card-title {
      margin-bottom: 30px; }
    .site-content .page-content .page-body .card.asset-portfolio .full-box {
      position: absolute;
      top: 58px;
      left: 30px;
      right: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      bottom: 20px; }
      .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin {
        padding-left: 55px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; }
        .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data {
          display: flex;
          position: relative; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data > * {
            margin: auto 0; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .figure {
            height: 40px;
            width: 40px;
            position: absolute;
            left: -55px;
            top: 50%;
            transform: translateY(-50%); }
            .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .figure canvas {
              height: 100%;
              width: 100%; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .amount {
            color: #333333;
            font-family: "Roboto-Regular";
            font-size: 24px;
            line-height: 60px; }
          .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .coin-data .coin-name {
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px;
            margin: auto auto 18px 30px; }
        .site-content .page-content .page-body .card.asset-portfolio .full-box .full-box-item.coin .more {
          height: 30px; }
    .site-content .page-content .page-body .card.decentralized-marketplace .full-box {
      position: absolute;
      top: 58px;
      left: 30px;
      right: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      bottom: 20px;
      padding-bottom: 50px; }
      .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item {
        display: flex;
        margin: auto 0; }
        .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item * > {
          margin: 0 auto; }
        .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item .marketplace-box {
          width: 50%; }
          .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item .marketplace-box .digit {
            color: #333333;
            font-family: "Roboto-Regular";
            font-size: 36px;
            line-height: 60px; }
          .site-content .page-content .page-body .card.decentralized-marketplace .full-box .full-box-item .marketplace-box .subtitle {
            color: #777777;
            font-family: "Roboto-Regular";
            font-size: 12px;
            line-height: 14px;
            width: 1px; }
    .site-content .page-content .page-body .card.active-polls .full-box {
      margin-top: 30px; }
      .site-content .page-content .page-body .card.active-polls .full-box p {
        color: #777777;
        font-family: "Roboto-Regular";
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 30px; }
    .site-content .page-content .page-body .card.apollo-news .card-news-content {
      margin-top: 30px;
      color: #777777;
      font-family: "Roboto-Regular";
      font-size: 12px;
      line-height: 18px; }
    .site-content .page-content .page-body .card .full-box {
      position: absolute;
      top: 38px;
      left: 30px;
      right: 30px;
      bottom: 20px; }
    .site-content .page-content .page-body > div {
      min-height: 800px;
      width: 100%;
      padding: 0 7.5px;
      display: flex;
      flex-direction: column; }
    .site-content .page-content .page-body .my-transactions {
      width: 100%; }
      .site-content .page-content .page-body .my-transactions .transactions-filters {
        height: 120px;
        padding-left: 40px; }
      .site-content .page-content .page-body .my-transactions .transaction-table {
        height: calc(100% - 120px);
        min-height: 560px; }
        .site-content .page-content .page-body .my-transactions .transaction-table .transaction-table-body table tbody tr td.blue-link-text a {
          color: #00C8FF;
          font-family: "Roboto-Regular";
          font-size: 14px;
          line-height: 16px; }
        .site-content .page-content .page-body .my-transactions .transaction-table .transaction-table-body .btn-box {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }
    .site-content .page-content .page-body .approval-request {
      padding: 35px;
      background-color: #fff;
      min-height: auto;
      overflow: auto; }
      .site-content .page-content .page-body .approval-request .alert {
        color: #333333;
        font-family: "Roboto-Regular";
        font-size: 14px;
        line-height: 16px; }
    .site-content .page-content .page-body .account-ledger {
      display: flex;
      flex-direction: column;
      padding: 0 7.5px; }
    .site-content .page-content .page-body .blocks {
      padding: 0 7.5px; }
      .site-content .page-content .page-body .blocks .row {
        width: auto;
        margin-left: -7.5px;
        margin-right: -7.5px; }
    .site-content .page-content .page-body .scheduled-transactions {
      display: flex;
      flex-direction: column; }
      .site-content .page-content .page-body .scheduled-transactions .approval-request {
        height: 100%; }
    .site-content .page-content .page-body .peers .transaction-table td .btn {
      margin: 0 0 0 15px; }
    .site-content .page-content .page-body .open-orders {
      padding: 0; }
      .site-content .page-content .page-body .open-orders .approval-request {
        height: 100%; }
      .site-content .page-content .page-body .open-orders .row {
        padding: 0;
        height: 100%; }
    .site-content .page-content .page-body .account-settings .row {
      position: relative; }

.site-content .container h1 {
  color: #f00; }

.site-content.overflow-content .page-content .page-header .user-search-box .search-bar .user-account-actions .user-account-action .settings-bar {
  transform: none;
  opacity: 1;
  visibility: visible; }

.site-content.overflow-content .page-content .page-body:after {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out; }

.site-content .page-body {
  z-index: -1; }
