@import "./scss/index.scss";

.site-content {
  .container {
    h1 {
      color: #f00;
    }
  }
}

.site-content {
  &.overflow-content {
    .page-content {
      .page-header {
        .user-search-box {
          .search-bar {
            .user-account-actions {
              .user-account-action {
                .settings-bar {
                  transform: none;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
      .page-body {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 3;
          background: rgba(0,0,0,0.6);
          opacity: 1;
          visibility: visible;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .page-body {
      &:after {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .page-body {
    z-index: -1;
  }
}
