
@font-face {
	font-family: 'BBRollerMonoProST';
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-SemiBold.eot');
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-SemiBold.woff2') format('woff2'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-SemiBold.woff') format('woff'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-SemiBold.ttf') format('truetype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-SemiBold.svg#BBRollerMonoProST-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'BBRollerMonoProST';
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Bold.eot');
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Bold.woff2') format('woff2'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Bold.woff') format('woff'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Bold.ttf') format('truetype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Bold.svg#BBRollerMonoProST-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BBRollerMonoProST';
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Medium.eot');
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Medium.woff2') format('woff2'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Medium.woff') format('woff'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Medium.ttf') format('truetype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Medium.svg#BBRollerMonoProST-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'BBRollerMonoProST';
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Regular.eot');
	src: url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Regular.woff2') format('woff2'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Regular.woff') format('woff'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Regular.ttf') format('truetype'),
	url('../../fonts/BB-Roller-Mono-Pro-ST/BBRollerMonoProST-Regular.svg#BBRollerMonoProST-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
