.contractItemTitle {
  font-size: 26px;
}

.contractItemWrapper {
  display: flex;
  justify-content: space-between;
}

.contractItemInput,
.contractItemFilter {
  padding: 8px;
  margin: 10px 0;
}

.contractItemButtons {
  display: flex;
  justify-content: space-between;
}

.contractItemEvents {
  padding: 10px;
  text-align: center;
}

.contractItemBlock {
  flex: 0 0 50%;
}

.contractItemEventInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 16px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.contractItemClose {
  margin-top: 16px;
}