.textCommonWrapper {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.textCommonInputWrapper {
  display: flex;
}

.textComponentInput {
  color: #3D5A7E;
  border-radius: 2px;
  background-color: #FCFCFD;
  border: 1px solid #E6EAEE;
  font-family: "BBRollerMonoProST", sans-serif;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.57px;
  padding: 5px;
  height: 40px;
  opacity: 1;
  font-weight: 400;
  width: 100%;
}

.textComponentAppend {
  display: flex;
  margin: 0;
  height: 60px;
}