.site-content {
  &.login-page {
    margin: 0;

    .page-content .page-body {
      padding-top: 0 !important;
    }
    @media(max-width: 768px) {
      padding: 0;
      height: 100vh;
      min-height: 445px;


    }
  }
  .page-content {
    .page-body {
      & > .login {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000 url(../../../assets/login-background.png) center;
        background-size: cover;
        z-index: 100;
        min-height: 300px;
        font-family: "BBRollerMonoProST", sans-serif;
        font-weight: 400;
        color: #ffffff;

        ::placeholder {
          color: #2C323A !important;
          font-size: 18px;
          font-family: "BBRollerMonoProST", sans-serif;
          line-height: normal;
          opacity: 1;
          font-weight: 400;
          text-transform: uppercase;
        }

        :-ms-input-placeholder {
          color: #2C323A !important;
        }

        .login-wrap {
          width: 100%;
          height: 100%;
          overflow: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          flex: 2;
        }

        .left-section, .right-section {
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          max-height: 488px;
        }

        .left-section {
          padding: 5vh 0;

          .logo {
            max-height: 242.21px;
            max-width: 285px;
          }
          .title {
            font-size: 32px;
            font-weight: 400;
            letter-spacing: -1.07px;
            line-height: 38px;
            text-align: center;
            padding-bottom: 20px;
          }
          .sub-title {
            text-transform: uppercase;
            color: #2547F4;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
          }
        }

        .right-section {
          & > div {
            padding: 5vh 0;
          }

          .button-block {
            display: flex;
            flex-direction: column;
          }

          .form-block {
            border-radius: 5px;
            background-color: rgba(37,42,49,0.7);
            border: 1px solid rgba(37,244,89,0.5);
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.26);
            padding: 12px;
            width: 345px;
            margin-bottom: 15px;

            .title {
              font-family: "BBRollerMonoProST", sans-serif;
              color: #ffffff;
              font-size: 32px;
              letter-spacing: -0.84px;
              line-height: 38px;
              text-transform: uppercase;
              margin-bottom: 12px;
            }

            .form-tab-nav-box {
              display: flex;
              justify-content: space-between;

              .form-tab {
                border-radius: 3px;
                border: 1.5px solid #7E8691;
                padding: 6px 6px 7px;
                flex: 1;
                p {
                  font-family: "BBRollerMonoProST", sans-serif;
                  text-transform: uppercase;
                  color: #7E8691;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 14px;
                  text-align: center;
                }
                &:first-of-type {
                  margin-right: 8px;
                }
                &:last-of-type {
                  margin-left: 8px;
                }
                &.active {
                  border: 1.5px solid #25F459;
                  p {
                    color: #25F459;
                  }
                }
              }
            }
            .tab-body {
              width: 100%;
              padding: 40px 0 0 0;
              height: auto;
              display: flex;
              flex-direction: column;
              &.active {
                display: flex;
              }
              .input-group-app {
                height: auto;
              }
              label {
                font-family: "BBRollerMonoProST", sans-serif;
                color: #7E8691;
                font-size: 11px;
                line-height: 13px;
                padding: 0 0 5px 0;
              }
              input, .input-icon {
                color: #ffffff;
                border-radius: 3px;
                background-color: rgba(13, 15, 17, 0.45) !important;
                box-shadow: 0 10px 20px 0 rgba(30, 30, 30, 0.1);
                border: none;
                margin: 0;
                height: auto;
                i {
                  color: #2C323A;
                  padding: 0 15px !important;
                }
              }
              input {
                font-family: "BBRollerMonoProST", sans-serif;
                font-size: 18px;
                font-weight: 300;
                letter-spacing: -0.45px;
                line-height: 22px;
                padding: 11px 15px;
              }
              button.btn {
                width: 100%;
                margin-top: 30px;
                border-radius: 3px;
                background-color: #25F459;
                box-shadow: 0 3px 12px 0 rgba(37,244,89,0.3);
                color: #089B2D;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 0.54px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                font-family: "BBRollerMonoProST", sans-serif;
                position: relative;
                padding: 14px 11px;
                &:after {
                  content: '';
                  background: url(../../../assets/arrow-right.png) center no-repeat;
                  background-size: contain;
                  height: 30px;
                  width: 20px;
                  position: absolute;
                  right: 15px;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }
              }
              .info-box {
                p {
                  padding: 0;
                  color: #00f64e;
                }
              }
            }
          }

          .button-block {
            padding: 12px;
            border-radius: 5px;
            background-color: rgba(37,42,49,0.58);
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.26);
            margin-bottom: 30px;
            cursor: pointer;
            position: relative;
            &:after {
              content: '';
              background: url(../../../assets/arrow-right-black.png) center no-repeat;
              background-size: contain;
              height: 30px;
              width: 20px;
              position: absolute;
              right: 15px;
              top: 0;
              bottom: 0;
              margin: auto;
            }
            .title {
              color: #FFF;
              font-size: 32px;
              font-weight: 400;
              letter-spacing: -0.84px;
              line-height: 38px;
              text-transform: uppercase;
            }
            .sub-title {
              color: #2547F4;
              font-size: 15px;
              font-weight: 500;
              letter-spacing: 0.54px;
              line-height: 18px;
              margin-top: 10px;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}