.card {
	height: 200px;
	min-height: auto;
	border-radius: 3px;
	background-color: #FFF;
	position: relative;
	z-index: 3;
	padding: 0;
	width: 100%;
	box-shadow: 0 0 10px 0 #E6EAEE, 0 10px 20px 0 rgba(30,30,30,0.05);

	&.scroll {
		overflow-y: auto;
	}
	&.transparent {
		background: transparent;
	}
	&.card-flexible {
		min-height: auto;
		height: auto;
		//max-height: 800px;
	}
	&.auto-height {
		height: auto;
	}
	&.full-height {
		height: 100%;
	}
	&.card-full-screen {
		height: 100%;
		min-height: auto !important;

		@media(max-width : 767px) {
			height: auto;
		}
	}
	&.fll-height {
		height: calc(100% - 15px);
	}
	&.card-tall {
		min-height: 529px;
	}
	&.card-tiny {
		height: calc(25vh - 55px);
		min-height: 185px;
	}
	&.card-medium {
		height: calc(50vh - 55px);
		min-height: 385px;
	}
	&.header {
		padding: 12px;
		
		&.header-values {
			padding: 12px;
		}
		
		&.ballance {
			background: linear-gradient(179.43deg, #2B23FF 0%, #2547F4 100%);
		}
		&.assets {
			background: linear-gradient(315deg, #008CDC 0%, #00C8FF 100%);
		}
		&.currencies {
			background: linear-gradient(315deg, #00788C 0%, #00A0B4 100%);
		}
		&.coins {
			background: linear-gradient(179.43deg, #2AC940 0%, #31D947 100%);
		}
		&.medium-padding {
			padding: 35px 22.5px;
		}
		.card-title {
			color: #FFF;
			font-size: 14px;
			line-height: 17px;
			background: transparent;
			box-shadow: none;
			padding: 0;
			text-transform: uppercase;
			&.small {
				font-size: 14px;
				max-height: 125px;
				overflow-y: auto;
			}
			&.big {
				font-size: 42px;
				line-height: 42px;
			}
			&.align-middle {
				margin: auto 0;
			}
			&.bold {
				font-weight: bold;
			}
			&.medium {
				font-size: 24px;
				line-height: 1.2;
			}
		}
		.asset-account-description {
			width: 100%;
		}
		.amount {
			//margin-top: 20px;
			color: #FFFFFF;
			font-size: 36px;
			line-height: 1;
			padding-right: 50px;
			position: relative;
			margin: 15px 0;
			@media (max-width: 1850px) {
				font-size: 30px;
			}
			@media (max-width: 1660px) {
				font-size: 24px;
			}
			@media (max-width: 1440px) {
				font-size: 18px;

				.currency {
					font-size: 11px !important;
				}
				.owned {
					font-size: 20px !important;
				}
			}
			&.time {
				font-size: 22px
			}
			.text {
				overflow: hidden;
				width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
				@media (max-width: 760px) {
					white-space: normal;
					word-break: break-all;
				}
				&:hover {
					@media (min-width: 760px) {
						& + .amount-tooltip {
							opacity: 1;
							top: calc(100% + 10px);
							visibility: visible;
						}
					}
				}
			}
			
			.amount-tooltip {
				opacity: 0;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 2;
				font-size: 0.7em;
				padding: 10px;
				transition: 0.3s;
				word-break: break-all;
				visibility: hidden;
				.amount-tooltip-text {
					position: relative;
					z-index: 2;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #cccccc;
					z-index: 1;
					border-radius: 5px;
					box-shadow: 0px 0px 6px 1px rgba(#cccccc, 1);
				}
				&:after {
					content: '';
					position: absolute;
					top: -5px;
					left: 50%;
					transform: translate(-50%, 0) rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: #cccccc;
					z-index: 0;
					box-shadow: 0px 0px 6px 1px rgba(#cccccc, 1);
				}
			}
			
			.currency {
				font-size: 20px;
			}
			
			.owned {
				position: absolute;
				top: 14px;
				transform: translate(0, -50%);
				right: 0;
				color: #FFFFFF;
				font-size: 24px;
				line-height: 22px;
				min-width: 38px;
				text-align: right;
				
				//&:after {
				//	content: 'Owned';
				//	position: absolute;
				//	bottom: -10px;
				//	right: 0;
				//	opacity: 0.7;
				//	color: #FFFFFF;
				//	font-size: 12px;
				//	line-height: 14px;
				//}
				span {
					margin-top: 2px;
					display: block;
					opacity: 0.7;
					color: #FFFFFF;
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
		.account-sub-titles {
			margin-bottom: 5px;
			color: #fff;
			font-size: 11px;
			margin-left: 5px;
		}
	}
	&.single {
		min-height: 217px;
		height: auto;
	}
	&.dashboard {
		.card {
			height: 200px;
		}
	}
	
	.general-info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		
		//& > * {
		//  height: 50%;
		//  width: 50%;
		//  display: flex;
		//  flex-direction: column;
		//
		//  .top-bar {
		//    color: #FFFFFF;
		//    font-size: 24px;
		//    padding-bottom:7px;
		//  }
		//  .bottom-bar {
		//    width: 1px;
		//    color: #FFFFFF;
		//    font-size: 12px;
		//  }
		//}
		//.top-left {
		//  border-bottom: 1px solid #fff;
		//  border-right: 1px solid #fff;
		//  margin-right: -0.5px;
		//  margin-bottom: -0.5px;
		//  justify-content: flex-start;
		//}
		//.top-right {
		//  margin-right: -0.5px;
		//  margin-bottom: -0.5px;
		//  padding-left: 15px;
		//  justify-content: flex-start;
		//}
		//.bottom-left {
		//  margin-left: -0.5px;
		//  margin-top: -0.5px;
		//  justify-content: flex-end;
		//}
		//.bottom-right {
		//  border-top: 1px solid #fff;
		//  border-left: 1px solid #fff;
		//  margin-left: -0.5px;
		//  margin-top: -0.5px;
		//  padding-left: 15px;
		//  justify-content: flex-end;
		//}
	}
	.general-info-item {
		width: 50%;
		color: #FFFFFF;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		padding: 8px 8px 8px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:nth-of-type(1),
		&:nth-of-type(2) {
			border-top: none
		}
		&:nth-of-type(2n) {
			border-right: none;
			padding-left: 8px;
		}
		.top-bar {
			color: #FFFFFF;
			font-size: 24px;
			padding-bottom: 5px;
		}
		.bottom-bar {
			width: 60px;
			color: #FFFFFF;
			font-size: 12px;
		}
	}
	.card-title {
		color: #2547F4;
		font-size: 14px;
		line-height: 17px;
		font-weight: 500;
		word-break: normal;
		border-radius: 3px 3px 0 0;
		background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
		box-shadow: 0 0 10px 0 #E6EAEE, 0 10px 20px 0 rgba(30,30,30,0.05);
		padding: 10px 12px;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.bg-primary {
			background: linear-gradient(179.43deg, #2B23FF 0%, #2547F4 100%);
			box-shadow: none;
			color: #FFF;
		}
		&.bg-green {
			background: linear-gradient(179.43deg, #2AC940 0%, #31D947 100%);
			box-shadow: none;
			color: #FFF;
		}
		.title-lg {
			font-size: 34px;
			letter-spacing: -0.89px;
			line-height: 41px;
			font-weight: normal;
		}
	}
	.card-title-lg {
		height: 80px;
		min-height: 80px;
		font-size: 18px;
		line-height: 22px;
	}
	.card-title-date {
		color: #FFFFFF;
		font-size: 24px;
		margin-top: 19px;
		font-weight: 400;
	}
	.card-body {
		padding: 12px;
		height: 100%;
		overflow-y: auto;
		.text-lg {
			font-size: 18px;
			line-height: 22px;
			font-weight: 500;
		}
		.text-sm {
			font-size: 11px;
			line-height: 13px;
		}
		.text-primary {
			color: #2547F4;
		}
		.text-green {
			color: rgba(0,189,32,0.92);
		}
		.transaction-table {
			background-color: transparent;
			min-height: auto;
		}
	}
	.amount {
	
	}
	.owned {
	
	}
	.rs {
	
	}
	.blocks {
	
	}
	.footer-link {
	
	}
	.full-box {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		&.block {
			display: block;
		}
		&.offset {
			padding: 20px 0 14px;
		}
		&.align-start {
			justify-content: flex-start;
		}

		.align-self-center {
			height: 33.3333%;
			width: 100%;
			display: flex !important;
			flex-direction: column;
			justify-content: center !important;
		}
		
		.full-box-item {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-between;
			
			&.direction-row {
				flex-direction: row;
			}
			.box {
				display: flex;
				justify-content: space-around;
			}
			.description {
				width: 100%;
			}
		}
	}
	.input-group-app {
		
		//input, input[type="number"] {
		//	padding: 8px 20px;
		//}
		&.lighten {
			display: table-row;
			label {
				display: table-cell;
			}
			input {
				display: table-cell;
				background-color: #fff;
			}
		}
		label {
			color: #777777;
			font-size: 12px;
			line-height: 14px;
			padding-right: 20px;
			font-weight: 400;
		}
	}
	&.green .card-title {
		color: #FFF;
		font-size: 14px;
		line-height: 17px;
		background: linear-gradient(179.43deg, #2AC940 0%, #31D947 100%);
		box-shadow: none;
		p {
			color: #FFF;
		}
		span {
			font-size: 11px;
		}
	}
}
