.form-group-app {
	padding: 0 !important;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	border-radius: 5px;

	&.is-double {
		padding: 0;
	}
	.form-control:focus {
		box-shadow: none;
		background-color: #FCFCFD;
	}
	&.media-tab {
		@media(max-width: 768px) {
			display: flex;
			flex-direction: column;

			.form-tabulator {
				height: 100%;
			}
		}
	}
	&.devided {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		overflow: hidden;

		.right-bar {
			width: 50%;
			padding-bottom: 92px;
			position: relative;
			padding: 35px 35px 92px 35px;

			.price {
				padding-top: 35px;
				padding-bottom: 30px;
				color: #3D5A7E;
				font-size: 36px;
				line-height: 18px;
			}
			.info-table {
				padding-bottom: 30px;
			}
			@media(max-width: 768px) {
				width: 100%;
				padding: 35px 35px 69px 35px;
			}
		}
		@media(max-width: 768px) {
			flex-direction: column;
			padding: 0;
		}
	}
	&.transparent {
		background: transparent;
	}
	&.offset {
		height: 100%;
		padding: 20px 0 0px;
	}
	&.compensate-margin {
		margin: 0 -7.5px;
		margin-bottom: 15px;

	}
	&.height-auto {
		height: auto;
	}
	&.offset-bottom {
		padding-bottom: 75px;
	}
	&.no-padding-top {
		padding-top: 0;
	}
	&.no-padding-left {
		padding-left: 0 !important;
	}
	&.no-padding-bottom {
		padding-bottom: 0 !important;
	}
	.form-body {
		@media (max-width: 760px) {
			padding-bottom: 30px;
		}
		.input-section {
			padding-top: 35px;
			padding-bottom: 35px;
			border-bottom: 1px solid #E6E6E6;
			cursor: auto;
			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
		.row {
			margin: 0 -5px;
			& > * {
				padding: 0 5px;
			}
		}
	}
	.exit {
		position: absolute;
		z-index: 100;
		top: 35px;
		right: 35px;
    	padding: 10px;

		&.current-account {
			display: none;
			top: 9px;
			right: 12px;
			@media (max-width: 768px) {
				display: block;
			}
		}

		i {
			font-size: 20px;
		}
	}
	.marketplace-image {
		background-color: #F5F7FC;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 250px;
		border-radius: 3px;

		&.no-image {
			width: 100%;
			background-size: 30% !important;
			background-image: url(/assets/no-photo.svg) !important;
			background-color: #eee !important;
		}
	}
	.about-image {
		max-height: 115px;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url(../../../../assets/new_apl_icon_black.svg) !important;
		margin-right: 12px;
	}
	.form-title {
		//padding-top: 30px;
		padding-bottom: 23px;
		.backMy {
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: left;
			background-image: url('../../../../assets/left-arrow1.svg');
			margin-right: 8px;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
			transition: 0.2s;
			float: left;
			margin-top: 13px;
			&:hover {
				opacity: 0.7;
			}
		}
		&.inline {
			& > * {
				vertical-align: middle;
				display: inline-block;
			}
		}
		&.padding-left {
			p {
				padding-left: 55px;
			}
		}
		&.offset-bottom {
			p {
				padding-bottom: 28px;
			}
		}
		&.padding-top {
			p {
				padding-top: 30px;
			}
		}
		p {
			word-break: break-word;
			word-wrap: break-word;
			font-family: "BBRollerMonoProST", sans-serif;
			color: #3D5A7E;
			font-size: 32px;
			letter-spacing: -0.84px;
			line-height: 38px;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
		.form-sub-title {
			margin-top: 10px;
		}
	}
	.form-sub-title {
		color: #BBBBBB;
		font-size: 12px;
		line-height: normal;
		margin-top: 5px;

		&.align-padding-bottom {
			padding-bottom: 15px;
		}
		&.align-margin-top {
			margin-top: 5px;
		}
		&.align-right {
			text-align: right;
			justify-content: flex-end;
		}
	}
	.input-group-app {
		&:last-child:not(:first-child) {
			padding-bottom: 0 !important;
		}
		&.tabled {
			display: table !important;
		}
		&.align-middle {
			& > * {
				vertical-align: middle;
			}
			label {
				padding-left: 20px;
			}
		}
		.input-wrapper {
			width: 100%;
		}
		input {
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 5px;
			border-color: #e5e5e5;
			background-color: transparent;
		}
	}

	// needed for modal windows
	.form-tabulator {
		position: relative;
		padding: 0;
		display: none;
		&.white {
			background-color: white;

			.form-tab-nav-box {
				.form-tab {
					background-color: #F5F5F5;

					&.active {
						background-color: #fff;
					}
				}
			}
		}
		&.active {
			display: block;
		}
		.form-sub-actions {
			display: block;
			padding-top: 7px;

			.form-group-app {
				background-color: transparent;
				padding: 0;
			}
		}
	}
	.btn {
		&:hover {
			opacity: 0.9;
		}
	}

	label {
		color: #98B0CD;
		font-size: 11px;
		margin-bottom: 5px;
		display: inline-block;
		&.col-form-label {
			padding: 12px 15px;
		}
	}
	input, textarea {
		color: #3D5A7E;
		border-radius: 2px;
		background-color: #FCFCFD;
		border: 1px solid #E6EAEE;
		font-family: "BBRollerMonoProST", sans-serif;
		font-size: 14px;
		line-height: normal;
		letter-spacing: -0.57px;
		padding: 5px;
		height: 40px !important;
		opacity: 1;
		font-weight: 400;
		width: 100%;
		&:focus {
			border-color: #E6EAEE;
		}
		&:disabled {
			background-color: #FCFCFD;
		}
	}
	textarea {
		height: auto !important;
	}
	.input-group-text {
		border-radius: 0 2px 2px 0;
		background-color: #FCFCFD;
		border: 1px solid #E6EAEE;
		color: #98B0CD;
		font-size: 14px;
		letter-spacing: 0.35px;
		line-height: normal;
		text-align: right;
		padding: 5px;
		margin: 0;
		height: 40px;
	}
	.input-group-info-text {
		color: #3D5A7E;
		font-size: 14px;
		letter-spacing: -0.64px;
		line-height: normal;
		text-align: right;
	}
	.iconned-input-field {
		position: relative;
		display: flex;
		width: 100%;
		.input-group-text {
			color: #3D5A7E;
			background-color: #FCFCFD !important;
			font-size: 24px;
			padding: 0 10px !important;
		}
		.contacts-list {
			margin: -1px 0 0 0;
			border-radius: 0 0 5px 5px;
			border: 1px solid #E6EAEE;
			ul {
				background-color: #FCFCFD;
				box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.26);
				li {
					border-color: #E6EAEE;
					transition: 0.3s;
					&:hover {
						background-color: #E6EAEE;
					}
				}
			}
		}
	}
	.input-group {
		input {
			border-right: none;
		}
		.input-group-text {
			border-left: none;
		}
	}
	.form-group {
    position: relative;
    width: 100%;
		.text-note {
			position: absolute;
			top: 42px;
			color: #98B0CD;
		}
	}

	.checkbox-group {
		display: flex;
		align-items: center;
		label {
			text-transform: uppercase;
			color: #98B0CD;
			font-size: 11px;
			line-height: 13px;
			margin-bottom: 0;
			cursor: pointer;
		}
		input[type="checkbox"] {
			height: 15px !important;
			width: 15px;
			min-width: 15px;
			border-radius: 3px;
			background-color: #FCFCFD;
			border: 1px solid #25F459;
			padding: 2px !important;
			margin-right: 7px;
			cursor: pointer;
			&:after {
				top: 2px;
				bottom: 2px;
				left: 2px;
				right: 2px;
				border-radius: 1px;
				background-color: #25F459;
				background-image: none;
			}
		}
	}

	.form-tab-nav-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		//position: absolute;
		overflow-x: auto;
		bottom: 100%;
		right: 20px;
		left: 20px;

		&.justify-left {
			justify-content: flex-start;

			.form-tab {
				margin-right: 15px;
				width: auto;
				padding: 0 15px;
				white-space: pre;
			}
		}

		.form-tab {
			display: flex;
			align-items: center;
			width: 54px;
			height: 32px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			transition: 0.3s;
			&:hover {
				background-color: rgba(230, 234, 238, 0.5);
			}
			&.active {
				background-color: #E6EAEE;
			}
			p {
				font-size: 14px !important;
			}
			& > * {
				margin: auto;
				font-size: 14px;
			}
		}

		&.form-tab-icons {
			.form-tab {
				& > * {
					margin: auto;
					font-size: 18px;
				}
			}
		}
	}
	.tab-body {
		display: none;
		background-color: #FCFCFD;
		border-radius: 0 3px 3px 3px;
		border: 1px solid #E6EAEE;
		padding: 12px;
		&.active {
			display: block;
		}
		.form-group-app {
			border: none;
			border-radius: 3px;
			box-shadow: none;
			padding: 0;
			background: transparent;
			textarea, input {
				background: #ffffff;
			}
		}
		.transaction-table {
			padding: 0;
		}
	}

}

.upload-block {
	background-color: #fcfcfd;
	border: 1px solid #e6eaee;
	border-radius: 3px;
	padding: 4px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: relative;
	height: 40px;
	transition: 0.3s;

	p {
		color: #a5b9d3;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		padding-right: 15px;
	}

	img {
		height: 20px;
		width: 20px;
	}
	&.upload-block-active {
		border: 1px dashed #a5b9d3;
	}
}
