.input-group-app {
	//display: table-row;
	
	&.tabled {
		display: table !important;
	}
	&.lighten {
		input {
			background-color: #fff;
		}
	}
	&.middle {
		& > * {
			vertical-align: middle;
		}
	}
	&.inline {
		label {
			display: inline-block;
		}
	}
	&.align-top {
		label {
			align-self: flex-start;
		}
	}
	.row {
		margin-right: -15px !important;
		margin-left: -15px !important;
		
		& > * {
			display: flex;
			
			//& > * {
			//	padding-top: 10px;
			//}
		}
	}
	textarea {
		width: 100%;
	}
	
	label {
		vertical-align: middle;
	}
	&.search, &.user {
		i {
			margin: 0 !important;
			padding: 0 7px !important;
		}
		input {
			display: block;
			border-right: 0;
		}
		.input-icon {
			color: #3D5A7E;
			background: #FCFCFD;
			border: 1px solid #E6EAEE;
			border-left: 0;
			font-size: 18px;
			vertical-align: middle;
			text-align: center;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
			height: 33px;
			margin: auto;
			
			&.text {
				width: auto;
				
				i {
					font-style: normal;
					font-size: 11px;
					padding: 8px 10px;
					white-space: pre;
				}
			}
		}
		.iconned-input-field {
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-around;
			
			i {
				margin: auto;
				padding-bottom: 3px;
			}
			& * {
				&:nth-child(2) {
					border-left: 0 !important;
					border-bottom-left-radius: 0 !important;
					border-top-left-radius: 0 !important;
				}
				&:nth-child(1) {
					border-bottom-right-radius: 0 !important;
					border-top-right-radius: 0 !important;
				}
			}
		}
	}
	.calculate-fee {
		display: inline-block;
		color: #00C8FF;
		font-size: 12px;
		line-height: 14px;
		padding-right: 20px;
		cursor: pointer;
	}
	.input-icon {
		display: table-cell;
		
		&.remove-item {
			padding: 0;
			border: 0;
			width: 33px;
			border-radius: 0 3px 3px 0;
			height: 34px;

			.input-group-text {
				padding: 0;
			}
		}
		&.text {
			width: auto;
			font-size: 12px;
			
			&.btn {
				background: #00C8FF;
			}
		}
		i {
			margin: auto;
		}
	}
	.row {
		display: flex !important;
	}
	label {
		display: table-cell;
		line-height: 14px;
		padding: 0 0 0 5px;
		font-size: 13.5px;
		align-self: center;
		color: #3D5A7E;
	}
}