.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .modal-box {

    }
  }

  .modal-box {
    transform: translateY(-65px);
    margin: auto;
    display: block;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 6px;
    width: 100% !important;
    max-width: 500px;
    padding-bottom: 20px;

    @media (max-width: 760px) {
      max-width: 100%;
      height: 100%;
      border-radius: 0;
      transform: none !important;
      overflow: auto;
      min-height: 100vh;
      padding-bottom: 0;

      .modal-form {
        display: flex;

        & > div {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -moz-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: flex-start;
          -webkit-justify-content: flex-start;
          -moz-box-pack: flex-start;
          -ms-flex-pack: flex-start;
          justify-content: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
    }

    &.active {
      transform: translateY(15px);

      .modal-form {
        .left-bar {
          max-height: 700px;
          overflow-y: auto;

          &.overflow-visible {
            overflow: visible;
            max-height: auto;
          }

          .top-bar {

          }
        }
      }
    }

    &.wide {
      max-width: 750px !important;
    }

    &.x-wide {
      max-width: 1000px !important;
    }

    .area-hider {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .modal-form {
      min-width: 500px;
      @media (max-width: 760px) {
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        margin-bottom: 0;
      }

      table {
        min-width: 100%;
        padding: 0;
        border-collapse: collapse;
      }

      .form-group-app {
        padding: 12px !important;
        position: relative;
        border: 2px solid #25F459;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.26);
        @media (max-width: 760px) {
          border-radius: 0;
          height: auto;
        }
      }

      .form-tabulator {
        .form-group-app {
          border: none;
          border-radius: 3px;
          box-shadow: none;
        }
      }
    }
    .exit {
      box-sizing: border-box;
      height: 30px;
      width: 30px;
      background-color: #ffffff;
      border: 2px solid #25F459;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.26);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -15px;
      top: -15px;
      i {
        color: #25F459;
        font-size: 22px;
      }
      @media(max-width: 425px) {
        right: -10px;
        top: -10px;
      }
    }
    .about {
      display: flex;
      .left-bar {
        width: 200px;
        margin: 0;
      }
      .right-bar {
        width: calc(100% - 160px);
        .description {
          color: #3D5A7E;
          p {
            margin-top: 15px;
            a {
              color: #00C8FF;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
