.transaction-table {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 6px;
  position: relative; }
  @media (max-width: 1200px) {
    .transaction-table {
      height: auto;
      min-height: auto; } }
  .transaction-table.transparent {
    background: transparent; }
  .transaction-table.no-min-height {
    min-height: auto;
    height: auto; }
    .transaction-table.no-min-height .transaction-table-body {
      min-height: auto;
      height: auto; }
  .transaction-table.position-static {
    position: static; }
  .transaction-table .transaction-table-body {
    min-height: 560px;
    overflow-x: auto;
    width: 100%;
    border-radius: 3px;
    position: relative; }
    .transaction-table .transaction-table-body.wrap-collumns table tbody tr td {
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal; }
    .transaction-table .transaction-table-body.offset-bottom {
      padding-bottom: 75px; }
    .transaction-table .transaction-table-body.padding-only-top {
      padding: 35px 0 0 0; }
    .transaction-table .transaction-table-body.transparent {
      background-color: rgba(255, 255, 255, 0) !important; }
    .transaction-table .transaction-table-body.padding-vertical-padding {
      padding: 40px 0; }
    .transaction-table .transaction-table-body.no-padding table thead tr td {
      padding: 20px 0 20px !important;
      border: 0 !important; }
    .transaction-table .transaction-table-body table {
      overflow-x: auto;
      width: 100%;
      padding: 0 35px; }
      .transaction-table .transaction-table-body table .zmdi-info {
        color: #333333;
        transition: 0.2s; }
        .transaction-table .transaction-table-body table .zmdi-info:hover {
          color: #242424; }
      .transaction-table .transaction-table-body table thead {
        padding: 35px 0; }
        .transaction-table .transaction-table-body table thead tr td {
          color: #333333;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          padding: 0 0 20px 15px; }
          .transaction-table .transaction-table-body table thead tr td.align-right {
            text-align: right;
            padding: 0 15px 20px 0; }
          .transaction-table .transaction-table-body table thead tr td.align-right {
            text-align: right; }
          .transaction-table .transaction-table-body table thead tr td:first-child {
            padding: 0 15px 20px 0; }
          .transaction-table .transaction-table-body table thead tr td:last-child {
            padding-right: 0; }
      .transaction-table .transaction-table-body table tbody.with-padding tr td {
        padding: 18px 0 17px 15px; }
      .transaction-table .transaction-table-body table tbody tr {
        height: 6.66%; }
        .transaction-table .transaction-table-body table tbody tr td {
          border-top: 1px solid #E5E5E5;
          padding: 20px 0 20px 15px; }
          .transaction-table .transaction-table-body table tbody tr td.blue-link-text a {
            color: #00C8FF;
            font-size: 14px;
            line-height: 16px; }
          .transaction-table .transaction-table-body table tbody tr td.blue-text {
            color: #00C8FF; }
          .transaction-table .transaction-table-body table tbody tr td.word-brake {
            word-break: break-all;
            word-wrap: break-word;
            white-space: normal; }
          .transaction-table .transaction-table-body table tbody tr td.no-brake {
            white-space: pre; }
          .transaction-table .transaction-table-body table tbody tr td.align-right {
            text-align: right;
            padding: 0 15px 0 0; }
          .transaction-table .transaction-table-body table tbody tr td:first-child {
            padding-left: 0;
            font-weight: bold; }
          .transaction-table .transaction-table-body table tbody tr td:last-child {
            padding-right: 0; }
    .transaction-table .transaction-table-body .pagination-nav {
      position: absolute;
      bottom: 9px;
      left: 50%;
      transform: translateX(-50%); }
      .transaction-table .transaction-table-body .pagination-nav span {
        padding: 0 5px; }
