.transaction-table {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    position: relative;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
      @media (max-width: 1200px) {
          height: auto;
          min-height: auto;
    }

    &.transparent {
      background: transparent;
    }
    &.no-min-height {
      min-height: auto;
      height: auto;

      .transaction-table-body {
        min-height: auto;
        height: auto;
      }
    }

    &.position-static {
      position: static;
    }

    .transaction-table-body {
      //min-width: 800px;
      min-height: 560px;
      display: inline;
      width: 100%;
      border-radius: 3px;
      position: relative;
  
      &.wrap-collumns {
        table {
          tbody {
            tr {
              td {
                word-wrap: break-word;
                word-break: break-word;
                white-space: normal;
              }
            }
          }
        }
      }
      &.offset-bottom {
        padding-bottom: 75px;
      }
      &.padding-only-top {
        padding: 35px 0 0 0;
      }
      &.transparent {
        background-color: rgba(255,255,255, 0) !important;
      }
      &.padding-vertical-padding {
        padding: 40px 0;
      }
      &.no-padding {
        table {
          thead {
            tr {
              td {
                padding: 20px 0 20px !important;
                border: 0 !important;
              }
            }
          }
        }
      }

      //.btn-box {
      //  min-width: 800px;
      //}
      table {
        overflow-x: auto;

        width: 100%;
        //border-collapse: collapse;
        //min-width: 800px;
        padding: 0 35px;
        //& + .btn-box {
        //  min-width: 800px;
        //  position: absolute;
        //  bottom: 0;
        //  left: 0;
        //  right: 0;
        //  .btn {
        //    position: static !important;
        //  }
        //}
        .zmdi-info{
          color: #333333;
          transition: 0.2s;
          &:hover{
            color: #242424;
          }
        }
        thead {
          padding: 35px 0;

          tr {
            td {
              color: #333333;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              padding: 0 0 20px 15px;

              &.align-right {
                text-align: right;
                padding: 0 15px 20px 0;

              }
              &.align-right {
                text-align: right;
              }
              &:first-child {
                padding: 0 15px 20px 0;
              }
              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
        tbody {
          &.with-padding {
            tr {
              td {
                padding: 18px 0 17px 15px;
              }
            }
          }
          tr {
            height: 6.66%;

            td {
              border-top: 1px solid #E5E5E5;
              padding: 20px 0 20px 15px;
              //height: 50px;

              &.blue-link-text {
                a {
                  color: #00C8FF;
                  font-size: 14px;
                  line-height: 16px;
                }
              }
              &.blue-text {
                  color: #00C8FF;
              }
              &.word-brake {
                word-break: break-all;
                word-wrap: break-word;
                white-space: normal;
              }
              &.no-brake {
                white-space: pre;
              }
              &.align-right {
                text-align: right;
                padding: 0 15px 0 0;
              }
              &:first-child {
                padding-left: 0;
                font-weight: bold;
              }
              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
      }
      .pagination-nav {
        position: absolute;
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
        span {
          padding: 0 5px;
        }
      }
    }
}
  