.transaction-table {
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 6px;
  position: relative;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  padding: 12px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  &.transparent {
    background: transparent;
  }
  &.no-min-height {
    min-height: auto;
    height: auto;

    .transaction-table-body {
      min-height: auto;
      height: auto;
    }
  }

  &.position-static {
    position: static;
  }

  .transaction-table-body {
    width: 100%;
    border-radius: 3px;
    position: relative;
    overflow-x: auto;
    padding: 15px;

    &.wrap-collumns {
      table {
        tbody {
          tr {
            td {
              word-wrap: break-word;
              word-break: break-word;
              white-space: normal;
            }
          }
        }
      }
    }
    &.offset-bottom {
      padding-bottom: 75px;
    }
    &.padding-only-top {
      padding: 35px 0 0 0;
    }
    &.transparent {
      background-color: rgba(255,255,255, 0) !important;
    }
    &.padding-vertical-padding {
      padding: 40px 0;
    }
    &.no-padding {
      table {
        thead {
          tr {
            td {
              padding: 20px 0 20px !important;
              border: 0 !important;
            }
          }
        }
      }
    }

    //.btn-box {
    //  min-width: 800px;
    //}
    table {
      overflow-x: auto;
      width: 100%;
      .zmdi-info{
        color: #3D5A7E;
        transition: 0.2s;
        &:hover{
          color: #242424;
        }
      }
      thead {
        tr {
          td {
            color: #8AA5C7;
            font-size: 12px;
            letter-spacing: -0.3px;
            font-weight: normal;
            padding: 0 6px 12px 6px;

            &.align-right {
              text-align: right;
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
      tbody {
        &.with-padding {
          tr {
            td {
              padding: 18px 0 17px 15px;
            }
          }
        }
        tr {
          //height: 6.66%;

          td {
            color: #3D5A7E;
            font-size: 12px;
            letter-spacing: -0.4px;
            font-weight: normal;
            padding: 6px;
            border: none;

            &.blue-link-text {
              a {
                color: #2547F4;
              }
            }
            &.green-link-text {
              a {
                color: rgba(0, 189, 32, 0.92);
              }
            }
            &.blue-text {
              color: #2547F4;
            }
            &.word-brake {
              word-break: break-all;
              word-wrap: break-word;
              white-space: normal;
            }
            &.no-brake {
              white-space: pre;
            }
            &.align-right {
              text-align: right;
              padding: 0 15px 0 0;
            }
            &:first-child {
              color: #8AA5C7;
              font-size: 12px;
              letter-spacing: -0.3px;
              font-weight: normal;
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
            .btn {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  .pagination {
    padding: 12px 0;
  }
  .btn {
    min-height: auto;
  }
}
